In [1]:
import pandas as pd
import sklearn.neighbors._base
import sys
sys.modules['sklearn.neighbors.base'] = sklearn.neighbors._base

In [2]:
# Standard
import pandas as pd
import numpy as np
import os
# Pycaret
from pycaret.classification import *
# Plots
from plotly.offline import iplot
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import seaborn as sns
# Sklearn tools
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import *
# Extras
from datetime import date
import warnings
warnings.filterwarnings("ignore")
import seaborn as sns
import pycaret

from sklearn.impute import SimpleImputer

from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [85]:
df_clean = pd.read_csv('df_short_clean_df.csv')

In [86]:
df_clean

,id,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_7,last_date_of_month_8,arpu_6,arpu_7,arpu_8,...,monthly_3g_7,monthly_3g_8,sachet_3g_6,sachet_3g_7,sachet_3g_8,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,churn_probability
0,0.0,109.0,0.0,0.0,0.0,1.0,1.0,31.277,87.009,7.527,...,0.0,0.0,0.0,0.0,0.0,1958.0,0.00,0.00,0.00,0.0
1,1.0,109.0,0.0,0.0,0.0,1.0,1.0,0.000,122.787,42.953,...,1.0,0.0,0.0,0.0,0.0,710.0,0.00,0.00,0.00,0.0
2,2.0,109.0,0.0,0.0,0.0,1.0,1.0,60.806,103.176,0.000,...,0.0,0.0,0.0,0.0,0.0,882.0,0.00,0.00,0.00,0.0
3,3.0,109.0,0.0,0.0,0.0,1.0,1.0,156.362,205.260,111.095,...,0.0,0.0,0.0,0.0,0.0,982.0,0.00,0.00,0.00,0.0
4,4.0,109.0,0.0,0.0,0.0,1.0,1.0,240.708,128.191,101.565,...,0.0,0.0,0.0,1.0,0.0,647.0,0.00,0.00,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99994,99994.0,109.0,0.0,0.0,0.0,1.0,1.0,718.870,396.259,406.150,...,0.0,0.0,0.0,0.0,0.0,1255.0,3.71,105.64,61.48,-1.0
99995,99995.0,109.0,0.0,0.0,0.0,1.0,1.0,218.327,324.070,374.981,...,1.0,0.0,0.0,0.0,0.0,2258.0,0.00,0.00,0.00,-1.0
99996,99996.0,109.0,0.0,0.0,0.0,1.0,1.0,139.473,38.230,180.194,...,0.0,0.0,0.0,0.0,0.0,440.0,0.00,0.00,0.00,-1.0
99997,99997.0,109.0,0.0,0.0,0.0,1.0,1.0,1122.912,781.121,257.439,...,0.0,0.0,0.0,0.0,0.0,810.0,0.00,0.00,0.00,-1.0
99998,99998.0,109.0,0.0,0.0,0.0,1.0,1.0,318.980,307.890,605.320,...,3.0,2.0,1.0,1.0,0.0,440.0,762.55,687.13,22.76,-1.0

In [87]:
df_clean.drop(columns=['circle_id','loc_og_t2o_mou','std_og_t2o_mou','loc_ic_t2o_mou','std_og_t2c_mou_6','std_og_t2c_mou_7','std_og_t2c_mou_8','std_ic_t2o_mou_6','std_ic_t2o_mou_7',],inplace=True)

In [88]:
df_clean

,id,last_date_of_month_7,last_date_of_month_8,arpu_6,arpu_7,arpu_8,onnet_mou_6,onnet_mou_7,onnet_mou_8,offnet_mou_6,...,monthly_3g_7,monthly_3g_8,sachet_3g_6,sachet_3g_7,sachet_3g_8,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,churn_probability
0,0.0,1.0,1.0,31.277,87.009,7.527,48.58,124.38,1.29,32.24,...,0.0,0.0,0.0,0.0,0.0,1958.0,0.00,0.00,0.00,0.0
1,1.0,1.0,1.0,0.000,122.787,42.953,0.00,0.00,0.00,0.00,...,1.0,0.0,0.0,0.0,0.0,710.0,0.00,0.00,0.00,0.0
2,2.0,1.0,1.0,60.806,103.176,0.000,0.53,15.93,0.00,53.99,...,0.0,0.0,0.0,0.0,0.0,882.0,0.00,0.00,0.00,0.0
3,3.0,1.0,1.0,156.362,205.260,111.095,7.26,16.01,0.00,68.76,...,0.0,0.0,0.0,0.0,0.0,982.0,0.00,0.00,0.00,0.0
4,4.0,1.0,1.0,240.708,128.191,101.565,21.28,4.83,6.13,56.99,...,0.0,0.0,0.0,1.0,0.0,647.0,0.00,0.00,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99994,99994.0,1.0,1.0,718.870,396.259,406.150,324.46,250.01,285.41,190.36,...,0.0,0.0,0.0,0.0,0.0,1255.0,3.71,105.64,61.48,-1.0
99995,99995.0,1.0,1.0,218.327,324.070,374.981,263.79,467.24,650.26,108.53,...,1.0,0.0,0.0,0.0,0.0,2258.0,0.00,0.00,0.00,-1.0
99996,99996.0,1.0,1.0,139.473,38.230,180.194,11.08,14.89,19.94,37.24,...,0.0,0.0,0.0,0.0,0.0,440.0,0.00,0.00,0.00,-1.0
99997,99997.0,1.0,1.0,1122.912,781.121,257.439,122.74,50.23,26.46,1854.09,...,0.0,0.0,0.0,0.0,0.0,810.0,0.00,0.00,0.00,-1.0
99998,99998.0,1.0,1.0,318.980,307.890,605.320,28.09,32.93,66.31,107.78,...,3.0,2.0,1.0,1.0,0.0,440.0,762.55,687.13,22.76,-1.0

In [89]:
#convert float to int if it possible
list_of_col = df_clean.columns

In [90]:
for col in list_of_col:
    if(np.array_equal(df_clean[col], df_clean[col].astype(int))):
        df_clean[col] = df_clean[col].astype(int)

In [91]:
df_clean.dtypes

id                        int32
last_date_of_month_7      int32
last_date_of_month_8      int32
arpu_6                  float64
arpu_7                  float64
                         ...
aon                       int32
aug_vbc_3g              float64
jul_vbc_3g              float64
jun_vbc_3g              float64
churn_probability         int32
Length: 129, dtype: object

In [92]:
df_test = pd.read_csv('test.csv')

In [93]:
df_train = pd.read_csv('train.csv')

In [94]:
train_list = df_train['id'].to_list()

In [95]:
len(train_list)

69999

In [96]:
df_c_train = df_clean[df_clean['id'].isin(train_list)]

In [97]:
df_c_test = df_clean[~df_clean['id'].isin(train_list)]

In [98]:
df_c_test

,id,last_date_of_month_7,last_date_of_month_8,arpu_6,arpu_7,arpu_8,onnet_mou_6,onnet_mou_7,onnet_mou_8,offnet_mou_6,...,monthly_3g_7,monthly_3g_8,sachet_3g_6,sachet_3g_7,sachet_3g_8,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,churn_probability
69999,69999,1,1,91.882,65.330,64.445,31.78,20.23,23.11,60.16,...,0,0,0,0,0,1692,0.00,0.00,0.00,-1
70000,70000,1,1,414.168,515.568,360.868,75.51,41.21,19.84,474.34,...,0,0,0,0,0,2533,0.00,0.00,0.00,-1
70001,70001,1,1,329.844,434.884,746.239,7.54,7.86,8.40,16.98,...,0,0,0,0,0,277,525.61,758.41,241.84,-1
70002,70002,1,1,43.550,171.390,24.400,5.31,2.16,0.00,40.04,...,0,0,0,0,0,1244,0.00,0.00,0.00,-1
70003,70003,1,1,306.854,406.289,413.329,450.93,609.03,700.68,60.94,...,0,0,0,0,0,462,0.00,0.00,0.00,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99994,99994,1,1,718.870,396.259,406.150,324.46,250.01,285.41,190.36,...,0,0,0,0,0,1255,3.71,105.64,61.48,-1
99995,99995,1,1,218.327,324.070,374.981,263.79,467.24,650.26,108.53,...,1,0,0,0,0,2258,0.00,0.00,0.00,-1
99996,99996,1,1,139.473,38.230,180.194,11.08,14.89,19.94,37.24,...,0,0,0,0,0,440,0.00,0.00,0.00,-1
99997,99997,1,1,1122.912,781.121,257.439,122.74,50.23,26.46,1854.09,...,0,0,0,0,0,810,0.00,0.00,0.00,-1
99998,99998,1,1,318.980,307.890,605.320,28.09,32.93,66.31,107.78,...,3,2,1,1,0,440,762.55,687.13,22.76,-1

In [99]:
df_c_train

,id,last_date_of_month_7,last_date_of_month_8,arpu_6,arpu_7,arpu_8,onnet_mou_6,onnet_mou_7,onnet_mou_8,offnet_mou_6,...,monthly_3g_7,monthly_3g_8,sachet_3g_6,sachet_3g_7,sachet_3g_8,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,churn_probability
0,0,1,1,31.277,87.009,7.527,48.58,124.38,1.29,32.24,...,0,0,0,0,0,1958,0.00,0.00,0.00,0
1,1,1,1,0.000,122.787,42.953,0.00,0.00,0.00,0.00,...,1,0,0,0,0,710,0.00,0.00,0.00,0
2,2,1,1,60.806,103.176,0.000,0.53,15.93,0.00,53.99,...,0,0,0,0,0,882,0.00,0.00,0.00,0
3,3,1,1,156.362,205.260,111.095,7.26,16.01,0.00,68.76,...,0,0,0,0,0,982,0.00,0.00,0.00,0
4,4,1,1,240.708,128.191,101.565,21.28,4.83,6.13,56.99,...,0,0,0,1,0,647,0.00,0.00,0.00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69994,69994,1,1,15.760,410.924,329.136,0.00,7.36,10.93,0.00,...,0,0,0,1,0,221,0.00,0.00,0.00,0
69995,69995,1,1,160.083,289.129,265.772,116.54,196.46,232.63,49.53,...,0,0,0,0,0,712,0.00,0.00,0.00,0
69996,69996,1,1,372.088,258.374,279.782,77.13,68.44,78.44,335.54,...,0,0,0,0,0,879,0.00,0.00,0.00,0
69997,69997,1,1,238.575,245.414,145.062,14.01,7.64,6.71,30.34,...,1,1,0,0,0,277,664.25,1402.96,990.97,0
69998,69998,1,1,168.269,42.815,167.961,0.00,0.00,0.00,0.00,...,0,0,0,0,0,1876,0.00,0.00,0.00,0

In [100]:
df_c_train.to_csv( 'df_c_train.csv', index=False)

In [101]:
df_c_test.to_csv( 'df_c_test.csv', index=False)