11. How to bin a numeric series to 10 groups of equal size

In [4]:
import pandas as pd
import numpy as np
ser = pd.Series(np.random.random(40))

In [5]:
lblbs = pd.qcut(ser, 10, labels=False)

In [8]:
res = pd.concat([ser, lblbs], axis=1)

pandas.core.frame.DataFrame

12. How to convert a numpy array to a dataframe of given shape? (L1)

In [10]:
ser = pd.Series(np.random.randint(1, 10, 35))

In [14]:
df = pd.DataFrame(ser.values.reshape(7,5))

In [13]:
print(df)

   0  1  2  3  4
0  4  1  4  2  3
1  7  5  4  4  3
2  5  9  4  2  1
3  3  7  4  2  4
4  1  9  1  3  6
5  8  3  6  4  1
6  5  7  5  1  7

13. How to find the positions of numbers that are multiples of 3 from a series

In [39]:
ser = pd.Series(np.random.randint(1, 30, 7))

In [42]:
df_ser= ser.to_frame()

In [43]:
df_ser.rename(columns = {0:'data'}, inplace=True)

In [44]:
df_ser.query('data%3 ==0')

   data
0    24
2    24
4     3

In [41]:
df_ser

   data
0    22
1     8
2    23
3    21
4    16
5    22
6    10

In [19]:
type(ser)

pandas.core.series.Series

14. How to extract items at given positions from a series

In [45]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))

In [46]:
pos = [0, 4, 8, 14, 20]

In [47]:
# Solution
ser.take(pos)

0     a
4     e
8     i
14    o
20    u
dtype: object

    15. How to stack two series vertically and horizontally

In [48]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

In [52]:
pd.concat([ser1,ser2], axis = 0)

0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object

In [53]:
pd.concat([ser1,ser2], axis = 1)

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

16. How to get the positions of items of series A in another series B

In [57]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

In [59]:
result = [pd.Index(ser1).get_loc(i) for i in ser2]

In [60]:
result

[5, 4, 0, 8]

17. How to compute the mean squared error on a truth and predicted series

In [61]:
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

In [62]:
np.mean((truth-pred)**2)

0.2477648080157325

How to convert the first character of each element in a series to uppercase

In [63]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])