1. How to import pandas and check the version

In [1]:
import pandas as pd
print(pd.__version__)

1.4.2

2. How to create a series from a list, numpy array and dict

In [24]:
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

In [6]:
df_list = pd.DataFrame(mylist)

In [8]:
df_list.head(3)

   0
0  a
1  b
2  c

In [9]:
df_arr = pd.DataFrame(myarr)

In [10]:
df_arr.head(3)

   0
0  0
1  1
2  2

In [29]:
df_dict = pd.DataFrame.from_dict(mydict,orient='index')

In [30]:
df_dict.head(1)

   0
a  0

3. How to convert the index of a series into a column of a dataframe

In [31]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

In [35]:
df_ser = ser.to_frame().reset_index()

In [36]:
df_ser.head(1)

  index  0
0     a  0

4. How to combine many series to form a dataframe

In [37]:
import numpy as np
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

In [40]:
df_ser1 = ser1.to_frame().reset_index()

In [47]:
df_ser1.rename(columns={0:'ser1'}, inplace=True)

In [55]:
df_ser1_new = df_ser1.assign(ser2 = ser2)

In [59]:
df_ser1_new.iloc[1]

index    1
ser1     b
ser2     1
Name: 1, dtype: object

5. How to assign name to the seriesâ€™ index

In [60]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

In [64]:
ser.index.name = 'ivan_index'

In [68]:
ser.name = 'jhon_index'

In [70]:
ser

ivan_index
0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
Name: jhon_index, dtype: object

6. How to get the items of series A not present in series B

In [72]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [79]:
df_ser_ins =pd.Series(list(set(ser1) & set(ser2)))

In [80]:
df_ser_ins

0    4
1    5
dtype: int64

7. How to get the items not common to both series A and series B

In [85]:
df_ser_out = pd.concat([ser1,ser2]).drop_duplicates()

In [91]:
df_set_diff = pd.Series(list(set(df_ser_out).difference(set(df_ser_ins))))

In [92]:
df_set_diff

0    1
1    2
2    3
3    6
4    7
5    8
dtype: int64