21. How to convert a series of date-strings to a timeseries

In [1]:
import pandas as pd
import numpy as np

In [2]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

In [7]:
ser = pd.to_datetime(ser)

In [8]:
ser

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

22. How to get the day of month, week number, day of year and day of week from a series of date strings

In [9]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

In [10]:
ser_2 = pd.to_datetime(ser)

In [15]:
ser_2.dt.dayofweek

0    4
1    2
2    5
3    3
4    0
5    5
dtype: int64

In [17]:
ser_2.dt.isocalendar().week

0    53
1     5
2     9
3    14
4    19
5    23
Name: week, dtype: UInt32

23. How to convert year-month string to dates corresponding to the 4th day of the month

In [18]:
ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])

In [19]:
ser_2 = pd.to_datetime(ser)

In [20]:
ser_2

0   2010-01-01
1   2011-02-01
2   2012-03-01
dtype: datetime64[ns]

In [27]:
ser_2.apply(lambda x: x+pd.DateOffset(3))

0   2010-01-04
1   2011-02-04
2   2012-03-04
dtype: datetime64[ns]

s

22. How to convert a numpy array to a dataframe of given shape? (L1)

In [10]:
ser = pd.Series(np.random.randint(1, 10, 35))

In [14]:
df = pd.DataFrame(ser.values.reshape(7,5))

In [13]:
print(df)

   0  1  2  3  4
0  4  1  4  2  3
1  7  5  4  4  3
2  5  9  4  2  1
3  3  7  4  2  4
4  1  9  1  3  6
5  8  3  6  4  1
6  5  7  5  1  7

23. How to find the positions of numbers that are multiples of 3 from a series

In [39]:
ser = pd.Series(np.random.randint(1, 30, 7))

In [42]:
df_ser= ser.to_frame()

In [43]:
df_ser.rename(columns = {0:'data'}, inplace=True)

In [44]:
df_ser.query('data%3 ==0')

   data
0    24
2    24
4     3

In [41]:
df_ser

   data
0    22
1     8
2    23
3    21
4    16
5    22
6    10

In [19]:
type(ser)

pandas.core.series.Series

24. How to extract items at given positions from a series

In [45]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))

In [46]:
pos = [0, 4, 8, 14, 20]

In [47]:
# Solution
ser.take(pos)

0     a
4     e
8     i
14    o
20    u
dtype: object

    15. How to stack two series vertically and horizontally

In [48]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

In [52]:
pd.concat([ser1,ser2], axis = 0)

0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object

In [53]:
pd.concat([ser1,ser2], axis = 1)

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

25. How to get the positions of items of series A in another series B

In [57]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

In [59]:
result = [pd.Index(ser1).get_loc(i) for i in ser2]

In [60]:
result

[5, 4, 0, 8]

26. How to compute the mean squared error on a truth and predicted series

In [61]:
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

In [62]:
np.mean((truth-pred)**2)

0.2477648080157325

How to convert the first character of each element in a series to uppercase

In [63]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

In [64]:
df_ser = ser.to_frame()

In [68]:
df_ser.rename(columns={0:'word'}, inplace=True)

In [69]:
df_ser

   word
0   how
1    to
2  kick
3  ass?

In [79]:
df_ser.apply(lambda x: x.str.capitalize(), axis=1)

   word
0   How
1    To
2  Kick
3  Ass?

In [80]:
ser.apply(lambda x: x.capitalize())

0     How
1      To
2    Kick
3    Ass?
dtype: object

19. How to calculate the number of characters in each word in a series

In [81]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

In [85]:
ser.apply(lambda x: len(x))

0    3
1    2
2    4
3    4
dtype: int64

20. How to compute difference of differences between consequtive numbers of a series

In [87]:
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

In [90]:
ser.diff().tolist()

[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]