21. How to convert a series of date-strings to a timeseries

In [1]:
import pandas as pd
import numpy as np

In [2]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

In [3]:
ser = pd.to_datetime(ser)

In [4]:
ser

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

22. How to get the day of month, week number, day of year and day of week from a series of date strings

In [5]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

In [6]:
ser_2 = pd.to_datetime(ser)

In [7]:
ser_2.dt.dayofweek

0    4
1    2
2    5
3    3
4    0
5    5
dtype: int64

In [8]:
ser_2.dt.isocalendar().week

0    53
1     5
2     9
3    14
4    19
5    23
Name: week, dtype: UInt32

23. How to convert year-month string to dates corresponding to the 4th day of the month

In [9]:
ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])

In [10]:
ser_2 = pd.to_datetime(ser)

In [11]:
ser_2

0   2010-01-01
1   2011-02-01
2   2012-03-01
dtype: datetime64[ns]

In [13]:
ser_2.apply(lambda x: x+pd.DateOffset(3))

0   2010-01-04
1   2011-02-04
2   2012-03-04
dtype: datetime64[ns]

s

24. How to filter words that contain atleast 2 vowels from a series

In [82]:
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])

In [83]:
# check how many vovels in word
def two_vovels(word):
    num_vovels = 0
    for char in word:
        if char in "aeiouAEIOU":
            num_vovels = num_vovels + 1
    return (num_vovels == 2)

In [84]:
df_ser = ser.to_frame()

In [85]:
df_ser.rename(columns={0:'wrd'}, inplace=True)

In [86]:
df_ser[df_ser['wrd'].apply(two_vovels)]

     wrd
0  Apple
4  Money

25. How to filter valid emails from a series

In [118]:
emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'

In [119]:
emails

0    buying books at amazom.com
1             rameses@egypt.com
2                     matt@t.co
3             narendra@modi.com
dtype: object

In [ ]:
def check_email(word):
    char = list(word)

In [124]:
import re

In [127]:
m = 'buying books at amazom.com narendra@modi.com'

In [136]:
for word in m.split():

    res = bool(re.match("[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}",word))
    print(word,res)

buying False
books False
at False
amazom.com False
narendra@modi.com True

In [137]:
for word in m.split():

    res = bool(re.match("[A-Za-z0-9._%+-]",word))
    print(word,res)

buying True
books True
at True
amazom.com True
narendra@modi.com True