In [1]:
import pandas as pd
import numpy as np

41. How to count the number of missing values in each column
Count the number of missing values in each column of df. Which column has the maximum number of missing values

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

In [4]:
df_check = df.isnull()

In [5]:
df_check.count()

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
1,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,True,False,False,False,False,False,True,...,False,False,False,True,False,False,False,False,False,False
4,False,False,False,True,False,True,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,True,False
89,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
90,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
91,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
92,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [9]:
df.isnull().sum()

Manufacturer           4
Model                  1
Type                   3
Min.Price              7
Price                  2
Max.Price              5
MPG.city               9
MPG.highway            2
AirBags                6
DriveTrain             7
Cylinders              5
EngineSize             2
Horsepower             7
RPM                    3
Rev.per.mile           6
Man.trans.avail        5
Fuel.tank.capacity     8
Passengers             2
Length                 4
Wheelbase              1
Width                  6
Turn.circle            5
Rear.seat.room         4
Luggage.room          19
Weight                 7
Origin                 5
Make                   3
dtype: int64

In [13]:
df.isnull().sum().sum()

138

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
1,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,True,False,False,False,False,False,True,...,False,False,False,True,False,False,False,False,False,False
4,False,False,False,True,False,True,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,True,False
89,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
90,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
91,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
92,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

42. How to replace missing values of multiple numeric columns with the mean
Replace missing values in Min.Price and Max.Price columns with their respective mean.

In [11]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

In [15]:
df['Min.Price'].mean()

17.118604651162787

In [18]:
df['Min.Price'].fillna(df['Min.Price'].mean(), inplace=True )

In [20]:
df.head(3)

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,None,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90

43. How to select a specific column from a dataframe as a dataframe instead of a series
Get the first column (a) in df as a dataframe (rather than as a Series).

In [27]:
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

In [34]:
t = df[['a']]

In [35]:
type(t)

pandas.core.frame.DataFrame

44. How to change the order of columns of a dataframe
1 In df, interchange columns 'a' and 'c'.
45. d
46.

In [62]:
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

In [42]:
df = df[['c','b','a','d','e']]

In [44]:
df.head(1)

   c  b  a  d  e
0  2  1  0  3  4

Create a generic function to interchange two columns, without hardcoding column names.

In [61]:
def index_swap(df ,first, second):
    i = df.columns.tolist()
    first_index = i.index(first)
    second_index = i.index(second)
    i[first_index] , i[second_index] = i[second_index] , i[first_index]
    df = df[i]
    return df

In [74]:
print(index_swap(df ,'c', 'd'))

    a   b   d   c   e
0   0   1   3   2   4
1   5   6   8   7   9
2  10  11  13  12  14
3  15  16  18  17  19

3. Sort the columns in reverse alphabetical order, that is colume 'e' first through column 'a' last.

In [72]:
def alphabetic(df):
    i = df.columns.tolist()
    j = sorted(i)
    df = df[j]
    return df

In [75]:
alphabetic(df)

    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19

4. How to format or suppress scientific notations in a pandas dataframe
Suppress scientific notations like ‘e-03’ in df and print upto 4 numbers after decimal.

In [76]:
df = pd.DataFrame(np.random.random(4)**10, columns=['random'])

In [83]:
df = df.apply(lambda x: '%.4f' % x, axis=1)

In [84]:
df

0    0.0293
1    0.0002
2    0.2391
3    0.0000
dtype: object

49.How to filter every nth row in a dataframe
From df, filter the 'Manufacturer', 'Model' and 'Type' for every 20th row starting from 1st (row 0).

In [85]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

In [89]:
df.iloc[::20, :][['Manufacturer', 'Model', 'Type']]

   Manufacturer    Model     Type
0         Acura  Integra    Small
20     Chrysler  LeBaron  Compact
40        Honda  Prelude   Sporty
60      Mercury   Cougar  Midsize
80       Subaru   Loyale    Small

50. How to create a primary key index by combining relevant columns
In df, Replace NaNs with ‘missing’ in columns 'Manufacturer', 'Model' and 'Type' and create a index as a combination of these three columns and check if the index is a primary key.

In [90]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv', usecols=[0,1,2,3,5])

In [96]:
df[['Manufacturer','Model','Type']] = df[['Manufacturer','Model','Type']].fillna('missing')

In [101]:
df.index = df['Manufacturer'] +'-'+ df['Model'] +'-'+ df['Type']

In [103]:
df.head(1)

                    Manufacturer    Model   Type  Min.Price  Max.Price
Acura-Integra-Small        Acura  Integra  Small       12.9       18.8