In [1]:
import pandas as pd
import numpy as np

51. How to get the row number of the nth largest value in a column
Find the row position of the 5th largest value of column 'a' in df.

In [2]:
df = pd.DataFrame(np.random.randint(1, 30, 30).reshape(10,-1), columns=list('abc'))

In [3]:
df['a'].nlargest(5)

1    29
5    27
8    27
3    25
2    14
Name: a, dtype: int32

In [4]:
df['a'].nlargest(5).min()

14

52. How to find the position of the nth largest value greater than a given value
In ser, find the position of the 2nd largest value greater than the mean.

In [5]:
ser = pd.Series(np.random.randint(1, 100, 15))

In [6]:
ser.mean()

40.8

In [7]:
ser

0     24
1      3
2     58
3      2
4     15
5     37
6     34
7     80
8     58
9     99
10    30
11    62
12     2
13    14
14    94
dtype: int32

In [8]:
elem = ser.sort_values()[ser > ser.mean()].iloc[1]

In [9]:
ser[ser == elem ].index.to_list()

[2, 8]

53. How to get the last n rows of a dataframe with row sum > 100
Get the last two rows of df whose row sum is greater than 100.

In [10]:
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))

In [11]:
df['row_sum'] = df[0] + df[1] + df[2] + df[3]

In [12]:
df[df['row_sum']>100].iloc[:-1]

     0   1   2   3  row_sum
0   20  31  35  16      102
1   33  26  35  31      125
2   31  35  17  20      103
5   34  22  27  27      110
7   26  29  38  33      126
8   22  35  22  27      106
10  37  21  29  26      113
12  31  31  39  16      117
13  21  15  37  36      109

In [13]:
df[df['row_sum']>100].iloc[-3:]

     0   1   2   3  row_sum
12  31  31  39  16      117
13  21  15  37  36      109
14  35  34  38  34      141

54. How to find and cap outliers from a series or dataframe column
Replace all values of ser in the lower 5%ile and greater than 95%ile with respective 5th and 95th %ile value.

In [14]:
ser = pd.Series(np.logspace(-2, 2, 30))

In [15]:
sder = ser.to_frame()
sder.columns = ['data']

In [16]:
sder['segment'] = pd.qcut(sder['data'],20, labels=False)

In [17]:
mean_sder =  sder[sder['segment'] == 19]['data'].mean()

In [18]:
mean_sder

86.39476921991573

In [19]:
sder[sder['segment'] == 19]['data'] = mean_sder

C:\Temp\ipykernel_15028\3797077146.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sder[sder['segment'] == 19]['data'] = mean_sder

In [20]:
df1.loc[df1['stream'] == 2, ['feat','another_feat']] = 'aaaa'

NameError: name 'df1' is not defined

In [ ]:
sder.loc[sder['segment'] == 19,'data'] = mean_sder

55. How to reshape a dataframe to the largest possible square after removing the negative values
Reshape df to the largest possible square with negative values removed. Drop the smallest values if need be.
The order of the positive numbers in the result should remain the same as the original.

In [ ]:
df = pd.DataFrame(np.random.randint(-20, 50, 100).reshape(10,-1))

In [ ]:
df

In [ ]:
 col_list = list(df.columns.values)

In [ ]:
sup_lis = []

In [ ]:
for col_name in col_list:
    sup_lis.extend(df[col_name].tolist())

In [ ]:
sup_lis

In [ ]:
new_list = [item for item in sup_lis if item > 0]

In [ ]:
target_size = int(len(new_list) ** 0.5)

In [ ]:
new_list_sorted = sorted(new_list)

In [ ]:
target_list = new_list_sorted[0:target_size ** 2]

In [ ]:
print(len(target_list))

In [ ]:
target_dataframe = pd.DataFrame(np.reshape(target_list, (target_size, target_size)))

56. How to swap two rows of a dataframe
Swap rows 1 and 2 in df.
IMPORTANT

In [83]:
df = pd.DataFrame(np.arange(25).reshape(5, -1))

In [84]:
df

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

In [85]:
df.iloc[2] , df.iloc[1] = df.iloc[1].copy() , df.iloc[2].copy()

In [86]:
df

    0   1   2   3   4
0   0   1   2   3   4
1  10  11  12  13  14
2   5   6   7   8   9
3  15  16  17  18  19
4  20  21  22  23  24

57. How to reverse the rows of a dataframe
Reverse all the rows of dataframe df.

In [87]:
df = pd.DataFrame(np.arange(25).reshape(5, -1))

In [107]:
df[::-1]

    0   1   2   3   4
4  20  21  22  23  24
3  15  16  17  18  19
2  10  11  12  13  14
1   5   6   7   8   9
0   0   1   2   3   4

58. How to create one-hot encodings of a categorical variable (dummy variables)
Get one-hot encodings for column 'a' in the dataframe df and append it as columns.

In [108]:
df = pd.DataFrame(np.arange(25).reshape(5,-1), columns=list('abcde'))

In [109]:
df

    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

In [115]:
pd.get_dummies(data=df,columns=["a"],prefix="",prefix_sep = "")

    b   c   d   e  0  5  10  15  20
0   1   2   3   4  1  0   0   0   0
1   6   7   8   9  0  1   0   0   0
2  11  12  13  14  0  0   1   0   0
3  16  17  18  19  0  0   0   1   0
4  21  22  23  24  0  0   0   0   1

59. Which column contains the highest number of row-wise maximum values
Obtain the column name with the highest number of row-wise maximum’s in df.

In [116]:
df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1))

In [119]:
df

    0   1   2   3
0  79  92  60  48
1  42  56  24  21
2  25  65  94  68
3  81  80  40  54
4  75  81  26  55
5  27  38  64  20
6  34  74  22  41
7  52   9  77  58
8  71  59  63  80
9  22  99  30   4

In [131]:
df.idxmax(axis=1)

0    1
1    1
2    2
3    0
4    1
5    2
6    1
7    2
8    3
9    1
dtype: int64

In [132]:
type(df.idxmax(axis=1))

pandas.core.series.Series