In [2]:
import pandas as pd
import numpy as np

51. How to get the row number of the nth largest value in a column
Find the row position of the 5th largest value of column 'a' in df.

In [3]:
df = pd.DataFrame(np.random.randint(1, 30, 30).reshape(10,-1), columns=list('abc'))

In [4]:
df['a'].nlargest(5)

4    23
0    17
6    16
9    16
3    12
Name: a, dtype: int32

In [5]:
df['a'].nlargest(5).min()

12

52. How to find the position of the nth largest value greater than a given value
In ser, find the position of the 2nd largest value greater than the mean.

In [6]:
ser = pd.Series(np.random.randint(1, 100, 15))

In [7]:
ser.mean()

30.4

In [8]:
ser

0     18
1     23
2     19
3     25
4     30
5     49
6     18
7     51
8     75
9     30
10    30
11    18
12    47
13    12
14    11
dtype: int32

In [9]:
elem = ser.sort_values()[ser > ser.mean()].iloc[1]

In [10]:
ser[ser == elem ].index.to_list()

[5]

53. How to get the last n rows of a dataframe with row sum > 100
Get the last two rows of df whose row sum is greater than 100.

In [11]:
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))

In [12]:
df['row_sum'] = df[0] + df[1] + df[2] + df[3]

In [13]:
df[df['row_sum']>100].iloc[:-1]

     0   1   2   3  row_sum
1   27  34  36  34      131
8   39  17  30  32      118
10  31  29  16  27      103

In [14]:
df[df['row_sum']>100].iloc[-3:]

     0   1   2   3  row_sum
8   39  17  30  32      118
10  31  29  16  27      103
13  37  26  26  34      123

54. How to find and cap outliers from a series or dataframe column
Replace all values of ser in the lower 5%ile and greater than 95%ile with respective 5th and 95th %ile value.

In [15]:
ser = pd.Series(np.logspace(-2, 2, 30))

In [16]:
sder = ser.to_frame()
sder.columns = ['data']

In [17]:
sder['segment'] = pd.qcut(sder['data'],20, labels=False)

In [18]:
mean_sder =  sder[sder['segment'] == 19]['data'].mean()

In [19]:
mean_sder

86.39476921991573

In [20]:
sder[sder['segment'] == 19]['data'] = mean_sder

C:\Temp\ipykernel_17724\3797077146.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sder[sder['segment'] == 19]['data'] = mean_sder

In [24]:
sder.loc[sder['segment'] == 19,'data'] = mean_sder

55. How to reshape a dataframe to the largest possible square after removing the negative values
Reshape df to the largest possible square with negative values removed. Drop the smallest values if need be.
The order of the positive numbers in the result should remain the same as the original.

In [25]:
df = pd.DataFrame(np.random.randint(-20, 50, 100).reshape(10,-1))

In [26]:
df

    0   1   2   3   4   5   6   7   8   9
0  13  24   2  24  45  41 -13  -9  12  47
1   6   4  11  49  24  -5  -2  -9  14  46
2  23  -4   8   2  -2   5  -6   2 -12  41
3  40  -5  14  23  -9 -11   0  23  11 -18
4  10  32   1 -15  29  29 -12  49  33  41
5  22  36   1   1  31  -6 -19 -15  -8  32
6  19  26  49   5  -5 -19   5  11  32  41
7  -7 -18  26   6   8  21  29 -18  13  29
8  10  36  27  -7  17  18  31   1  -5  -5
9  18 -20  15   1  30  -4  42 -10 -16  -8

In [27]:
 col_list = list(df.columns.values)

In [28]:
sup_lis = []

In [29]:
for col_name in col_list:
    sup_lis.extend(df[col_name].tolist())

In [30]:
sup_lis

[13,
 6,
 23,
 40,
 10,
 22,
 19,
 -7,
 10,
 18,
 24,
 4,
 -4,
 -5,
 32,
 36,
 26,
 -18,
 36,
 -20,
 2,
 11,
 8,
 14,
 1,
 1,
 49,
 26,
 27,
 15,
 24,
 49,
 2,
 23,
 -15,
 1,
 5,
 6,
 -7,
 1,
 45,
 24,
 -2,
 -9,
 29,
 31,
 -5,
 8,
 17,
 30,
 41,
 -5,
 5,
 -11,
 29,
 -6,
 -19,
 21,
 18,
 -4,
 -13,
 -2,
 -6,
 0,
 -12,
 -19,
 5,
 29,
 31,
 42,
 -9,
 -9,
 2,
 23,
 49,
 -15,
 11,
 -18,
 1,
 -10,
 12,
 14,
 -12,
 11,
 33,
 -8,
 32,
 13,
 -5,
 -16,
 47,
 46,
 41,
 -18,
 41,
 32,
 41,
 29,
 -5,
 -8]

In [31]:
new_list = [item for item in sup_lis if item > 0]

In [32]:
target_size = int(len(new_list) ** 0.5)

In [33]:
new_list_sorted = sorted(new_list)

In [34]:
target_list = new_list_sorted[0:target_size ** 2]

In [35]:
print(len(target_list))

64

In [36]:
target_dataframe = pd.DataFrame(np.reshape(target_list, (target_size, target_size)))

56. How to swap two rows of a dataframe
Swap rows 1 and 2 in df.
IMPORTANT

In [37]:
df = pd.DataFrame(np.arange(25).reshape(5, -1))

In [38]:
df

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

In [39]:
df.iloc[2] , df.iloc[1] = df.iloc[1].copy() , df.iloc[2].copy()

In [40]:
df

    0   1   2   3   4
0   0   1   2   3   4
1  10  11  12  13  14
2   5   6   7   8   9
3  15  16  17  18  19
4  20  21  22  23  24

57. How to reverse the rows of a dataframe
Reverse all the rows of dataframe df.

In [41]:
df = pd.DataFrame(np.arange(25).reshape(5, -1))

In [42]:
df[::-1]

    0   1   2   3   4
4  20  21  22  23  24
3  15  16  17  18  19
2  10  11  12  13  14
1   5   6   7   8   9
0   0   1   2   3   4

58. How to create one-hot encodings of a categorical variable (dummy variables)
Get one-hot encodings for column 'a' in the dataframe df and append it as columns.

In [43]:
df = pd.DataFrame(np.arange(25).reshape(5,-1), columns=list('abcde'))

In [44]:
df

    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

In [45]:
pd.get_dummies(data=df,columns=["a"],prefix="",prefix_sep = "")

    b   c   d   e  0  5  10  15  20
0   1   2   3   4  1  0   0   0   0
1   6   7   8   9  0  1   0   0   0
2  11  12  13  14  0  0   1   0   0
3  16  17  18  19  0  0   0   1   0
4  21  22  23  24  0  0   0   0   1

59. Which column contains the highest number of row-wise maximum values
Obtain the column name with the highest number of row-wise maximumâ€™s in df.

In [46]:
df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1))

In [47]:
df

    0   1   2   3
0  22  94  85   3
1  22  71  49  61
2  12  42  32  57
3  76  65  70  79
4  65  33  33  35
5  86   4  99  67
6  99  86  72  43
7  89  67  37  13
8  24  75   2  26
9  29  82  28  75

In [51]:
list_of_column_id = df.idxmax(axis=1).tolist()

In [52]:
     from collections import Counter

In [58]:
dic_count =  dict(Counter(list_of_column_id))

In [59]:
type(dic_count)

dict

In [60]:
dic_count

{1: 4, 3: 2, 0: 3, 2: 1}

In [62]:
max_column = max(dic_count, key=lambda k: dic_count[k])

In [65]:
print('column with max number of  max values == ', max_column)

column with max number of  max values ==  1

60. How to create a new column that contains the row number of nearest column by euclidean distance
Create a new column such that, each row contains the row number of nearest row-record by euclidean distance.

In [66]:
df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1), columns=list('pqrs'), index=list('abcdefghij'))

In [67]:
df

    p   q   r   s
a   1  47  10  16
b  50  81  81  85
c  22  95  46  78
d  67  32  53  46
e  65  80   3  43
f  94  51  41  24
g  45  44   1  95
h  22  14  88   5
i  45  79   7  69
j  18  89  84  51

In [77]:
import scipy
from scipy.spatial import distance

In [96]:
al_rows = df.index.to_list()