In [3]:
import pandas as pd
import numpy as np

51. How to get the row number of the nth largest value in a column
Find the row position of the 5th largest value of column 'a' in df.

In [4]:
df = pd.DataFrame(np.random.randint(1, 30, 30).reshape(10,-1), columns=list('abc'))

In [7]:
df['a'].nlargest(5)

4    29
2    27
0    26
5    26
3    20
Name: a, dtype: int32

In [13]:
df['a'].nlargest(5).min()

20

52. How to find the position of the nth largest value greater than a given value
In ser, find the position of the 2nd largest value greater than the mean.

In [14]:
ser = pd.Series(np.random.randint(1, 100, 15))

In [16]:
ser.mean()

43.53333333333333

In [17]:
ser

0     16
1     96
2     12
3     57
4     41
5     26
6      9
7      3
8     53
9     78
10    17
11    89
12    32
13    60
14    64
dtype: int32

In [30]:
elem = ser.sort_values()[ser > ser.mean()].iloc[1]

In [37]:
ser[ser == elem ].index.to_list()

[3]