In [3]:
import pandas as pd
import numpy as np

51. How to get the row number of the nth largest value in a column
Find the row position of the 5th largest value of column 'a' in df.

In [4]:
df = pd.DataFrame(np.random.randint(1, 30, 30).reshape(10,-1), columns=list('abc'))

In [7]:
df['a'].nlargest(5)

4    29
2    27
0    26
5    26
3    20
Name: a, dtype: int32

In [13]:
df['a'].nlargest(5).min()

20

52. How to find the position of the nth largest value greater than a given value
In ser, find the position of the 2nd largest value greater than the mean.

In [14]:
ser = pd.Series(np.random.randint(1, 100, 15))

In [16]:
ser.mean()

43.53333333333333

In [17]:
ser

0     16
1     96
2     12
3     57
4     41
5     26
6      9
7      3
8     53
9     78
10    17
11    89
12    32
13    60
14    64
dtype: int32

In [30]:
elem = ser.sort_values()[ser > ser.mean()].iloc[1]

In [37]:
ser[ser == elem ].index.to_list()

[3]

53. How to get the last n rows of a dataframe with row sum > 100
Get the last two rows of df whose row sum is greater than 100.

In [47]:
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))

In [48]:
df['row_sum'] = df[0] + df[1] + df[2] + df[3]

In [55]:
df[df['row_sum']>100].iloc[:-1]

     0   1   2   3  row_sum
2   30  22  38  32      122
3   13  21  33  36      103
9   31  33  39  20      123
11  30  38  16  38      122

In [72]:
df[df['row_sum']>100].iloc[-3:]

     0   1   2   3  row_sum
9   31  33  39  20      123
11  30  38  16  38      122
14  27  30  26  19      102

54. How to find and cap outliers from a series or dataframe column
Replace all values of ser in the lower 5%ile and greater than 95%ile with respective 5th and 95th %ile value.

In [73]:
ser = pd.Series(np.logspace(-2, 2, 30))

In [90]:
sder = ser.to_frame()
sder.columns = ['data']

In [96]:
sder['segment'] = pd.qcut(sder['data'],20, labels=False)

In [103]:
mean_sder =  sder[sder['segment'] == 19]['data'].mean()

In [104]:
mean_sder

86.39476921991573

In [106]:
sder[sder['segment'] == 19]['data'] = mean_sder

C:\Temp\ipykernel_6280\3744192986.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sder[sder['segment'] == 19]['data'] = mean_sder

In [ ]:
df1.loc[df1['stream'] == 2, ['feat','another_feat']] = 'aaaa'

In [108]:
sder.loc[sder['segment'] == 19,'data'] = mean_sder

55. How to reshape a dataframe to the largest possible square after removing the negative values
Reshape df to the largest possible square with negative values removed. Drop the smallest values if need be.
The order of the positive numbers in the result should remain the same as the original.

In [109]:
df = pd.DataFrame(np.random.randint(-20, 50, 100).reshape(10,-1))

In [155]:
df

    0   1   2   3   4   5   6   7   8   9
0  41   3  36  49  23  21  19  -7   0  12
1  -9  36  20  -8 -14  23 -11  44  20  31
2  21  -2 -15  -9 -17  26  24  14  37  35
3  -4  -7  18   3   0 -10  36   1  36  47
4  47  48  31   2  28 -16   8  40  45   8
5  20 -12  35 -10 -18   0   8  29  34  44
6  15  44   9  48  34  41  -3  38  28  49
7   4  -9  39  11   2  23  37  29  32  21
8  44  36  32  32   7  39  46   3  46  11
9  20  37 -20   8  45  -7   1  25  -3  36

In [119]:
 col_list = list(df.columns.values)

In [130]:
sup_lis = []

In [131]:
for col_name in col_list:
    sup_lis.extend(df[col_name].tolist())

In [135]:
sup_lis

[41,
 -9,
 21,
 -4,
 47,
 20,
 15,
 4,
 44,
 20,
 3,
 36,
 -2,
 -7,
 48,
 -12,
 44,
 -9,
 36,
 37,
 36,
 20,
 -15,
 18,
 31,
 35,
 9,
 39,
 32,
 -20,
 49,
 -8,
 -9,
 3,
 2,
 -10,
 48,
 11,
 32,
 8,
 23,
 -14,
 -17,
 0,
 28,
 -18,
 34,
 2,
 7,
 45,
 21,
 23,
 26,
 -10,
 -16,
 0,
 41,
 23,
 39,
 -7,
 19,
 -11,
 24,
 36,
 8,
 8,
 -3,
 37,
 46,
 1,
 -7,
 44,
 14,
 1,
 40,
 29,
 38,
 29,
 3,
 25,
 0,
 20,
 37,
 36,
 45,
 34,
 28,
 32,
 46,
 -3,
 12,
 31,
 35,
 47,
 8,
 44,
 49,
 21,
 11,
 36]

In [136]:
new_list = [item for item in sup_lis if item > 0]

In [145]:
target_size = int(len(new_list) ** 0.5)

In [149]:
new_list_sorted = sorted(new_list)

In [152]:
target_list = new_list_sorted[0:target_size ** 2]

In [156]:
print(len(target_list))

64

In [163]:
target_dataframe = pd.DataFrame(np.reshape(target_list, (target_size, target_size)))