In [3]:
import pandas as pd
import numpy as np

51. How to get the row number of the nth largest value in a column
Find the row position of the 5th largest value of column 'a' in df.

In [4]:
df = pd.DataFrame(np.random.randint(1, 30, 30).reshape(10,-1), columns=list('abc'))

In [7]:
df['a'].nlargest(5)

4    29
2    27
0    26
5    26
3    20
Name: a, dtype: int32

In [13]:
df['a'].nlargest(5).min()

20

52. How to find the position of the nth largest value greater than a given value
In ser, find the position of the 2nd largest value greater than the mean.

In [14]:
ser = pd.Series(np.random.randint(1, 100, 15))

In [16]:
ser.mean()

43.53333333333333

In [17]:
ser

0     16
1     96
2     12
3     57
4     41
5     26
6      9
7      3
8     53
9     78
10    17
11    89
12    32
13    60
14    64
dtype: int32

In [30]:
elem = ser.sort_values()[ser > ser.mean()].iloc[1]

In [37]:
ser[ser == elem ].index.to_list()

[3]

53. How to get the last n rows of a dataframe with row sum > 100
Get the last two rows of df whose row sum is greater than 100.

In [47]:
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))

In [48]:
df['row_sum'] = df[0] + df[1] + df[2] + df[3]

In [55]:
df[df['row_sum']>100].iloc[:-1]

     0   1   2   3  row_sum
2   30  22  38  32      122
3   13  21  33  36      103
9   31  33  39  20      123
11  30  38  16  38      122

In [72]:
df[df['row_sum']>100].iloc[-3:]

     0   1   2   3  row_sum
9   31  33  39  20      123
11  30  38  16  38      122
14  27  30  26  19      102

54. How to find and cap outliers from a series or dataframe column
Replace all values of ser in the lower 5%ile and greater than 95%ile with respective 5th and 95th %ile value.

In [73]:
ser = pd.Series(np.logspace(-2, 2, 30))

In [90]:
sder = ser.to_frame()
sder.columns = ['data']

In [92]:
sder['segment'] = pd.qcut(sder['data'],4)

In [93]:
sder

          data                        segment
0     0.010000  (0.009000000000000001, 0.101]
1     0.013738  (0.009000000000000001, 0.101]
2     0.018874  (0.009000000000000001, 0.101]
3     0.025929  (0.009000000000000001, 0.101]
4     0.035622  (0.009000000000000001, 0.101]
5     0.048939  (0.009000000000000001, 0.101]
6     0.067234  (0.009000000000000001, 0.101]
7     0.092367  (0.009000000000000001, 0.101]
8     0.126896                 (0.101, 1.013]
9     0.174333                 (0.101, 1.013]
10    0.239503                 (0.101, 1.013]
11    0.329034                 (0.101, 1.013]
12    0.452035                 (0.101, 1.013]
13    0.621017                 (0.101, 1.013]
14    0.853168                 (0.101, 1.013]
15    1.172102                 (1.013, 10.09]
16    1.610262                 (1.013, 10.09]
17    2.212216                 (1.013, 10.09]
18    3.039195                 (1.013, 10.09]
19    4.175319                 (1.013, 10.09]
20    5.736153                 (1.013, 10.09]
21    7.880463                 (1.013, 10.09]
22   10.826367                 (10.09, 100.0]
23   14.873521                 (10.09, 100.0]
24   20.433597                 (10.09, 100.0]
25   28.072162                 (10.09, 100.0]
26   38.566204                 (10.09, 100.0]
27   52.983169                 (10.09, 100.0]
28   72.789538                 (10.09, 100.0]
29  100.000000                 (10.09, 100.0]