In [2]:
import pandas as pd
import numpy as np

61. How to know the maximum possible correlation value of each column against other columns
Compute maximum possible absolute correlation value of each column against other columns in df.

In [3]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1), columns=list('pqrstuvwxy'), index=list('abcdefgh'))

In [4]:
col_names = df.columns.to_list()

In [5]:
max_cor = 0
for n1 in col_names:
    for n2 in col_names:
        if n1 != n2:
            c = np.corrcoef(df[n1].to_list() ,df[n2].to_list())[1,0]
            if c > max_cor:
                max_cor = c
                n1_max = n1
                n2_max = n2
print(' max_cor =', max_cor , '  n1_max =', n1_max, '  n2_max =', n2_max)

 max_cor = 0.6821860090272848   n1_max = u   n2_max = y

62. How to create a column containing the minimum by maximum of each row

In [6]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

In [10]:
df

    0   1   2   3   4   5   6   7   8   9
0  50  92  94  64  73  42  74  22   1  77
1   5  90  66  69  55  21  91  97  49  75
2  67  97  73  55  77  47  11  70  55  70
3  66   7  58  88  87  68  34  76  26   2
4  10  52  77  52  32  93  52  62  25  64
5  71   5  34  83  10  17  85  30  87  37
6  41  83  32  35  60  68  50  25  31  65
7  95  33  84  30  46  11   6  33  70   2

In [13]:
df['new'] = df.max()/df.min()

In [15]:
df.head(2)

    0   1   2   3   4   5   6   7   8   9   new
0  50  92  94  64  73  42  74  22   1  77  19.0
1   5  90  66  69  55  21  91  97  49  75  19.4

63. How to create a column that contains the penultimate value in each row
Create a new column 'penultimate' which has the second largest value of each row of df.

In [16]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

In [24]:
out = df.apply(lambda x: x.sort_values().unique()[-2], axis=1)

In [25]:
df['penultimate'] = out

In [27]:
df.head(2)

    0   1   2   3   4   5   6   7   8   9  penultimate
0  33  68   4  65  54  88  35  23  95  69           88
1  47  21  78  63  32  59  52  33  71  32           71

64. How to normalize all columns in a dataframe
Normalize all columns of df by subtracting the column mean and divide by standard deviation.
Range all columns of df such that the minimum value in each column is 0 and max is 1.

In [28]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

In [29]:
df

    0   1   2   3   4   5   6   7   8   9
0  89  55  57  65  91  14  18   9  89  72
1  98  75  31  63  32  31  12  83  46  82
2  20  90  42   6  22  66   3  95  84  35
3  16  65  49  75  94   6  18  60  17   9
4  83  85  79   8  91  43  17  45  72  23
5  79  77  61  12  29   6   2  94  81   5
6  26  58  42  39  39  71  74  91  11  95
7   9  18  25  12  93  64  90  30  77  16

In [32]:
df.apply(lambda x: (x-x.mean())/x.std(), axis = 1)

,0,1,2,3,4,5,6,7,8,9
0,1.037594,-0.028213,0.034482,0.285260,1.100289,-1.313450,-1.188061,-1.470187,1.037594,0.504691
1,1.485513,0.685354,-0.845386,0.267879,-0.810596,-0.845386,-1.506387,0.963670,-0.323543,0.928881
2,-0.751664,1.248962,-0.122896,-1.151789,-0.694503,0.563033,-1.237530,1.391864,1.077480,-0.322958
3,-0.789829,0.764453,0.256932,1.081653,1.684333,-1.107029,-0.726389,0.605852,-0.758109,-1.011869
4,0.910078,0.974168,0.781898,-1.493297,1.166438,-0.371722,-1.204892,-0.307632,0.557583,-1.012622
5,0.925034,0.871253,0.441005,-0.876631,-0.419492,-1.037974,-1.145537,1.328392,0.978815,-1.064865
6,-1.027092,0.122102,-0.452495,-0.560232,-0.560232,0.588962,0.696699,1.307208,-1.565777,1.450857
7,-1.018423,-0.751975,-0.544738,-0.929607,1.468424,0.609870,1.379608,-0.396711,0.994739,-0.811186

In [33]:
df.apply(lambda x: ((x.max() - x)/(x.max() - x.min())).round(2))

      0     1     2     3     4     5     6     7     8     9
0  0.10  0.49  0.41  0.14  0.04  0.88  0.82  1.00  0.00  0.26
1  0.00  0.21  0.89  0.17  0.86  0.62  0.89  0.14  0.55  0.14
2  0.88  0.00  0.69  1.00  1.00  0.08  0.99  0.00  0.06  0.67
3  0.92  0.35  0.56  0.00  0.00  1.00  0.82  0.41  0.92  0.96
4  0.17  0.07  0.00  0.97  0.04  0.43  0.83  0.58  0.22  0.80
5  0.21  0.18  0.33  0.91  0.90  1.00  1.00  0.01  0.10  1.00
6  0.81  0.44  0.69  0.52  0.76  0.00  0.18  0.05  1.00  0.00
7  1.00  1.00  1.00  0.91  0.01  0.11  0.00  0.76  0.15  0.88

65. How to compute the correlation of each row with the suceeding row
Compute the correlation of each row of df with its succeeding row.