In [1]:
import pandas as pd
import numpy as np

72. How to get the positions where values of two columns match?

In [4]:

df = pd.DataFrame({'fruit1': np.random.choice(['apple', 'orange', 'banana'], 10),
                   'fruit2': np.random.choice(['apple', 'orange', 'banana'], 10)})

In [5]:
df

   fruit1  fruit2
0  orange   apple
1  orange  orange
2  orange  orange
3   apple   apple
4   apple   apple
5  orange   apple
6  orange   apple
7  orange   apple
8  banana  orange
9  banana  banana

In [7]:
df.columns.to_list()

['fruit1', 'fruit2']

In [15]:
df.query('fruit1 == fruit2')

   fruit1  fruit2
1  orange  orange
2  orange  orange
3   apple   apple
4   apple   apple
9  banana  banana