In [1]:
import pandas as pd
import numpy as np

72. How to get the positions where values of two columns match?

In [4]:

df = pd.DataFrame({'fruit1': np.random.choice(['apple', 'orange', 'banana'], 10),
                   'fruit2': np.random.choice(['apple', 'orange', 'banana'], 10)})

In [5]:
df

   fruit1  fruit2
0  orange   apple
1  orange  orange
2  orange  orange
3   apple   apple
4   apple   apple
5  orange   apple
6  orange   apple
7  orange   apple
8  banana  orange
9  banana  banana

In [7]:
df.columns.to_list()

['fruit1', 'fruit2']

In [15]:
df.query('fruit1 == fruit2')

   fruit1  fruit2
1  orange  orange
2  orange  orange
3   apple   apple
4   apple   apple
9  banana  banana

73. How to create lags and leads of a column in a dataframe
Create two new columns in df, one of which is a lag1 (shift column a down by 1 row) of column ‘a’ and the other is a lead1 (shift column b up by 1 row).

In [16]:
df = pd.DataFrame(np.random.randint(1, 100, 20).reshape(-1, 4), columns = list('abcd'))

In [20]:
df['a_lag'] = df['a'].shift(1)

In [21]:
df['a_lead'] = df['a'].shift(-1)

In [23]:
df

    a   b   c   d  a_lag  a_lead
0  28  73  69  28    NaN    89.0
1  89  70  94  48   28.0    13.0
2  13  91  30  41   89.0    90.0
3  90   3  68  66   13.0     8.0
4   8  95  24  95   90.0     NaN

74. How to get the frequency of unique values in the entire dataframe
Get the frequency of unique values in the entire dataframe df.

In [24]:
df = pd.DataFrame(np.random.randint(1, 10, 20).reshape(-1, 4), columns = list('abcd'))

In [35]:
values = df.to_numpy().ravel()
#Выпрямляем весь датафрейм

In [36]:
pd.value_counts(values)

7    6
1    3
2    3
8    2
9    2
5    2
4    1
3    1
dtype: int64

75. How to split a text column into two separate columns?
Split the string column in df to form a dataframe with 3 columns as shown.

In [38]:
df = pd.DataFrame(["STD, City    State",
                   "33, Kolkata    West Bengal",
                   "44, Chennai    Tamil Nadu",
                   "40, Hyderabad    Telengana",
                   "80, Bangalore    Karnataka"], columns=['row'])

In [40]:
df.columns

Index(['row'], dtype='object')

In [ ]:
maxsplit

In [ ]:
df[['A', 'B']] = df['AB'].str.split(' ', 1, expand=True)

In [44]:
df['row'].str.split(' ', 2, expand=True)

      0          1               2
0  STD,       City           State
1   33,    Kolkata     West Bengal
2   44,    Chennai      Tamil Nadu
3   40,  Hyderabad       Telengana
4   80,  Bangalore       Karnataka