1. Write a Pandas program to read a csv file from a specified source and print the first 5 rows.

In [3]:
import pandas as pd
diamonds = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv')
diamonds.head(5)

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

2. Write a Pandas program to read a dataset from diamonds DataFrame and modify the default columns values and print the first 6 rows.

3. Write a Pandas program to select a series from diamonds DataFrame. Print the content of the series.

In [5]:
diamonds['carat'].head(2)

0    0.23
1    0.21
Name: carat, dtype: float64

4. Write a Pandas program to create a new 'Quality -color' Series (use bracket notation to define the Series name) of the diamonds DataFrame.

In [7]:
diamonds['Quality-color'] = diamonds['cut'] + ' ' + diamonds['color']

5. Write a Pandas program to find the number of rows and columns and data type of each column of diamonds Dataframe.

In [9]:
diamonds.dtypes

carat            float64
cut               object
color             object
clarity           object
depth            float64
table            float64
price              int64
x                float64
y                float64
z                float64
Quality-color     object
dtype: object

In [10]:
diamonds.describe()

,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

7. Write a Pandas program to rename two of the columns of the diamonds Dataframe.

In [13]:
diamonds.rename( columns= {'cut':'cut_2','carat':'carat_2'}, inplace= True)

8. Write a Pandas program to rename all the columns of the diamonds Dataframe

In [16]:
col_lis = diamonds.columns.to_list()

In [18]:
col_lis[0] = 'carat'

In [20]:
diamonds.columns = col_lis

In [22]:
diamonds.head(1)

,carat,cut_2,color,clarity,depth,table,price,x,y,z,Quality-color
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,Ideal E

9. Write a Pandas program to remove the second column of the diamonds Dataframe

In [25]:
diamonds.drop(columns = 'cut_2', inplace=True)

10. Write a Pandas program to remove multiple columns at once of the diamonds

In [26]:
diamonds.drop(columns = ['color','depth'])

       carat clarity  table  price     x     y     z Quality-color
0       0.23     SI2   55.0    326  3.95  3.98  2.43       Ideal E
1       0.21     SI1   61.0    326  3.89  3.84  2.31     Premium E
2       0.23     VS1   65.0    327  4.05  4.07  2.31        Good E
3       0.29     VS2   58.0    334  4.20  4.23  2.63     Premium I
4       0.31     SI2   58.0    335  4.34  4.35  2.75        Good J
...      ...     ...    ...    ...   ...   ...   ...           ...
53935   0.72     SI1   57.0   2757  5.75  5.76  3.50       Ideal D
53936   0.72     SI1   55.0   2757  5.69  5.75  3.61        Good D
53937   0.70     SI1   60.0   2757  5.66  5.68  3.56   Very Good D
53938   0.86     SI2   58.0   2757  6.15  6.12  3.74     Premium H
53939   0.75     SI2   55.0   2757  5.83  5.87  3.64       Ideal D

[53940 rows x 8 columns]

11. Write a Pandas program to remove multiple rows at once (axis=0 refers to rows) from diamonds dataframe

In [30]:
diamonds.drop(labels = [1,5], axis = 0)

,carat,color,clarity,depth,table,price,x,y,z,Quality-color
0,0.23,E,SI2,61.5,55.0,326,3.95,3.98,2.43,Ideal E
2,0.23,E,VS1,56.9,65.0,327,4.05,4.07,2.31,Good E
3,0.29,I,VS2,62.4,58.0,334,4.20,4.23,2.63,Premium I
4,0.31,J,SI2,63.3,58.0,335,4.34,4.35,2.75,Good J
6,0.24,I,VVS1,62.3,57.0,336,3.95,3.98,2.47,Very Good I
...,...,...,...,...,...,...,...,...,...,...
53935,0.72,D,SI1,60.8,57.0,2757,5.75,5.76,3.50,Ideal D
53936,0.72,D,SI1,63.1,55.0,2757,5.69,5.75,3.61,Good D
53937,0.70,D,SI1,62.8,60.0,2757,5.66,5.68,3.56,Very Good D
53938,0.86,H,SI2,61.0,58.0,2757,6.15,6.12,3.74,Premium H
53939,0.75,D,SI2,62.2,55.0,2757,5.83,5.87,3.64,Ideal D

12. Write a Pandas program to sort the 'cut' Series in ascending order (returns a Series) of diamonds Dataframe.

In [31]:
diamonds = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv')

In [35]:
diamonds['cut'].sort_values(ascending=True)

3850          Fair
51464         Fair
51466         Fair
10237         Fair
10760         Fair
           ...
7402     Very Good
43101    Very Good
16893    Very Good
16898    Very Good
21164    Very Good
Name: cut, Length: 53940, dtype: object

13. Write a Pandas program to sort the 'price' Series in descending order (returns a Series) of diamonds Dataframe

In [37]:
diamonds['price'].sort_values(ascending=False)

27749    18823
27748    18818
27747    18806
27746    18804
27745    18803
         ...
4          335
3          334
2          327
1          326
0          326
Name: price, Length: 53940, dtype: int64

14. Write a Pandas program to sort the entire diamonds DataFrame by the 'carat' Series in ascending and descending order.

In [38]:
diamonds.sort_values(by='carat', ascending=False)

       carat      cut color clarity  depth  table  price      x      y     z
27415   5.01     Fair     J      I1   65.5   59.0  18018  10.74  10.54  6.98
27630   4.50     Fair     J      I1   65.8   58.0  18531  10.23  10.16  6.72
27130   4.13     Fair     H      I1   64.8   61.0  17329  10.00   9.85  6.43
25999   4.01  Premium     J      I1   62.5   62.0  15223  10.02   9.94  6.24
25998   4.01  Premium     I      I1   61.0   61.0  15223  10.14  10.10  6.17
...      ...      ...   ...     ...    ...    ...    ...    ...    ...   ...
31592   0.20  Premium     E     VS2   59.0   60.0    367   3.81   3.78  2.24
31591   0.20  Premium     E     VS2   59.8   62.0    367   3.79   3.77  2.26
31601   0.20  Premium     D     VS2   61.7   60.0    367   3.77   3.72  2.31
14      0.20  Premium     E     SI2   60.2   62.0    345   3.79   3.75  2.27
31596   0.20  Premium     F     VS2   62.6   59.0    367   3.73   3.71  2.33

[53940 rows x 10 columns]

15. Write a Pandas program to filter the DataFrame rows to only show carat weight at least 0.3.

In [39]:
diamonds.query('carat > 0.3')

       carat        cut color clarity  depth  table  price     x     y     z
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
13      0.31      Ideal     J     SI2   62.2   54.0    344  4.35  4.37  2.71
15      0.32    Premium     E      I1   60.9   58.0    345  4.38  4.42  2.68
23      0.31  Very Good     J     SI1   59.4   62.0    353  4.39  4.43  2.62
24      0.31  Very Good     J     SI1   58.1   62.0    353  4.44  4.47  2.59
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[49737 rows x 10 columns]

16. Write a Pandas program to convert a python list to pandas series.

In [40]:
l = [1, 3, 5, 7, 9, 11]

In [41]:
result = pd.Series(l)

17. Write a Pandas program to find the details of the diamonds where length>5, width>5 and depth>5.

In [42]:
diamonds[(diamonds['x']>5) & (diamonds['y'] > 5) & (diamonds['y'] > 5) ]

       carat        cut color clarity  depth  table  price     x     y     z
90      0.70      Ideal     E     SI1   62.5   57.0   2757  5.70  5.72  3.57
91      0.86       Fair     E     SI2   55.1   69.0   2757  6.45  6.33  3.52
92      0.70      Ideal     G     VS2   61.6   56.0   2757  5.70  5.67  3.50
93      0.71  Very Good     E     VS2   62.4   57.0   2759  5.68  5.73  3.56
94      0.78  Very Good     G     SI2   63.8   56.0   2759  5.81  5.85  3.72
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[36196 rows x 10 columns]

18. Write a Pandas program to find the diamonds that are either Premium or Ideal.

In [46]:
diamonds[(diamonds['cut'] == 'Premium') | (diamonds['cut'] == 'Ideal' )]

       carat      cut color clarity  depth  table  price     x     y     z
0       0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3       0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
11      0.23    Ideal     J     VS1   62.8   56.0    340  3.93  3.90  2.46
12      0.22  Premium     F     SI1   60.4   61.0    342  3.88  3.84  2.33
...      ...      ...   ...     ...    ...    ...    ...   ...   ...   ...
53931   0.71  Premium     F     SI1   59.8   62.0   2756  5.74  5.73  3.43
53934   0.72  Premium     D     SI1   62.7   59.0   2757  5.69  5.73  3.58
53935   0.72    Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53938   0.86  Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75    Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[35342 rows x 10 columns]

20. Write a Pandas program to display all column labels of diamonds DataFrame

In [47]:
diamonds.columns

Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'price', 'x', 'y',
       'z'],
      dtype='object')