In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm_notebook
pd.set_option('display.max_columns',None)


from pandas.api.types import CategoricalDtype

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly

sns.set(style='whitegrid')
plt.rcParams['figure.figsize']=(15,5)
%config InlineBackend.figure_format = 'png'
%matplotlib inline

Грузим чеки и магазины

In [2]:
#Грузим Магазины 
oos_by_shop = pd.read_csv("./df_oos_do_01_09_2.csv")

In [3]:
quant_goods = pd.read_excel("./tov_kvant_srok.xlsx")

In [4]:
df_price = pd.read_csv("./price.csv")

In [5]:
id_tt_n_tt = pd.read_excel("./id_tt_n_tt.xlsx")

In [6]:
oos_by_shop.fillna(0, inplace = True)

In [7]:
oos_by_shop_2 = oos_by_shop.copy()

In [8]:
oos_by_shop_2 = oos_by_shop_2.round({'Monday':0,'Tuesday':0,'Tuesday':0,'Wednesday':0,'Thursday':0,'Friday':0,'Saturday':0,'Sunday':0})

In [9]:
oos_by_shop_2['id_tt'].unique()

array([11290, 11357, 11783, 11956, 12414, 12533, 12860, 14112, 15753,
       15986], dtype=int64)

In [10]:
oos_by_shop_2

,id_tt,id_tov,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
0,11290,77,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,11290,91,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,11290,143,0.0,7.0,0.0,1.0,0.0,0.0,0.0
3,11290,185,0.0,0.0,0.0,11.0,0.0,10.0,0.0
4,11290,188,0.0,0.0,0.0,0.0,0.0,7.0,0.0
...,...,...,...,...,...,...,...,...,...
4276,15986,67159,0.0,0.0,0.0,1.0,0.0,0.0,1.0
4277,15986,67188,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4278,15986,67207,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4279,15986,67291,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4280,15986,67451,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
oos_by_shop_2['All_Weekdopost'] = oos_by_shop_2[['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']].sum(axis = 1)

Приводим в порядок табдицу тоаров

In [12]:
quant_goods.head(30)

,id_tov,Name_tov,Country,СтатусАктХар,Name_Har,СрокГодностиДни,krat_u,Ed_Izm,group_name,parent_group_name
0,NaN,NaN,РОССИЯ,Активная,"ООО ""Мануфактура Вкус Жизни""",365.0,NaN,NaN,NaN,NaN
1,NaN,NaN,РОССИЯ,Активная,"ООО ""Мануфактура Вкус Жизни""",365.0,NaN,NaN,NaN,NaN
2,NaN,NaN,РОССИЯ,Активная,"ООО ""Мануфактура Вкус Жизни""",304.0,NaN,NaN,NaN,NaN
3,NaN,NaN,РОССИЯ,Активная,"ООО ""Мануфактура Вкус Жизни""",304.0,NaN,NaN,NaN,NaN
4,NaN,NaN,РОССИЯ,Активная,"ООО ""Мануфактура Вкус Жизни""",304.0,NaN,NaN,NaN,NaN
5,NaN,NaN,РОССИЯ,Активная,"ООО ""Мануфактура Вкус Жизни""",304.0,NaN,NaN,NaN,NaN
6,5.0,(уд)товар ВкусВилл не определен,NaN,Не активная,Агрофирма Пречистое ОАО,NaN,0.0,кг,Архив,Архив
7,6.0,(уд)Кефир 1% Восход,NaN,Не активная,Восход ОАО,NaN,0.0,Шт,Архив,Архив
8,7.0,(уд)Кефир 3.2% Восход,NaN,Не активная,Восход ОАО,NaN,0.0,Шт,Архив,Архив
9,10.0,"(уд)Творог 9% Восход, 0.3",NaN,Не активная,Восход ОАО,NaN,0.0,NaN,Архив,Архив
10,14.0,"(уд)Творог 18% Восход, 0.3",NaN,Не активная,Восход ОАО,NaN,0.0,NaN,Архив,Архив
11,16.0,"(уд)Сметана 25% Восход, 0.2",NaN,Не активная,Восход ОАО,NaN,0.0,NaN,Архив,Архив
12,20.0,"(уд)Творожная масса Восход, 0,3",NaN,Не активная,Восход ОАО,NaN,0.0,NaN,Архив,Архив
13,34.0,"POLEX 500 арт 306, 500 мл + крышка",NaN,Новая,Россия,NaN,0.0,шт,Контейнеры,Контейнеры
14,35.0,"(не исп.) POLEX 350 арт 319, 350 мл стакан",NaN,Не активная,"КРЕСТЬЯНСКОЕ -ФЕРМЕРСКОЕ ХОЗЯЙСТВО ""НИЛ""",NaN,0.0,шт,Архив,Архив
15,35.0,"(не исп.) POLEX 350 арт 319, 350 мл стакан",NaN,Не активная,Добрая вода ООО,NaN,0.0,шт,Архив,Архив
16,35.0,"(не исп.) POLEX 350 арт 319, 350 мл стакан",NaN,Не активная,ТОРГОВЫЙ ДОМ ОПТИНА ООО,NaN,0.0,шт,Архив,Архив
17,35.0,"(не исп.) POLEX 350 арт 319, 350 мл стакан",NaN,Не активная,Лебедяньмолоко ООО,NaN,0.0,шт,Архив,Архив
18,35.0,"(не исп.) POLEX 350 арт 319, 350 мл стакан",NaN,Не активная,ПКФ РОСТОК ООО,NaN,0.0,шт,Архив,Архив
19,35.0,"(не исп.) POLEX 350 арт 319, 350 мл стакан",NaN,Не активная,КАРТОФЕЛЬНАЯ НИВА ОРЛОВЩИНЫ ЗАО,NaN,0.0,шт,Архив,Архив
20,35.0,"(не исп.) POLEX 350 арт 319, 350 мл стакан",NaN,Не активная,АМАЛТЕЯ ООО,NaN,0.0,шт,Архив,Архив
21,35.0,"(не исп.) POLEX 350 арт 319, 350 мл стакан",NaN,Не активная,СЫЧЕВСКАЯ МОЛОЧНАЯ КОМПАНИЯ ООО,NaN,0.0,шт,Архив,Архив
22,36.0,"(не исп.) KOMUS ТВ-200, 300 мл",NaN,Не активная,Россия,NaN,0.0,шт,Архив,Архив
23,37.0,"KOMUS КМ8СМ, 750 мл",NaN,Новая,Россия,NaN,0.0,шт,Контейнеры,Контейнеры
24,38.0,Элтека Бутылка 0.5 л,NaN,Новая,Россия,NaN,0.0,шт,Контейнеры,Контейнеры
25,39.0,Элтека Бутылка 0.9 л,NaN,Новая,Россия,NaN,0.0,шт,Контейнеры,Контейнеры
26,44.0,(уд)Молоко 3.2% Сухиничи,NaN,Не активная,САПК-Молок ООО,NaN,0.0,Шт,Архив,Архив
27,45.0,"(уд)Сметана 25% Сухиничи, 200г",NaN,Не активная,САПК-Молок ООО,NaN,0.0,NaN,Архив,Архив
28,46.0,"Масло сливочное 82,5%",РОССИЯ,Не активная,САПК-Молок ООО,NaN,0.0,кг,Масло,Молочная Продукция
29,46.0,"Масло сливочное 82,5%",РОССИЯ,Не активная,Агрофирма Оптина,20.0,0.0,кг,Масло,Молочная Продукция

In [13]:
quant_goods2 = quant_goods[['id_tov','Name_tov','parent_group_name','СрокГодностиДни']].groupby(['id_tov','Name_tov','parent_group_name'], as_index=False)["СрокГодностиДни"].mean()

In [14]:
quant_goods2.head(1)

   id_tov                         Name_tov parent_group_name  СрокГодностиДни
0     5.0  (уд)товар ВкусВилл не определен             Архив              NaN

In [15]:
quant_goods2.columns = ['id_tov', 'name_tov', 'name_gr','сроксуток']

 Считаем допоставки без фильтров по сроку годности

In [16]:
oos_by_shop_3 = oos_by_shop_2.merge(quant_goods2, how='left', on='id_tov',)

In [17]:
#Удаляем товары по которым нет срока годности и товары типа "Выдача наличных"
oos_by_shop_3 = oos_by_shop_3[(~oos_by_shop_3['сроксуток'].isnull()) & (oos_by_shop_3['name_gr'] != 'Прочее, служебные товары')& (oos_by_shop_3['name_gr'] != 'Рекламные материалы')& (oos_by_shop_3['name_gr'] != 'Пространство ВкусВилл')]

In [18]:
oos_by_shop_3

,id_tt,id_tov,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,All_Weekdopost,name_tov,name_gr,сроксуток
0,11290,77,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Ряженка 4%,Молочная Продукция,5.285714
1,11290,91,0.0,1.0,0.0,0.0,0.0,1.0,0.0,2.0,"Творог зерненый 4%, 230 г",Молочная Продукция,6.250000
2,11290,143,0.0,7.0,0.0,1.0,0.0,0.0,0.0,8.0,Сметана 20%,Молочная Продукция,6.684211
3,11290,185,0.0,0.0,0.0,11.0,0.0,10.0,0.0,21.0,Творог 5%,Молочная Продукция,4.620690
4,11290,188,0.0,0.0,0.0,0.0,0.0,7.0,0.0,7.0,Творог 9%,Молочная Продукция,4.727273
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4276,15986,67159,0.0,0.0,0.0,1.0,0.0,0.0,1.0,2.0,Груша Сербия,Овощи. Фрукты. Грибы. Зелень,41.250000
4277,15986,67188,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"Лук зеленый, 50 г",Овощи. Фрукты. Грибы. Зелень,5.444444
4278,15986,67207,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"Кутабы ""Оригинальные"" (с сулугуни и баклажаном)",Кулинария,4.000000
4279,15986,67291,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,Люля-кебаб из говядины и свинины вес.,Мясная Витрина ВВ,17520.000000
4280,15986,67451,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Котлета куриная с гороховым пюре,Кулинария,4.000000

In [19]:
#Оцениваем объем допоставок без фильтра по сроку годности
oos_by_shop_3[['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']].sum(axis = 1).sum(axis = 0)

10543.0

In [20]:
#Оцениваем объем допоставок по категориям без фильтра по сроку годности
oos_by_shop_3.groupby(["name_gr"], as_index=False)["All_Weekdopost"].sum()

                                           name_gr  All_Weekdopost
0                                         Алкоголь            45.0
1                                            Архив            21.0
2                                          Бакалея            22.0
3                                         ВВА_Вино             0.0
4                                  Детское питание            13.0
5                                 Замороженные п/ф            13.0
6                                             Кафе           263.0
7                                      Консервация            26.0
8                                        Кулинария          2712.0
9                           Кулинария замороженная             5.0
10                              Медицинские товары             4.0
11                                     Микромаркет             0.0
12                              Молочная Продукция          2146.0
13                                       Мороженое           111.0
14                               Мясная Витрина ВВ            27.0
15                      Мясные деликатесы. Колбасы            87.0
16                      Мясо. Птица. П/ф охл. Яйца           469.0
17                                         Напитки           247.0
18                                         Нон-Фуд            14.0
19                    Овощи. Фрукты. Грибы. Зелень          2066.0
20                     Подписки на товары и услуги             0.0
21                              Рыба. Морепродукты            77.0
22                  Сладости, кондитерские изделия            88.0
23  Сухофрукты. Сушеные овощи, грибы, ягоды. Орехи             0.0
24                                            Сыры            52.0
25                        Торты, пирожные, десерты           331.0
26                                            Хлеб          1704.0
27                             Чай и кофе. Проекты             0.0

Учитываем срок годности и приоритетность товаров

In [21]:
conditions = [
    (oos_by_shop_3['сроксуток'] <= 2),
    (oos_by_shop_3['сроксуток'] > 2) & (oos_by_shop_3['сроксуток'] <= 7),
    (oos_by_shop_3['сроксуток'] > 7) & (oos_by_shop_3['сроксуток'] <= 15),
    (oos_by_shop_3['сроксуток'] > 15)
]

In [22]:
values = [4, 3, 2, 1]

In [23]:
oos_by_shop_3['tier'] = np.select(conditions, values)

In [24]:
oos_by_shop_3

,id_tt,id_tov,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,All_Weekdopost,name_tov,name_gr,сроксуток,tier
0,11290,77,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Ряженка 4%,Молочная Продукция,5.285714,3
1,11290,91,0.0,1.0,0.0,0.0,0.0,1.0,0.0,2.0,"Творог зерненый 4%, 230 г",Молочная Продукция,6.250000,3
2,11290,143,0.0,7.0,0.0,1.0,0.0,0.0,0.0,8.0,Сметана 20%,Молочная Продукция,6.684211,3
3,11290,185,0.0,0.0,0.0,11.0,0.0,10.0,0.0,21.0,Творог 5%,Молочная Продукция,4.620690,3
4,11290,188,0.0,0.0,0.0,0.0,0.0,7.0,0.0,7.0,Творог 9%,Молочная Продукция,4.727273,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4276,15986,67159,0.0,0.0,0.0,1.0,0.0,0.0,1.0,2.0,Груша Сербия,Овощи. Фрукты. Грибы. Зелень,41.250000,1
4277,15986,67188,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"Лук зеленый, 50 г",Овощи. Фрукты. Грибы. Зелень,5.444444,3
4278,15986,67207,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"Кутабы ""Оригинальные"" (с сулугуни и баклажаном)",Кулинария,4.000000,3
4279,15986,67291,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,Люля-кебаб из говядины и свинины вес.,Мясная Витрина ВВ,17520.000000,1
4280,15986,67451,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Котлета куриная с гороховым пюре,Кулинария,4.000000,3

In [25]:
oos_by_shop_3['tier'].replace(to_replace = 0, value = 7, inplace=True)

In [26]:
oos_by_shop_3['popularity'] = 1

In [27]:
oos_by_shop_3.loc[oos_by_shop_3['name_gr'] == 'Мороженое', 'popularity'] = 0

In [28]:
oos_by_shop_3.loc[oos_by_shop_3['name_tov'] == 'Смузи', 'popularity'] = 0

In [29]:
oos_by_shop_3.loc[oos_by_shop_3['name_tov'].str.contains('Ролл'),'popularity'] = 0.5

In [30]:
oos_by_shop_3.loc[oos_by_shop_3['name_tov'].str.contains('ролл'),'popularity'] = 0.5

In [31]:
oos_by_shop_3

,id_tt,id_tov,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,All_Weekdopost,name_tov,name_gr,сроксуток,tier,popularity
0,11290,77,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Ряженка 4%,Молочная Продукция,5.285714,3,1.0
1,11290,91,0.0,1.0,0.0,0.0,0.0,1.0,0.0,2.0,"Творог зерненый 4%, 230 г",Молочная Продукция,6.250000,3,1.0
2,11290,143,0.0,7.0,0.0,1.0,0.0,0.0,0.0,8.0,Сметана 20%,Молочная Продукция,6.684211,3,1.0
3,11290,185,0.0,0.0,0.0,11.0,0.0,10.0,0.0,21.0,Творог 5%,Молочная Продукция,4.620690,3,1.0
4,11290,188,0.0,0.0,0.0,0.0,0.0,7.0,0.0,7.0,Творог 9%,Молочная Продукция,4.727273,3,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4276,15986,67159,0.0,0.0,0.0,1.0,0.0,0.0,1.0,2.0,Груша Сербия,Овощи. Фрукты. Грибы. Зелень,41.250000,1,1.0
4277,15986,67188,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"Лук зеленый, 50 г",Овощи. Фрукты. Грибы. Зелень,5.444444,3,1.0
4278,15986,67207,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"Кутабы ""Оригинальные"" (с сулугуни и баклажаном)",Кулинария,4.000000,3,1.0
4279,15986,67291,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,Люля-кебаб из говядины и свинины вес.,Мясная Витрина ВВ,17520.000000,1,1.0
4280,15986,67451,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Котлета куриная с гороховым пюре,Кулинария,4.000000,3,1.0

In [32]:
for l in ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']:
    oos_by_shop_3[l] = oos_by_shop_3[l]*oos_by_shop_3['popularity']/oos_by_shop_3['tier']

In [33]:
oos_by_shop_3 = oos_by_shop_3.round({'Monday':0,'Tuesday':0,'Tuesday':0,'Wednesday':0,'Thursday':0,'Friday':0,'Saturday':0,'Sunday':0})

In [34]:
oos_by_shop_3['All_Weekdopost'] = oos_by_shop_3[['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']].sum(axis = 1)

In [35]:
oos_by_shop_3 = oos_by_shop_3[oos_by_shop_3['All_Weekdopost'] > 0]

In [36]:
oos_by_shop_3['All_Weekdopost'].sum()

4701.0

In [37]:
#Оцениваем объем допоставок по категориям c фильтрjv по сроку годности
oos_by_shop_3.groupby(["name_gr"], as_index=False)["All_Weekdopost"].sum()

                           name_gr  All_Weekdopost
0                         Алкоголь            45.0
1                            Архив            12.0
2                          Бакалея            22.0
3                  Детское питание            13.0
4                 Замороженные п/ф            13.0
5                             Кафе            77.0
6                      Консервация            17.0
7                        Кулинария           606.0
8           Кулинария замороженная             5.0
9               Медицинские товары             4.0
10              Молочная Продукция           727.0
11               Мясная Витрина ВВ             6.0
12      Мясные деликатесы. Колбасы            50.0
13      Мясо. Птица. П/ф охл. Яйца           183.0
14                         Напитки           247.0
15                         Нон-Фуд            14.0
16    Овощи. Фрукты. Грибы. Зелень          1924.0
17              Рыба. Морепродукты            36.0
18  Сладости, кондитерские изделия            50.0
19                            Сыры            37.0
20        Торты, пирожные, десерты            60.0
21                            Хлеб           553.0

Считаем на сколько денег будет эта допоставка

In [38]:
oos_by_shop_4 = oos_by_shop_3.merge(df_price[['id_tov','Price_retail']], how='left', on='id_tov',)

In [39]:
oos_by_shop_4.head(2)

,id_tt,id_tov,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,All_Weekdopost,name_tov,name_gr,сроксуток,tier,popularity,Price_retail
0,11290,143,0.0,2.0,0.0,0.0,0.0,0.0,0.0,2.0,Сметана 20%,Молочная Продукция,6.684211,3,1.0,126.363636
1,11290,185,0.0,0.0,0.0,4.0,0.0,3.0,0.0,7.0,Творог 5%,Молочная Продукция,4.620690,3,1.0,150.000000

In [40]:
oos_by_shop_4['overal_sum'] = oos_by_shop_4['Price_retail']* oos_by_shop_4['All_Weekdopost']

In [41]:
oos_by_shop_4.head(2)

,id_tt,id_tov,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,All_Weekdopost,name_tov,name_gr,сроксуток,tier,popularity,Price_retail,overal_sum
0,11290,143,0.0,2.0,0.0,0.0,0.0,0.0,0.0,2.0,Сметана 20%,Молочная Продукция,6.684211,3,1.0,126.363636,252.727273
1,11290,185,0.0,0.0,0.0,4.0,0.0,3.0,0.0,7.0,Творог 5%,Молочная Продукция,4.620690,3,1.0,150.000000,1050.000000

In [42]:

oos_by_shop_4['overal_sum'].sum()

425564.02660871943

In [43]:
oos_by_shop_4[["name_gr","overal_sum"]].groupby(["name_gr"], as_index=False)["overal_sum"].sum().round()

                           name_gr  overal_sum
0                         Алкоголь      3549.0
1                            Архив       579.0
2                          Бакалея      1381.0
3                  Детское питание       679.0
4                 Замороженные п/ф      2737.0
5                             Кафе      6911.0
6                      Консервация      1202.0
7                        Кулинария     93409.0
8           Кулинария замороженная       873.0
9               Медицинские товары       167.0
10              Молочная Продукция     54963.0
11               Мясная Витрина ВВ         0.0
12      Мясные деликатесы. Колбасы      8031.0
13      Мясо. Птица. П/ф охл. Яйца     30986.0
14                         Напитки     12257.0
15                         Нон-Фуд      1302.0
16    Овощи. Фрукты. Грибы. Зелень    149684.0
17              Рыба. Морепродукты      5611.0
18  Сладости, кондитерские изделия      4311.0
19                            Сыры      5323.0
20        Торты, пирожные, десерты      9367.0
21                            Хлеб     32241.0

In [44]:
oos_by_shop_4.merge(id_tt_n_tt[['id_tt','n','adress','name_TT']], how = 'left', on = 'id_tt')

,id_tt,id_tov,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,All_Weekdopost,name_tov,name_gr,сроксуток,tier,popularity,Price_retail,overal_sum,n,adress,name_TT
0,11290,143,0.0,2.0,0.0,0.0,0.0,0.0,0.0,2.0,Сметана 20%,Молочная Продукция,6.684211,3,1.0,126.363636,252.727273,1020,Москва ул. Истринская д.10 к.1,1020М_Истринская10
1,11290,185,0.0,0.0,0.0,4.0,0.0,3.0,0.0,7.0,Творог 5%,Молочная Продукция,4.620690,3,1.0,150.000000,1050.000000,1020,Москва ул. Истринская д.10 к.1,1020М_Истринская10
2,11290,188,0.0,0.0,0.0,0.0,0.0,2.0,0.0,2.0,Творог 9%,Молочная Продукция,4.727273,3,1.0,160.000000,320.000000,1020,Москва ул. Истринская д.10 к.1,1020М_Истринская10
3,11290,272,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,"Бифилайф детский без доб. сахара 2,9%",Молочная Продукция,7.000000,3,1.0,38.181818,38.181818,1020,Москва ул. Истринская д.10 к.1,1020М_Истринская10
4,11290,273,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,Творог детский 5%,Молочная Продукция,6.500000,3,1.0,36.363636,36.363636,1020,Москва ул. Истринская д.10 к.1,1020М_Истринская10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1887,15986,66108,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,Груша молодая,Овощи. Фрукты. Грибы. Зелень,26.250000,1,1.0,NaN,NaN,5673,"Москва ул. Кастанаевская, д. 42 к. 2",5673М_Кастанаевская42
1888,15986,66444,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,"Напиток ""Каркаде"" с черноплодной рябиной",Напитки,30.000000,1,1.0,NaN,NaN,5673,"Москва ул. Кастанаевская, д. 42 к. 2",5673М_Кастанаевская42
1889,15986,66445,0.0,2.0,2.0,0.0,0.0,0.0,0.0,4.0,"Лимонад ""Мандарин"", 300 мл",Напитки,30.000000,1,1.0,NaN,NaN,5673,"Москва ул. Кастанаевская, д. 42 к. 2",5673М_Кастанаевская42
1890,15986,67159,0.0,0.0,0.0,1.0,0.0,0.0,1.0,2.0,Груша Сербия,Овощи. Фрукты. Грибы. Зелень,41.250000,1,1.0,NaN,NaN,5673,"Москва ул. Кастанаевская, д. 42 к. 2",5673М_Кастанаевская42
1891,15986,67291,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,Люля-кебаб из говядины и свинины вес.,Мясная Витрина ВВ,17520.000000,1,1.0,NaN,NaN,5673,"Москва ул. Кастанаевская, д. 42 к. 2",5673М_Кастанаевская42

In [45]:
oos_by_shop_5 = oos_by_shop_4.merge(id_tt_n_tt[['id_tt','n','adress','name_TT']], how = 'left', on = 'id_tt')

In [46]:
oos_by_shop_5['id_tt'].unique()

array([11290, 11357, 11783, 11956, 12414, 12533, 12860, 14112, 15753,
       15986], dtype=int64)

In [47]:
#чисто посмотреть что поставляем
oos_by_shop_5[['name_tov','id_tov','All_Weekdopost']].groupby(['name_tov','id_tov'],as_index=False)["All_Weekdopost"].sum().to_excel('Goods 01_09.xlsx')

In [48]:
oos_by_shop_6 = oos_by_shop_5[['name_TT','id_tov','name_tov','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday',]]

In [49]:
oos_by_shop_6.to_excel('Calculate 3 01_09.xlsx')