In [1]:
    import pandas as pd
import numpy as np
from tqdm import tqdm_notebook
pd.set_option('display.max_columns',None)


from pandas.api.types import CategoricalDtype

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly

sns.set(style='whitegrid')
plt.rcParams['figure.figsize']=(15,5)
%config InlineBackend.figure_format = 'png'
%matplotlib inline

Грузим чеки и магазины

In [2]:
#Грузим Магазины 
oos_by_shop = pd.read_csv("./002 df_oos_07_09.csv")

In [3]:
quant_goods = pd.read_excel("./tov_kvant_srok_09_09.xlsx")

In [4]:
df_price = pd.read_csv("./price.csv")

In [5]:
id_tt_n_tt = pd.read_excel("./id_tt_n_tt.xlsx")

In [6]:
oos_by_shop.fillna(0, inplace = True)

In [7]:
oos_by_shop_2 = oos_by_shop.copy()

In [8]:
oos_by_shop_2 = oos_by_shop_2.round({'Monday':0,'Tuesday':0,'Tuesday':0,'Wednesday':0,'Thursday':0,'Friday':0,'Saturday':0,'Sunday':0})

In [9]:
oos_by_shop_2['id_tt'].unique()

array([11290, 11357, 11783, 11956, 12414, 12533, 12860, 14112, 15753,
       15986], dtype=int64)

In [10]:
oos_by_shop_2

,id_tt,id_tov,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
0,11290,52,0.0,0.0,0.0,6.0,0.0,0.0,0.0
1,11290,77,0.0,0.0,0.0,0.0,0.0,2.0,0.0
2,11290,143,0.0,4.0,0.0,0.0,0.0,0.0,3.0
3,11290,185,0.0,8.0,0.0,13.0,0.0,12.0,0.0
4,11290,188,0.0,0.0,7.0,0.0,0.0,9.0,0.0
...,...,...,...,...,...,...,...,...,...
4094,15986,67442,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4095,15986,67451,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4096,15986,67645,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4097,15986,67653,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4098,15986,67795,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
oos_by_shop_2['All_Weekdopost'] = oos_by_shop_2[['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']].sum(axis = 1)

Приводим в порядок табдицу тоаров

In [35]:
quant_goods.head(30)

,id_tov,Name_tov,Country,СтатусАктХар,Name_Har,СрокГодностиДни,krat_u,Ed_Izm,group_name,parent_group_name
0,NaN,NaN,РОССИЯ,Активная,"ООО ""Мануфактура Вкус Жизни""",365.0,NaN,NaN,NaN,NaN
1,NaN,NaN,РОССИЯ,Активная,"ООО ""Мануфактура Вкус Жизни""",365.0,NaN,NaN,NaN,NaN
2,NaN,NaN,РОССИЯ,Активная,"ООО ""Мануфактура Вкус Жизни""",304.0,NaN,NaN,NaN,NaN
3,NaN,NaN,РОССИЯ,Активная,"ООО ""Мануфактура Вкус Жизни""",304.0,NaN,NaN,NaN,NaN
4,NaN,NaN,РОССИЯ,Активная,"ООО ""Мануфактура Вкус Жизни""",304.0,NaN,NaN,NaN,NaN
5,NaN,NaN,РОССИЯ,Активная,"ООО ""Мануфактура Вкус Жизни""",304.0,NaN,NaN,NaN,NaN
6,5.0,(уд)товар ВкусВилл не определен,NaN,Не активная,Агрофирма Пречистое ОАО,NaN,0.0,кг,Архив,Архив
7,6.0,(уд)Кефир 1% Восход,NaN,Не активная,Восход ОАО,NaN,0.0,Шт,Архив,Архив
8,7.0,(уд)Кефир 3.2% Восход,NaN,Не активная,Восход ОАО,NaN,0.0,Шт,Архив,Архив
9,10.0,"(уд)Творог 9% Восход, 0.3",NaN,Не активная,Восход ОАО,NaN,0.0,NaN,Архив,Архив
10,14.0,"(уд)Творог 18% Восход, 0.3",NaN,Не активная,Восход ОАО,NaN,0.0,NaN,Архив,Архив
11,16.0,"(уд)Сметана 25% Восход, 0.2",NaN,Не активная,Восход ОАО,NaN,0.0,NaN,Архив,Архив
12,20.0,"(уд)Творожная масса Восход, 0,3",NaN,Не активная,Восход ОАО,NaN,0.0,NaN,Архив,Архив
13,34.0,"POLEX 500 арт 306, 500 мл + крышка",NaN,Новая,Россия,NaN,0.0,шт,Контейнеры,Контейнеры
14,35.0,"(не исп.) POLEX 350 арт 319, 350 мл стакан",NaN,Не активная,"КРЕСТЬЯНСКОЕ -ФЕРМЕРСКОЕ ХОЗЯЙСТВО ""НИЛ""",NaN,0.0,шт,Архив,Архив
15,35.0,"(не исп.) POLEX 350 арт 319, 350 мл стакан",NaN,Не активная,Добрая вода ООО,NaN,0.0,шт,Архив,Архив
16,35.0,"(не исп.) POLEX 350 арт 319, 350 мл стакан",NaN,Не активная,ТОРГОВЫЙ ДОМ ОПТИНА ООО,NaN,0.0,шт,Архив,Архив
17,35.0,"(не исп.) POLEX 350 арт 319, 350 мл стакан",NaN,Не активная,Лебедяньмолоко ООО,NaN,0.0,шт,Архив,Архив
18,35.0,"(не исп.) POLEX 350 арт 319, 350 мл стакан",NaN,Не активная,ПКФ РОСТОК ООО,NaN,0.0,шт,Архив,Архив
19,35.0,"(не исп.) POLEX 350 арт 319, 350 мл стакан",NaN,Не активная,КАРТОФЕЛЬНАЯ НИВА ОРЛОВЩИНЫ ЗАО,NaN,0.0,шт,Архив,Архив
20,35.0,"(не исп.) POLEX 350 арт 319, 350 мл стакан",NaN,Не активная,АМАЛТЕЯ ООО,NaN,0.0,шт,Архив,Архив
21,35.0,"(не исп.) POLEX 350 арт 319, 350 мл стакан",NaN,Не активная,СЫЧЕВСКАЯ МОЛОЧНАЯ КОМПАНИЯ ООО,NaN,0.0,шт,Архив,Архив
22,36.0,"(не исп.) KOMUS ТВ-200, 300 мл",NaN,Не активная,Россия,NaN,0.0,шт,Архив,Архив
23,37.0,"KOMUS КМ8СМ, 750 мл",NaN,Новая,Россия,NaN,0.0,шт,Контейнеры,Контейнеры
24,38.0,Элтека Бутылка 0.5 л,NaN,Новая,Россия,NaN,0.0,шт,Контейнеры,Контейнеры
25,39.0,Элтека Бутылка 0.9 л,NaN,Новая,Россия,NaN,0.0,шт,Контейнеры,Контейнеры
26,44.0,(уд)Молоко 3.2% Сухиничи,NaN,Не активная,САПК-Молок ООО,NaN,0.0,Шт,Архив,Архив
27,45.0,"(уд)Сметана 25% Сухиничи, 200г",NaN,Не активная,САПК-Молок ООО,NaN,0.0,NaN,Архив,Архив
28,46.0,"Масло сливочное 82,5%",РОССИЯ,Не активная,САПК-Молок ООО,NaN,0.0,кг,Масло,Молочная Продукция
29,46.0,"Масло сливочное 82,5%",РОССИЯ,Не активная,Агрофирма Оптина,20.0,0.0,кг,Масло,Молочная Продукция

In [36]:
quant_goods

,id_tov,Name_tov,Country,СтатусАктХар,Name_Har,СрокГодностиДни,krat_u,Ed_Izm,group_name,parent_group_name
0,NaN,NaN,РОССИЯ,Активная,"ООО ""Мануфактура Вкус Жизни""",365.0,NaN,NaN,NaN,NaN
1,NaN,NaN,РОССИЯ,Активная,"ООО ""Мануфактура Вкус Жизни""",365.0,NaN,NaN,NaN,NaN
2,NaN,NaN,РОССИЯ,Активная,"ООО ""Мануфактура Вкус Жизни""",304.0,NaN,NaN,NaN,NaN
3,NaN,NaN,РОССИЯ,Активная,"ООО ""Мануфактура Вкус Жизни""",304.0,NaN,NaN,NaN,NaN
4,NaN,NaN,РОССИЯ,Активная,"ООО ""Мануфактура Вкус Жизни""",304.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
64853,68057.0,Хлопушка пружинная с сюрпризом,Китай,Новая,YONGKANG CHAOSHUAI ARTS&CRAFTS CO,364635.0,0.0,шт,Детские товары,Нон-Фуд
64854,68058.0,Яблоко молодое Кабардинка,РОССИЯ,Активная,ФРУТИКО ООО,30.0,0.0,кг,Яблоки,Овощи. Фрукты. Грибы. Зелень
64855,68059.0,"Киви Азербайджан в корзинке, 900 г",Азербайджан,Новая,РУСФРУКТ+ ООО,30.0,0.0,шт,Фрукты,Овощи. Фрукты. Грибы. Зелень
64856,68059.0,"Киви Азербайджан в корзинке, 900 г",Азербайджан,Новая,ВИМФРУТ ООО,30.0,0.0,шт,Фрукты,Овощи. Фрукты. Грибы. Зелень
64857,68059.0,"Киви Азербайджан в корзинке, 900 г",Азербайджан,Активная,ФРУКТОЗА ООО,30.0,0.0,шт,Фрукты,Овощи. Фрукты. Грибы. Зелень

In [79]:
quant_goods[quant_goods['Name_tov'] == 'Кефир 3,2%']

,id_tov,Name_tov,Country,СтатусАктХар,Name_Har,СрокГодностиДни,krat_u,Ed_Izm,group_name,parent_group_name
356,158.0,"Кефир 3,2%",РОССИЯ,Не активная,Агрофирма Оптина,NaN,0.0,шт,Кефир,Молочная Продукция
357,158.0,"Кефир 3,2%",РОССИЯ,Не активная,БОР Щелканово,NaN,0.0,шт,Кефир,Молочная Продукция
358,158.0,"Кефир 3,2%",РОССИЯ,Не активная,Сычевский,5.0,0.0,шт,Кефир,Молочная Продукция
359,158.0,"Кефир 3,2%",РОССИЯ,Активная,ОДОЕВСКИЙ МАСЛОЗАВОД ОАО,5.0,0.0,шт,Кефир,Молочная Продукция
360,158.0,"Кефир 3,2%",РОССИЯ,Не активная,Болоховский хлебозавод ЗАО,NaN,0.0,шт,Кефир,Молочная Продукция
361,158.0,"Кефир 3,2%",РОССИЯ,Не активная,Торговый Дом БАРИНОФФ,NaN,0.0,шт,Кефир,Молочная Продукция
362,158.0,"Кефир 3,2%",РОССИЯ,Не активная,АПК Шатурский ООО,NaN,0.0,шт,Кефир,Молочная Продукция
363,158.0,"Кефир 3,2%",РОССИЯ,Не активная,Жуковомолоко ООО,NaN,0.0,шт,Кефир,Молочная Продукция
364,158.0,"Кефир 3,2%",РОССИЯ,Активная,Лебедяньмолоко ООО,6.0,10.0,шт,Кефир,Молочная Продукция
365,158.0,"Кефир 3,2%",РОССИЯ,Не активная,Великолукский молочный комбинат ЗАО,5.0,0.0,шт,Кефир,Молочная Продукция
366,158.0,"Кефир 3,2%",РОССИЯ,Не активная,Молочко плюс ООО,5.0,0.0,шт,Кефир,Молочная Продукция
367,158.0,"Кефир 3,2%",РОССИЯ,Не активная,ЗМК АО,6.0,0.0,шт,Кефир,Молочная Продукция
368,158.0,"Кефир 3,2%",РОССИЯ,Не активная,ВОСХОД ООО,5.0,0.0,шт,Кефир,Молочная Продукция
369,158.0,"Кефир 3,2%",РОССИЯ,Не активная,УРИЦКИЙ МОЛОКОЗАВОД ООО,5.0,0.0,шт,Кефир,Молочная Продукция
370,158.0,"Кефир 3,2%",РОССИЯ,Активная,КОСМОЛ ООО,5.0,12.0,шт,Кефир,Молочная Продукция
371,158.0,"Кефир 3,2%",РОССИЯ,Активная,РЯЗАНСКИЙ ООО АМК,5.0,6.0,шт,Кефир,Молочная Продукция
372,158.0,"Кефир 3,2%",РОССИЯ,Не активная,Молоко ОАО,7.0,0.0,шт,Кефир,Молочная Продукция
373,158.0,"Кефир 3,2%",РОССИЯ,Активная,"ТД Жуковское молоко, ООО",5.0,10.0,шт,Кефир,Молочная Продукция
374,158.0,"Кефир 3,2%",РОССИЯ,Не активная,ЕЛЕЦКИЙ ГОРМОЛЗАВОД ОАО,5.0,0.0,шт,Кефир,Молочная Продукция
375,158.0,"Кефир 3,2%",РОССИЯ,Активная,ТМК АО,6.0,6.0,шт,Кефир,Молочная Продукция
376,158.0,"Кефир 3,2%",РОССИЯ,Не активная,ЧМК ООО,5.0,0.0,шт,Кефир,Молочная Продукция
377,158.0,"Кефир 3,2%",РОССИЯ,Активная,Молодел ООО,6.0,15.0,шт,Кефир,Молочная Продукция
378,158.0,"Кефир 3,2%",РОССИЯ,Новая,ТД ШАХУНСКОЕ МОЛОКО ООО,5.0,0.0,шт,Кефир,Молочная Продукция

In [37]:
quant_goods2 = quant_goods[['id_tov','Name_tov','parent_group_name','СрокГодностиДни','krat_u']].groupby(['id_tov','Name_tov','parent_group_name'], as_index=False).agg({"СрокГодностиДни": 'mean',"krat_u": 'min'})

In [77]:
quant_goods2[quant_goods2['name_tov'] == 'Кефир 3,2%']

     id_tov    name_tov             name_gr  сроксуток  квант
108   158.0  Кефир 3,2%  Молочная Продукция   5.352941    0.0

In [39]:
quant_goods2.head(1)

,id_tov,Name_tov,parent_group_name,СрокГодностиДни,krat_u
0,5.0,(уд)товар ВкусВилл не определен,Архив,NaN,0.0

In [40]:
quant_goods2.columns = ['id_tov', 'name_tov', 'name_gr','сроксуток','квант']

 Считаем допоставки без фильтров по сроку годности

In [41]:
oos_by_shop_3 = oos_by_shop_2.merge(quant_goods2, how='left', on='id_tov',)

In [42]:
#Удаляем товары по которым нет срока годности и товары типа "Выдача наличных"
oos_by_shop_3 = oos_by_shop_3[(~oos_by_shop_3['сроксуток'].isnull()) & (oos_by_shop_3['name_gr'] != 'Прочее, служебные товары')& (oos_by_shop_3['name_gr'] != 'Рекламные материалы')& (oos_by_shop_3['name_gr'] != 'Пространство ВкусВилл')]

In [43]:
oos_by_shop_3

,id_tt,id_tov,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,All_Weekdopost,name_tov,name_gr,сроксуток,квант
0,11290,52,0.0,0.0,0.0,6.0,0.0,0.0,0.0,6.0,Сметана 25%,Молочная Продукция,6.900000,0.0
1,11290,77,0.0,0.0,0.0,0.0,0.0,2.0,0.0,2.0,Ряженка 4%,Молочная Продукция,5.285714,0.0
2,11290,143,0.0,4.0,0.0,0.0,0.0,0.0,3.0,7.0,Сметана 20%,Молочная Продукция,6.684211,0.0
3,11290,185,0.0,8.0,0.0,13.0,0.0,12.0,0.0,33.0,Творог 5%,Молочная Продукция,4.620690,0.0
4,11290,188,0.0,0.0,7.0,0.0,0.0,9.0,0.0,16.0,Творог 9%,Молочная Продукция,4.727273,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4094,15986,67442,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,"Яблочки ранетки желтые, 500г",Овощи. Фрукты. Грибы. Зелень,30.000000,0.0
4095,15986,67451,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Котлета куриная с гороховым пюре,Кулинария,4.000000,2.0
4096,15986,67645,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"Томаты черри сладкие грунтовые, 500 г",Овощи. Фрукты. Грибы. Зелень,20.000000,0.0
4097,15986,67653,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,"Торт ""Алфавит"" медовый","Торты, пирожные, десерты",5.000000,2.0
4098,15986,67795,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"Желе фруктово-ягодное апельсин, груша, клубника",Овощи. Фрукты. Грибы. Зелень,6.000000,4.0

In [44]:
#Оцениваем объем допоставок без фильтра по сроку годности
oos_by_shop_3[['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']].sum(axis = 1).sum(axis = 0)

10397.0

In [45]:
#Оцениваем объем допоставок по категориям без фильтра по сроку годности
oos_by_shop_3.groupby(["name_gr"], as_index=False)["All_Weekdopost"].sum()

                                           name_gr  All_Weekdopost
0                                         Алкоголь            29.0
1                                            Архив             6.0
2                                          Бакалея            21.0
3                                         ВВА_Вино             1.0
4                                  Детское питание            26.0
5                                 Замороженные п/ф            16.0
6                                             Кафе           244.0
7                                      Консервация            26.0
8                                        Кулинария          2736.0
9                           Кулинария замороженная             7.0
10                              Медицинские товары             0.0
11                                     Микромаркет             0.0
12                              Молочная Продукция          2078.0
13                                       Мороженое            58.0
14                               Мясная Витрина ВВ            46.0
15                      Мясные деликатесы. Колбасы           105.0
16                      Мясо. Птица. П/ф охл. Яйца           456.0
17                                         Напитки           185.0
18                                         Нон-Фуд            11.0
19                    Овощи. Фрукты. Грибы. Зелень          1921.0
20                              Отдел без упаковки             0.0
21                     Подписки на товары и услуги             6.0
22                              Рыба. Морепродукты            68.0
23                  Сладости, кондитерские изделия           125.0
24  Сухофрукты. Сушеные овощи, грибы, ягоды. Орехи             4.0
25                                            Сыры            65.0
26                     Торты, десерты замороженные             1.0
27                        Торты, пирожные, десерты           350.0
28                                            Хлеб          1806.0
29                             Чай и кофе. Проекты             0.0

Учитываем срок годности и приоритетность товаров

In [46]:
conditions = [
    (oos_by_shop_3['сроксуток'] <= 2),
    (oos_by_shop_3['сроксуток'] > 2) & (oos_by_shop_3['сроксуток'] <= 7),
    (oos_by_shop_3['сроксуток'] > 7) & (oos_by_shop_3['сроксуток'] <= 15),
    (oos_by_shop_3['сроксуток'] > 15)
]

In [47]:
values = [1, 1, 1, 1]

In [48]:
oos_by_shop_3['tier'] = np.select(conditions, values)

In [49]:
oos_by_shop_3

,id_tt,id_tov,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,All_Weekdopost,name_tov,name_gr,сроксуток,квант,tier
0,11290,52,0.0,0.0,0.0,6.0,0.0,0.0,0.0,6.0,Сметана 25%,Молочная Продукция,6.900000,0.0,1
1,11290,77,0.0,0.0,0.0,0.0,0.0,2.0,0.0,2.0,Ряженка 4%,Молочная Продукция,5.285714,0.0,1
2,11290,143,0.0,4.0,0.0,0.0,0.0,0.0,3.0,7.0,Сметана 20%,Молочная Продукция,6.684211,0.0,1
3,11290,185,0.0,8.0,0.0,13.0,0.0,12.0,0.0,33.0,Творог 5%,Молочная Продукция,4.620690,0.0,1
4,11290,188,0.0,0.0,7.0,0.0,0.0,9.0,0.0,16.0,Творог 9%,Молочная Продукция,4.727273,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4094,15986,67442,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,"Яблочки ранетки желтые, 500г",Овощи. Фрукты. Грибы. Зелень,30.000000,0.0,1
4095,15986,67451,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Котлета куриная с гороховым пюре,Кулинария,4.000000,2.0,1
4096,15986,67645,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"Томаты черри сладкие грунтовые, 500 г",Овощи. Фрукты. Грибы. Зелень,20.000000,0.0,1
4097,15986,67653,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,"Торт ""Алфавит"" медовый","Торты, пирожные, десерты",5.000000,2.0,1
4098,15986,67795,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"Желе фруктово-ягодное апельсин, груша, клубника",Овощи. Фрукты. Грибы. Зелень,6.000000,4.0,1

In [50]:
oos_by_shop_3['tier'].replace(to_replace = 0, value = 7, inplace=True)

In [51]:
oos_by_shop_3['popularity'] = 1

In [52]:
oos_by_shop_3.loc[oos_by_shop_3['name_gr'] == 'Мороженое', 'popularity'] = 0

In [53]:
oos_by_shop_3.loc[oos_by_shop_3['name_tov'] == 'Смузи', 'popularity'] = 0

In [54]:
oos_by_shop_3.loc[oos_by_shop_3['name_tov'].str.contains('Ролл'),'popularity'] = 0.5

In [55]:
oos_by_shop_3.loc[oos_by_shop_3['name_tov'].str.contains('ролл'),'popularity'] = 0.5

In [56]:
oos_by_shop_3.loc[oos_by_shop_3['name_gr'] == 'Хлеб', 'popularity'] = 0.5

In [57]:
oos_by_shop_3

,id_tt,id_tov,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,All_Weekdopost,name_tov,name_gr,сроксуток,квант,tier,popularity
0,11290,52,0.0,0.0,0.0,6.0,0.0,0.0,0.0,6.0,Сметана 25%,Молочная Продукция,6.900000,0.0,1,1.0
1,11290,77,0.0,0.0,0.0,0.0,0.0,2.0,0.0,2.0,Ряженка 4%,Молочная Продукция,5.285714,0.0,1,1.0
2,11290,143,0.0,4.0,0.0,0.0,0.0,0.0,3.0,7.0,Сметана 20%,Молочная Продукция,6.684211,0.0,1,1.0
3,11290,185,0.0,8.0,0.0,13.0,0.0,12.0,0.0,33.0,Творог 5%,Молочная Продукция,4.620690,0.0,1,1.0
4,11290,188,0.0,0.0,7.0,0.0,0.0,9.0,0.0,16.0,Творог 9%,Молочная Продукция,4.727273,0.0,1,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4094,15986,67442,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,"Яблочки ранетки желтые, 500г",Овощи. Фрукты. Грибы. Зелень,30.000000,0.0,1,1.0
4095,15986,67451,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Котлета куриная с гороховым пюре,Кулинария,4.000000,2.0,1,1.0
4096,15986,67645,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"Томаты черри сладкие грунтовые, 500 г",Овощи. Фрукты. Грибы. Зелень,20.000000,0.0,1,1.0
4097,15986,67653,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,"Торт ""Алфавит"" медовый","Торты, пирожные, десерты",5.000000,2.0,1,1.0
4098,15986,67795,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"Желе фруктово-ягодное апельсин, груша, клубника",Овощи. Фрукты. Грибы. Зелень,6.000000,4.0,1,1.0

In [58]:
for l in ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']:
    oos_by_shop_3[l] = oos_by_shop_3[l]*oos_by_shop_3['popularity']/oos_by_shop_3['tier']

In [59]:
oos_by_shop_3 = oos_by_shop_3.round({'Monday':0,'Tuesday':0,'Tuesday':0,'Wednesday':0,'Thursday':0,'Friday':0,'Saturday':0,'Sunday':0})

In [60]:
oos_by_shop_3['All_Weekdopost'] = oos_by_shop_3[['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']].sum(axis = 1)

In [61]:
oos_by_shop_3 = oos_by_shop_3[oos_by_shop_3['All_Weekdopost'] > 0]

In [62]:
oos_by_shop_3['All_Weekdopost'].sum()

9040.0

In [63]:
#Оцениваем объем допоставок по категориям c фильтрjv по сроку годности
oos_by_shop_3.groupby(["name_gr"], as_index=False)["All_Weekdopost"].sum()

                                           name_gr  All_Weekdopost
0                                         Алкоголь            29.0
1                                            Архив             6.0
2                                          Бакалея            21.0
3                                         ВВА_Вино             1.0
4                                  Детское питание            26.0
5                                 Замороженные п/ф            16.0
6                                             Кафе           237.0
7                                      Консервация            26.0
8                                        Кулинария          2426.0
9                           Кулинария замороженная             7.0
10                              Молочная Продукция          2078.0
11                               Мясная Витрина ВВ            46.0
12                      Мясные деликатесы. Колбасы           105.0
13                      Мясо. Птица. П/ф охл. Яйца           456.0
14                                         Напитки           185.0
15                                         Нон-Фуд            11.0
16                    Овощи. Фрукты. Грибы. Зелень          1921.0
17                     Подписки на товары и услуги             6.0
18                              Рыба. Морепродукты            68.0
19                  Сладости, кондитерские изделия           125.0
20  Сухофрукты. Сушеные овощи, грибы, ягоды. Орехи             4.0
21                                            Сыры            65.0
22                     Торты, десерты замороженные             1.0
23                        Торты, пирожные, десерты           350.0
24                                            Хлеб           824.0

Считаем на сколько денег будет эта допоставка

In [64]:
oos_by_shop_4 = oos_by_shop_3.merge(df_price[['id_tov','Price_retail']], how='left', on='id_tov',)

In [65]:
oos_by_shop_4.head(2)

,id_tt,id_tov,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,All_Weekdopost,name_tov,name_gr,сроксуток,квант,tier,popularity,Price_retail
0,11290,52,0.0,0.0,0.0,6.0,0.0,0.0,0.0,6.0,Сметана 25%,Молочная Продукция,6.900000,0.0,1,1.0,131.818182
1,11290,77,0.0,0.0,0.0,0.0,0.0,2.0,0.0,2.0,Ряженка 4%,Молочная Продукция,5.285714,0.0,1,1.0,59.090909

In [66]:
oos_by_shop_4['overal_sum'] = oos_by_shop_4['Price_retail']* oos_by_shop_4['All_Weekdopost']

In [67]:
oos_by_shop_4.head(2)

,id_tt,id_tov,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,All_Weekdopost,name_tov,name_gr,сроксуток,квант,tier,popularity,Price_retail,overal_sum
0,11290,52,0.0,0.0,0.0,6.0,0.0,0.0,0.0,6.0,Сметана 25%,Молочная Продукция,6.900000,0.0,1,1.0,131.818182,790.909091
1,11290,77,0.0,0.0,0.0,0.0,0.0,2.0,0.0,2.0,Ряженка 4%,Молочная Продукция,5.285714,0.0,1,1.0,59.090909,118.181818

In [68]:

oos_by_shop_4['overal_sum'].sum()

1018284.6769282838

In [69]:
oos_by_shop_4[["name_gr","overal_sum"]].groupby(["name_gr"], as_index=False)["overal_sum"].sum().round()

                                           name_gr  overal_sum
0                                         Алкоголь      3254.0
1                                            Архив         0.0
2                                          Бакалея      1539.0
3                                         ВВА_Вино         0.0
4                                  Детское питание      1473.0
5                                 Замороженные п/ф      5217.0
6                                             Кафе     23528.0
7                                      Консервация      1888.0
8                                        Кулинария    372167.0
9                           Кулинария замороженная      1693.0
10                              Молочная Продукция    159806.0
11                               Мясная Витрина ВВ         0.0
12                      Мясные деликатесы. Колбасы     16892.0
13                      Мясо. Птица. П/ф охл. Яйца     91732.0
14                                         Напитки     10962.0
15                                         Нон-Фуд       990.0
16                    Овощи. Фрукты. Грибы. Зелень    175403.0
17                     Подписки на товары и услуги      2450.0
18                              Рыба. Морепродукты     13645.0
19                  Сладости, кондитерские изделия     12114.0
20  Сухофрукты. Сушеные овощи, грибы, ягоды. Орехи       192.0
21                                            Сыры     15077.0
22                     Торты, десерты замороженные        98.0
23                        Торты, пирожные, десерты     57618.0
24                                            Хлеб     50546.0

In [70]:
oos_by_shop_4.merge(id_tt_n_tt[['id_tt','n','adress','name_TT']], how = 'left', on = 'id_tt')

,id_tt,id_tov,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,All_Weekdopost,name_tov,name_gr,сроксуток,квант,tier,popularity,Price_retail,overal_sum,n,adress,name_TT
0,11290,52,0.0,0.0,0.0,6.0,0.0,0.0,0.0,6.0,Сметана 25%,Молочная Продукция,6.900000,0.0,1,1.0,131.818182,790.909091,1020,Москва ул. Истринская д.10 к.1,1020М_Истринская10
1,11290,77,0.0,0.0,0.0,0.0,0.0,2.0,0.0,2.0,Ряженка 4%,Молочная Продукция,5.285714,0.0,1,1.0,59.090909,118.181818,1020,Москва ул. Истринская д.10 к.1,1020М_Истринская10
2,11290,143,0.0,4.0,0.0,0.0,0.0,0.0,3.0,7.0,Сметана 20%,Молочная Продукция,6.684211,0.0,1,1.0,126.363636,884.545455,1020,Москва ул. Истринская д.10 к.1,1020М_Истринская10
3,11290,185,0.0,8.0,0.0,13.0,0.0,12.0,0.0,33.0,Творог 5%,Молочная Продукция,4.620690,0.0,1,1.0,150.000000,4950.000000,1020,Москва ул. Истринская д.10 к.1,1020М_Истринская10
4,11290,188,0.0,0.0,7.0,0.0,0.0,9.0,0.0,16.0,Творог 9%,Молочная Продукция,4.727273,0.0,1,1.0,160.000000,2560.000000,1020,Москва ул. Истринская д.10 к.1,1020М_Истринская10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2925,15986,67159,0.0,0.0,0.0,1.0,0.0,1.0,1.0,3.0,Груша Сербия,Овощи. Фрукты. Грибы. Зелень,41.250000,0.0,1,1.0,NaN,NaN,5673,"Москва ул. Кастанаевская, д. 42 к. 2",5673М_Кастанаевская42
2926,15986,67188,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,"Лук зеленый, 50 г",Овощи. Фрукты. Грибы. Зелень,5.444444,0.0,1,1.0,NaN,NaN,5673,"Москва ул. Кастанаевская, д. 42 к. 2",5673М_Кастанаевская42
2927,15986,67285,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,Цыпленок табака вес.,Мясная Витрина ВВ,2.000000,0.0,1,1.0,NaN,NaN,5673,"Москва ул. Кастанаевская, д. 42 к. 2",5673М_Кастанаевская42
2928,15986,67442,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,"Яблочки ранетки желтые, 500г",Овощи. Фрукты. Грибы. Зелень,30.000000,0.0,1,1.0,NaN,NaN,5673,"Москва ул. Кастанаевская, д. 42 к. 2",5673М_Кастанаевская42
2929,15986,67653,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,"Торт ""Алфавит"" медовый","Торты, пирожные, десерты",5.000000,2.0,1,1.0,NaN,NaN,5673,"Москва ул. Кастанаевская, д. 42 к. 2",5673М_Кастанаевская42

In [71]:
oos_by_shop_5 = oos_by_shop_4.merge(id_tt_n_tt[['id_tt','n','adress','name_TT']], how = 'left', on = 'id_tt')

In [72]:
oos_by_shop_5['id_tt'].unique()

array([11290, 11357, 11783, 11956, 12414, 12533, 12860, 14112, 15753,
       15986], dtype=int64)

In [73]:
oos_by_shop_5

,id_tt,id_tov,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,All_Weekdopost,name_tov,name_gr,сроксуток,квант,tier,popularity,Price_retail,overal_sum,n,adress,name_TT
0,11290,52,0.0,0.0,0.0,6.0,0.0,0.0,0.0,6.0,Сметана 25%,Молочная Продукция,6.900000,0.0,1,1.0,131.818182,790.909091,1020,Москва ул. Истринская д.10 к.1,1020М_Истринская10
1,11290,77,0.0,0.0,0.0,0.0,0.0,2.0,0.0,2.0,Ряженка 4%,Молочная Продукция,5.285714,0.0,1,1.0,59.090909,118.181818,1020,Москва ул. Истринская д.10 к.1,1020М_Истринская10
2,11290,143,0.0,4.0,0.0,0.0,0.0,0.0,3.0,7.0,Сметана 20%,Молочная Продукция,6.684211,0.0,1,1.0,126.363636,884.545455,1020,Москва ул. Истринская д.10 к.1,1020М_Истринская10
3,11290,185,0.0,8.0,0.0,13.0,0.0,12.0,0.0,33.0,Творог 5%,Молочная Продукция,4.620690,0.0,1,1.0,150.000000,4950.000000,1020,Москва ул. Истринская д.10 к.1,1020М_Истринская10
4,11290,188,0.0,0.0,7.0,0.0,0.0,9.0,0.0,16.0,Творог 9%,Молочная Продукция,4.727273,0.0,1,1.0,160.000000,2560.000000,1020,Москва ул. Истринская д.10 к.1,1020М_Истринская10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2925,15986,67159,0.0,0.0,0.0,1.0,0.0,1.0,1.0,3.0,Груша Сербия,Овощи. Фрукты. Грибы. Зелень,41.250000,0.0,1,1.0,NaN,NaN,5673,"Москва ул. Кастанаевская, д. 42 к. 2",5673М_Кастанаевская42
2926,15986,67188,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,"Лук зеленый, 50 г",Овощи. Фрукты. Грибы. Зелень,5.444444,0.0,1,1.0,NaN,NaN,5673,"Москва ул. Кастанаевская, д. 42 к. 2",5673М_Кастанаевская42
2927,15986,67285,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,Цыпленок табака вес.,Мясная Витрина ВВ,2.000000,0.0,1,1.0,NaN,NaN,5673,"Москва ул. Кастанаевская, д. 42 к. 2",5673М_Кастанаевская42
2928,15986,67442,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,"Яблочки ранетки желтые, 500г",Овощи. Фрукты. Грибы. Зелень,30.000000,0.0,1,1.0,NaN,NaN,5673,"Москва ул. Кастанаевская, д. 42 к. 2",5673М_Кастанаевская42
2929,15986,67653,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,"Торт ""Алфавит"" медовый","Торты, пирожные, десерты",5.000000,2.0,1,1.0,NaN,NaN,5673,"Москва ул. Кастанаевская, д. 42 к. 2",5673М_Кастанаевская42

In [74]:
#чисто посмотреть что поставляем
oos_by_shop_5[['name_tov','id_tov','All_Weekdopost']].groupby(['name_tov','id_tov'],as_index=False)["All_Weekdopost"].sum().to_excel('Goods 01_09.xlsx')

In [75]:
oos_by_shop_6 = oos_by_shop_5[['name_TT','id_tov','name_tov','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday','All_Weekdopost','квант']]

In [76]:
oos_by_shop_6.to_excel('002 Calculate_07_09.xlsx')