In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm_notebook
pd.set_option('display.max_columns',None)


from pandas.api.types import CategoricalDtype

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly

sns.set(style='whitegrid')
plt.rcParams['figure.figsize']=(15,5)
%config InlineBackend.figure_format = 'png'
%matplotlib inline

Грузим чеки и магазины

In [2]:
#Грузим Магазины 
oos_by_shop = pd.read_csv("./003 df_oos_16_09.csv")

In [3]:
quant_goods = pd.read_excel("./tov_kvant_srok_09_09.xlsx")

In [4]:
df_price = pd.read_csv("./price.csv")

In [5]:
id_tt_n_tt = pd.read_excel("./id_tt_n_tt.xlsx")

In [6]:
oos_by_shop.fillna(0, inplace = True)

In [7]:
oos_by_shop_2 = oos_by_shop.copy()

In [8]:
oos_by_shop_2 = oos_by_shop_2.round({'Monday':0,'Tuesday':0,'Tuesday':0,'Wednesday':0,'Thursday':0,'Friday':0,'Saturday':0,'Sunday':0})

In [9]:
oos_by_shop_2['id_tt'].unique()

array([11290, 11357, 11783, 11956, 12414, 12533, 12860, 14112, 15753,
       15986], dtype=int64)

In [10]:
oos_by_shop_2

,id_tt,id_tov,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
0,11290,52,0.0,0.0,0.0,4.0,0.0,0.0,0.0
1,11290,143,0.0,8.0,2.0,0.0,0.0,0.0,8.0
2,11290,176,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,11290,185,0.0,10.0,0.0,0.0,0.0,0.0,0.0
4,11290,188,0.0,0.0,6.0,0.0,10.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
3655,15986,67159,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3656,15986,67189,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3657,15986,67285,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3658,15986,67653,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3659,15986,67806,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [11]:
oos_by_shop_2['All_Weekdopost'] = oos_by_shop_2[['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']].sum(axis = 1)

Приводим в порядок табдицу тоаров

In [12]:
quant_goods.head(30)

,id_tov,Name_tov,Country,СтатусАктХар,Name_Har,СрокГодностиДни,krat_u,Ed_Izm,group_name,parent_group_name
0,NaN,NaN,РОССИЯ,Активная,"ООО ""Мануфактура Вкус Жизни""",365.0,NaN,NaN,NaN,NaN
1,NaN,NaN,РОССИЯ,Активная,"ООО ""Мануфактура Вкус Жизни""",365.0,NaN,NaN,NaN,NaN
2,NaN,NaN,РОССИЯ,Активная,"ООО ""Мануфактура Вкус Жизни""",304.0,NaN,NaN,NaN,NaN
3,NaN,NaN,РОССИЯ,Активная,"ООО ""Мануфактура Вкус Жизни""",304.0,NaN,NaN,NaN,NaN
4,NaN,NaN,РОССИЯ,Активная,"ООО ""Мануфактура Вкус Жизни""",304.0,NaN,NaN,NaN,NaN
5,NaN,NaN,РОССИЯ,Активная,"ООО ""Мануфактура Вкус Жизни""",304.0,NaN,NaN,NaN,NaN
6,5.0,(уд)товар ВкусВилл не определен,NaN,Не активная,Агрофирма Пречистое ОАО,NaN,0.0,кг,Архив,Архив
7,6.0,(уд)Кефир 1% Восход,NaN,Не активная,Восход ОАО,NaN,0.0,Шт,Архив,Архив
8,7.0,(уд)Кефир 3.2% Восход,NaN,Не активная,Восход ОАО,NaN,0.0,Шт,Архив,Архив
9,10.0,"(уд)Творог 9% Восход, 0.3",NaN,Не активная,Восход ОАО,NaN,0.0,NaN,Архив,Архив
10,14.0,"(уд)Творог 18% Восход, 0.3",NaN,Не активная,Восход ОАО,NaN,0.0,NaN,Архив,Архив
11,16.0,"(уд)Сметана 25% Восход, 0.2",NaN,Не активная,Восход ОАО,NaN,0.0,NaN,Архив,Архив
12,20.0,"(уд)Творожная масса Восход, 0,3",NaN,Не активная,Восход ОАО,NaN,0.0,NaN,Архив,Архив
13,34.0,"POLEX 500 арт 306, 500 мл + крышка",NaN,Новая,Россия,NaN,0.0,шт,Контейнеры,Контейнеры
14,35.0,"(не исп.) POLEX 350 арт 319, 350 мл стакан",NaN,Не активная,"КРЕСТЬЯНСКОЕ -ФЕРМЕРСКОЕ ХОЗЯЙСТВО ""НИЛ""",NaN,0.0,шт,Архив,Архив
15,35.0,"(не исп.) POLEX 350 арт 319, 350 мл стакан",NaN,Не активная,Добрая вода ООО,NaN,0.0,шт,Архив,Архив
16,35.0,"(не исп.) POLEX 350 арт 319, 350 мл стакан",NaN,Не активная,ТОРГОВЫЙ ДОМ ОПТИНА ООО,NaN,0.0,шт,Архив,Архив
17,35.0,"(не исп.) POLEX 350 арт 319, 350 мл стакан",NaN,Не активная,Лебедяньмолоко ООО,NaN,0.0,шт,Архив,Архив
18,35.0,"(не исп.) POLEX 350 арт 319, 350 мл стакан",NaN,Не активная,ПКФ РОСТОК ООО,NaN,0.0,шт,Архив,Архив
19,35.0,"(не исп.) POLEX 350 арт 319, 350 мл стакан",NaN,Не активная,КАРТОФЕЛЬНАЯ НИВА ОРЛОВЩИНЫ ЗАО,NaN,0.0,шт,Архив,Архив
20,35.0,"(не исп.) POLEX 350 арт 319, 350 мл стакан",NaN,Не активная,АМАЛТЕЯ ООО,NaN,0.0,шт,Архив,Архив
21,35.0,"(не исп.) POLEX 350 арт 319, 350 мл стакан",NaN,Не активная,СЫЧЕВСКАЯ МОЛОЧНАЯ КОМПАНИЯ ООО,NaN,0.0,шт,Архив,Архив
22,36.0,"(не исп.) KOMUS ТВ-200, 300 мл",NaN,Не активная,Россия,NaN,0.0,шт,Архив,Архив
23,37.0,"KOMUS КМ8СМ, 750 мл",NaN,Новая,Россия,NaN,0.0,шт,Контейнеры,Контейнеры
24,38.0,Элтека Бутылка 0.5 л,NaN,Новая,Россия,NaN,0.0,шт,Контейнеры,Контейнеры
25,39.0,Элтека Бутылка 0.9 л,NaN,Новая,Россия,NaN,0.0,шт,Контейнеры,Контейнеры
26,44.0,(уд)Молоко 3.2% Сухиничи,NaN,Не активная,САПК-Молок ООО,NaN,0.0,Шт,Архив,Архив
27,45.0,"(уд)Сметана 25% Сухиничи, 200г",NaN,Не активная,САПК-Молок ООО,NaN,0.0,NaN,Архив,Архив
28,46.0,"Масло сливочное 82,5%",РОССИЯ,Не активная,САПК-Молок ООО,NaN,0.0,кг,Масло,Молочная Продукция
29,46.0,"Масло сливочное 82,5%",РОССИЯ,Не активная,Агрофирма Оптина,20.0,0.0,кг,Масло,Молочная Продукция

In [13]:
quant_goods

,id_tov,Name_tov,Country,СтатусАктХар,Name_Har,СрокГодностиДни,krat_u,Ed_Izm,group_name,parent_group_name
0,NaN,NaN,РОССИЯ,Активная,"ООО ""Мануфактура Вкус Жизни""",365.0,NaN,NaN,NaN,NaN
1,NaN,NaN,РОССИЯ,Активная,"ООО ""Мануфактура Вкус Жизни""",365.0,NaN,NaN,NaN,NaN
2,NaN,NaN,РОССИЯ,Активная,"ООО ""Мануфактура Вкус Жизни""",304.0,NaN,NaN,NaN,NaN
3,NaN,NaN,РОССИЯ,Активная,"ООО ""Мануфактура Вкус Жизни""",304.0,NaN,NaN,NaN,NaN
4,NaN,NaN,РОССИЯ,Активная,"ООО ""Мануфактура Вкус Жизни""",304.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
64853,68057.0,Хлопушка пружинная с сюрпризом,Китай,Новая,YONGKANG CHAOSHUAI ARTS&CRAFTS CO,364635.0,0.0,шт,Детские товары,Нон-Фуд
64854,68058.0,Яблоко молодое Кабардинка,РОССИЯ,Активная,ФРУТИКО ООО,30.0,0.0,кг,Яблоки,Овощи. Фрукты. Грибы. Зелень
64855,68059.0,"Киви Азербайджан в корзинке, 900 г",Азербайджан,Новая,РУСФРУКТ+ ООО,30.0,0.0,шт,Фрукты,Овощи. Фрукты. Грибы. Зелень
64856,68059.0,"Киви Азербайджан в корзинке, 900 г",Азербайджан,Новая,ВИМФРУТ ООО,30.0,0.0,шт,Фрукты,Овощи. Фрукты. Грибы. Зелень
64857,68059.0,"Киви Азербайджан в корзинке, 900 г",Азербайджан,Активная,ФРУКТОЗА ООО,30.0,0.0,шт,Фрукты,Овощи. Фрукты. Грибы. Зелень

In [14]:
quant_goods[quant_goods['Name_tov'] == 'Кефир 3,2%']

,id_tov,Name_tov,Country,СтатусАктХар,Name_Har,СрокГодностиДни,krat_u,Ed_Izm,group_name,parent_group_name
356,158.0,"Кефир 3,2%",РОССИЯ,Не активная,Агрофирма Оптина,NaN,0.0,шт,Кефир,Молочная Продукция
357,158.0,"Кефир 3,2%",РОССИЯ,Не активная,БОР Щелканово,NaN,0.0,шт,Кефир,Молочная Продукция
358,158.0,"Кефир 3,2%",РОССИЯ,Не активная,Сычевский,5.0,0.0,шт,Кефир,Молочная Продукция
359,158.0,"Кефир 3,2%",РОССИЯ,Активная,ОДОЕВСКИЙ МАСЛОЗАВОД ОАО,5.0,0.0,шт,Кефир,Молочная Продукция
360,158.0,"Кефир 3,2%",РОССИЯ,Не активная,Болоховский хлебозавод ЗАО,NaN,0.0,шт,Кефир,Молочная Продукция
361,158.0,"Кефир 3,2%",РОССИЯ,Не активная,Торговый Дом БАРИНОФФ,NaN,0.0,шт,Кефир,Молочная Продукция
362,158.0,"Кефир 3,2%",РОССИЯ,Не активная,АПК Шатурский ООО,NaN,0.0,шт,Кефир,Молочная Продукция
363,158.0,"Кефир 3,2%",РОССИЯ,Не активная,Жуковомолоко ООО,NaN,0.0,шт,Кефир,Молочная Продукция
364,158.0,"Кефир 3,2%",РОССИЯ,Активная,Лебедяньмолоко ООО,6.0,10.0,шт,Кефир,Молочная Продукция
365,158.0,"Кефир 3,2%",РОССИЯ,Не активная,Великолукский молочный комбинат ЗАО,5.0,0.0,шт,Кефир,Молочная Продукция
366,158.0,"Кефир 3,2%",РОССИЯ,Не активная,Молочко плюс ООО,5.0,0.0,шт,Кефир,Молочная Продукция
367,158.0,"Кефир 3,2%",РОССИЯ,Не активная,ЗМК АО,6.0,0.0,шт,Кефир,Молочная Продукция
368,158.0,"Кефир 3,2%",РОССИЯ,Не активная,ВОСХОД ООО,5.0,0.0,шт,Кефир,Молочная Продукция
369,158.0,"Кефир 3,2%",РОССИЯ,Не активная,УРИЦКИЙ МОЛОКОЗАВОД ООО,5.0,0.0,шт,Кефир,Молочная Продукция
370,158.0,"Кефир 3,2%",РОССИЯ,Активная,КОСМОЛ ООО,5.0,12.0,шт,Кефир,Молочная Продукция
371,158.0,"Кефир 3,2%",РОССИЯ,Активная,РЯЗАНСКИЙ ООО АМК,5.0,6.0,шт,Кефир,Молочная Продукция
372,158.0,"Кефир 3,2%",РОССИЯ,Не активная,Молоко ОАО,7.0,0.0,шт,Кефир,Молочная Продукция
373,158.0,"Кефир 3,2%",РОССИЯ,Активная,"ТД Жуковское молоко, ООО",5.0,10.0,шт,Кефир,Молочная Продукция
374,158.0,"Кефир 3,2%",РОССИЯ,Не активная,ЕЛЕЦКИЙ ГОРМОЛЗАВОД ОАО,5.0,0.0,шт,Кефир,Молочная Продукция
375,158.0,"Кефир 3,2%",РОССИЯ,Активная,ТМК АО,6.0,6.0,шт,Кефир,Молочная Продукция
376,158.0,"Кефир 3,2%",РОССИЯ,Не активная,ЧМК ООО,5.0,0.0,шт,Кефир,Молочная Продукция
377,158.0,"Кефир 3,2%",РОССИЯ,Активная,Молодел ООО,6.0,15.0,шт,Кефир,Молочная Продукция
378,158.0,"Кефир 3,2%",РОССИЯ,Новая,ТД ШАХУНСКОЕ МОЛОКО ООО,5.0,0.0,шт,Кефир,Молочная Продукция

In [15]:
quant_goods2 = quant_goods[['id_tov','Name_tov','parent_group_name','СрокГодностиДни','krat_u']].groupby(['id_tov','Name_tov','parent_group_name'], as_index=False).agg({"СрокГодностиДни": 'mean',"krat_u": 'min'})

In [16]:
quant_goods2[quant_goods2['Name_tov'] == 'Кефир 3,2%']

     id_tov    Name_tov   parent_group_name  СрокГодностиДни  krat_u
108   158.0  Кефир 3,2%  Молочная Продукция         5.352941     0.0

In [17]:
quant_goods2.head(1)

,id_tov,Name_tov,parent_group_name,СрокГодностиДни,krat_u
0,5.0,(уд)товар ВкусВилл не определен,Архив,NaN,0.0

In [18]:
quant_goods2.columns = ['id_tov', 'name_tov', 'name_gr','сроксуток','квант']

 Считаем допоставки без фильтров по сроку годности

In [19]:
oos_by_shop_3 = oos_by_shop_2.merge(quant_goods2, how='left', on='id_tov',)

In [20]:
#Удаляем товары по которым нет срока годности и товары типа "Выдача наличных"
oos_by_shop_3 = oos_by_shop_3[(~oos_by_shop_3['сроксуток'].isnull()) & (oos_by_shop_3['name_gr'] != 'Прочее, служебные товары')& (oos_by_shop_3['name_gr'] != 'Рекламные материалы')& (oos_by_shop_3['name_gr'] != 'Пространство ВкусВилл')]

In [21]:
oos_by_shop_3

,id_tt,id_tov,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,All_Weekdopost,name_tov,name_gr,сроксуток,квант
0,11290,52,0.0,0.0,0.0,4.0,0.0,0.0,0.0,4.0,Сметана 25%,Молочная Продукция,6.900000,0.0
1,11290,143,0.0,8.0,2.0,0.0,0.0,0.0,8.0,18.0,Сметана 20%,Молочная Продукция,6.684211,0.0
2,11290,176,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Крем творожный 15%,Молочная Продукция,8.500000,0.0
3,11290,185,0.0,10.0,0.0,0.0,0.0,0.0,0.0,10.0,Творог 5%,Молочная Продукция,4.620690,0.0
4,11290,188,0.0,0.0,6.0,0.0,10.0,0.0,0.0,16.0,Творог 9%,Молочная Продукция,4.727273,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3655,15986,67159,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,Груша Сербия,Овощи. Фрукты. Грибы. Зелень,41.250000,0.0
3656,15986,67189,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,"Кинза, 30 г",Овощи. Фрукты. Грибы. Зелень,5.444444,0.0
3657,15986,67285,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,Цыпленок табака вес.,Мясная Витрина ВВ,2.000000,0.0
3658,15986,67653,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,"Торт ""Алфавит"" медовый","Торты, пирожные, десерты",5.000000,2.0
3659,15986,67806,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,Сэндвич ролл с курицей и коктейльным соусом,Кулинария,3.000000,0.0

In [22]:
#Оцениваем объем допоставок без фильтра по сроку годности
oos_by_shop_3[['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']].sum(axis = 1).sum(axis = 0)

8974.0

In [23]:
#Оцениваем объем допоставок по категориям без фильтра по сроку годности
oos_by_shop_3.groupby(["name_gr"], as_index=False)["All_Weekdopost"].sum()

                                           name_gr  All_Weekdopost
0                                         Алкоголь            11.0
1                                            Архив             3.0
2                                          Бакалея            31.0
3                                  Детское питание            21.0
4                                 Замороженные п/ф            36.0
5                                             Кафе           327.0
6                                      Консервация            29.0
7                                        Кулинария          2294.0
8                           Кулинария замороженная             5.0
9                               Медицинские товары             2.0
10                              Молочная Продукция          1556.0
11                                       Мороженое            11.0
12                               Мясная Витрина ВВ            70.0
13                      Мясные деликатесы. Колбасы            95.0
14                      Мясо. Птица. П/ф охл. Яйца           388.0
15                                         Напитки           127.0
16                                         Нон-Фуд            24.0
17                    Овощи. Фрукты. Грибы. Зелень          1561.0
18                              Отдел без упаковки             0.0
19                     Подписки на товары и услуги             1.0
20                              Рыба. Морепродукты            69.0
21                  Сладости, кондитерские изделия           185.0
22  Сухофрукты. Сушеные овощи, грибы, ягоды. Орехи             2.0
23                                            Сыры            65.0
24                     Торты, десерты замороженные             2.0
25                        Торты, пирожные, десерты           377.0
26                                            Хлеб          1682.0
27                             Чай и кофе. Проекты             0.0

Учитываем срок годности и приоритетность товаров

In [24]:
conditions = [
    (oos_by_shop_3['сроксуток'] <= 2),
    (oos_by_shop_3['сроксуток'] > 2) & (oos_by_shop_3['сроксуток'] <= 7),
    (oos_by_shop_3['сроксуток'] > 7) & (oos_by_shop_3['сроксуток'] <= 15),
    (oos_by_shop_3['сроксуток'] > 15)
]

In [25]:
values = [1, 1, 1, 1]

In [26]:
oos_by_shop_3['tier'] = np.select(conditions, values)

In [27]:
oos_by_shop_3

,id_tt,id_tov,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,All_Weekdopost,name_tov,name_gr,сроксуток,квант,tier
0,11290,52,0.0,0.0,0.0,4.0,0.0,0.0,0.0,4.0,Сметана 25%,Молочная Продукция,6.900000,0.0,1
1,11290,143,0.0,8.0,2.0,0.0,0.0,0.0,8.0,18.0,Сметана 20%,Молочная Продукция,6.684211,0.0,1
2,11290,176,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Крем творожный 15%,Молочная Продукция,8.500000,0.0,1
3,11290,185,0.0,10.0,0.0,0.0,0.0,0.0,0.0,10.0,Творог 5%,Молочная Продукция,4.620690,0.0,1
4,11290,188,0.0,0.0,6.0,0.0,10.0,0.0,0.0,16.0,Творог 9%,Молочная Продукция,4.727273,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3655,15986,67159,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,Груша Сербия,Овощи. Фрукты. Грибы. Зелень,41.250000,0.0,1
3656,15986,67189,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,"Кинза, 30 г",Овощи. Фрукты. Грибы. Зелень,5.444444,0.0,1
3657,15986,67285,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,Цыпленок табака вес.,Мясная Витрина ВВ,2.000000,0.0,1
3658,15986,67653,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,"Торт ""Алфавит"" медовый","Торты, пирожные, десерты",5.000000,2.0,1
3659,15986,67806,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,Сэндвич ролл с курицей и коктейльным соусом,Кулинария,3.000000,0.0,1

In [28]:
oos_by_shop_3['tier'].replace(to_replace = 0, value = 7, inplace=True)

In [29]:
oos_by_shop_3['popularity'] = 1

In [30]:
oos_by_shop_3.loc[oos_by_shop_3['name_gr'] == 'Мороженое', 'popularity'] = 0

In [31]:
oos_by_shop_3.loc[oos_by_shop_3['name_tov'] == 'Смузи', 'popularity'] = 0

In [32]:
oos_by_shop_3.loc[oos_by_shop_3['name_tov'].str.contains('Ролл'),'popularity'] = 0.5

In [33]:
oos_by_shop_3.loc[oos_by_shop_3['name_tov'].str.contains('ролл'),'popularity'] = 0.5

In [34]:
oos_by_shop_3.loc[oos_by_shop_3['name_gr'] == 'Хлеб', 'popularity'] = 0.5

In [35]:
oos_by_shop_3

,id_tt,id_tov,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,All_Weekdopost,name_tov,name_gr,сроксуток,квант,tier,popularity
0,11290,52,0.0,0.0,0.0,4.0,0.0,0.0,0.0,4.0,Сметана 25%,Молочная Продукция,6.900000,0.0,1,1.0
1,11290,143,0.0,8.0,2.0,0.0,0.0,0.0,8.0,18.0,Сметана 20%,Молочная Продукция,6.684211,0.0,1,1.0
2,11290,176,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Крем творожный 15%,Молочная Продукция,8.500000,0.0,1,1.0
3,11290,185,0.0,10.0,0.0,0.0,0.0,0.0,0.0,10.0,Творог 5%,Молочная Продукция,4.620690,0.0,1,1.0
4,11290,188,0.0,0.0,6.0,0.0,10.0,0.0,0.0,16.0,Творог 9%,Молочная Продукция,4.727273,0.0,1,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3655,15986,67159,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,Груша Сербия,Овощи. Фрукты. Грибы. Зелень,41.250000,0.0,1,1.0
3656,15986,67189,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,"Кинза, 30 г",Овощи. Фрукты. Грибы. Зелень,5.444444,0.0,1,1.0
3657,15986,67285,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,Цыпленок табака вес.,Мясная Витрина ВВ,2.000000,0.0,1,1.0
3658,15986,67653,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,"Торт ""Алфавит"" медовый","Торты, пирожные, десерты",5.000000,2.0,1,1.0
3659,15986,67806,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,Сэндвич ролл с курицей и коктейльным соусом,Кулинария,3.000000,0.0,1,0.5

In [36]:
for l in ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']:
    oos_by_shop_3[l] = oos_by_shop_3[l]*oos_by_shop_3['popularity']/oos_by_shop_3['tier']

In [37]:
oos_by_shop_3 = oos_by_shop_3.round({'Monday':0,'Tuesday':0,'Tuesday':0,'Wednesday':0,'Thursday':0,'Friday':0,'Saturday':0,'Sunday':0})

In [38]:
oos_by_shop_3['All_Weekdopost'] = oos_by_shop_3[['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']].sum(axis = 1)

In [39]:
oos_by_shop_3 = oos_by_shop_3[oos_by_shop_3['All_Weekdopost'] > 0]

In [40]:
oos_by_shop_3['All_Weekdopost'].sum()

7777.0

In [41]:
#Оцениваем объем допоставок по категориям c фильтрjv по сроку годности
oos_by_shop_3.groupby(["name_gr"], as_index=False)["All_Weekdopost"].sum()

                                           name_gr  All_Weekdopost
0                                         Алкоголь            11.0
1                                            Архив             3.0
2                                          Бакалея            31.0
3                                  Детское питание            21.0
4                                 Замороженные п/ф            36.0
5                                             Кафе           315.0
6                                      Консервация            29.0
7                                        Кулинария          2061.0
8                           Кулинария замороженная             5.0
9                               Медицинские товары             2.0
10                              Молочная Продукция          1556.0
11                               Мясная Витрина ВВ            70.0
12                      Мясные деликатесы. Колбасы            95.0
13                      Мясо. Птица. П/ф охл. Яйца           388.0
14                                         Напитки           127.0
15                                         Нон-Фуд            24.0
16                    Овощи. Фрукты. Грибы. Зелень          1561.0
17                     Подписки на товары и услуги             1.0
18                              Рыба. Морепродукты            69.0
19                  Сладости, кондитерские изделия           185.0
20  Сухофрукты. Сушеные овощи, грибы, ягоды. Орехи             2.0
21                                            Сыры            65.0
22                     Торты, десерты замороженные             2.0
23                        Торты, пирожные, десерты           377.0
24                                            Хлеб           741.0

Считаем на сколько денег будет эта допоставка

In [42]:
oos_by_shop_4 = oos_by_shop_3.merge(df_price[['id_tov','Price_retail']], how='left', on='id_tov',)

In [43]:
oos_by_shop_4.head(2)

,id_tt,id_tov,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,All_Weekdopost,name_tov,name_gr,сроксуток,квант,tier,popularity,Price_retail
0,11290,52,0.0,0.0,0.0,4.0,0.0,0.0,0.0,4.0,Сметана 25%,Молочная Продукция,6.900000,0.0,1,1.0,131.818182
1,11290,143,0.0,8.0,2.0,0.0,0.0,0.0,8.0,18.0,Сметана 20%,Молочная Продукция,6.684211,0.0,1,1.0,126.363636

In [44]:
oos_by_shop_4['overal_sum'] = oos_by_shop_4['Price_retail']* oos_by_shop_4['All_Weekdopost']

In [45]:
oos_by_shop_4.head(2)

,id_tt,id_tov,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,All_Weekdopost,name_tov,name_gr,сроксуток,квант,tier,popularity,Price_retail,overal_sum
0,11290,52,0.0,0.0,0.0,4.0,0.0,0.0,0.0,4.0,Сметана 25%,Молочная Продукция,6.900000,0.0,1,1.0,131.818182,527.272727
1,11290,143,0.0,8.0,2.0,0.0,0.0,0.0,8.0,18.0,Сметана 20%,Молочная Продукция,6.684211,0.0,1,1.0,126.363636,2274.545455

In [46]:

oos_by_shop_4['overal_sum'].sum()

986665.3782977926

In [47]:
oos_by_shop_4[["name_gr","overal_sum"]].groupby(["name_gr"], as_index=False)["overal_sum"].sum().round()

                                           name_gr  overal_sum
0                                         Алкоголь       972.0
1                                            Архив       815.0
2                                          Бакалея      2448.0
3                                  Детское питание      1175.0
4                                 Замороженные п/ф     10221.0
5                                             Кафе     37193.0
6                                      Консервация      2477.0
7                                        Кулинария    318497.0
8                           Кулинария замороженная      1034.0
9                               Медицинские товары       760.0
10                              Молочная Продукция    127509.0
11                               Мясная Витрина ВВ         0.0
12                      Мясные деликатесы. Колбасы     19498.0
13                      Мясо. Птица. П/ф охл. Яйца     87993.0
14                                         Напитки      7979.0
15                                         Нон-Фуд      3802.0
16                    Овощи. Фрукты. Грибы. Зелень    215052.0
17                     Подписки на товары и услуги       408.0
18                              Рыба. Морепродукты     11944.0
19                  Сладости, кондитерские изделия     17852.0
20  Сухофрукты. Сушеные овощи, грибы, ягоды. Орехи       108.0
21                                            Сыры     11742.0
22                     Торты, десерты замороженные       708.0
23                        Торты, пирожные, десерты     62846.0
24                                            Хлеб     43629.0

In [48]:
oos_by_shop_4.merge(id_tt_n_tt[['id_tt','n','adress','name_TT']], how = 'left', on = 'id_tt')

,id_tt,id_tov,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,All_Weekdopost,name_tov,name_gr,сроксуток,квант,tier,popularity,Price_retail,overal_sum,n,adress,name_TT
0,11290,52,0.0,0.0,0.0,4.0,0.0,0.0,0.0,4.0,Сметана 25%,Молочная Продукция,6.900000,0.0,1,1.0,131.818182,527.272727,1020,Москва ул. Истринская д.10 к.1,1020М_Истринская10
1,11290,143,0.0,8.0,2.0,0.0,0.0,0.0,8.0,18.0,Сметана 20%,Молочная Продукция,6.684211,0.0,1,1.0,126.363636,2274.545455,1020,Москва ул. Истринская д.10 к.1,1020М_Истринская10
2,11290,185,0.0,10.0,0.0,0.0,0.0,0.0,0.0,10.0,Творог 5%,Молочная Продукция,4.620690,0.0,1,1.0,150.000000,1500.000000,1020,Москва ул. Истринская д.10 к.1,1020М_Истринская10
3,11290,188,0.0,0.0,6.0,0.0,10.0,0.0,0.0,16.0,Творог 9%,Молочная Продукция,4.727273,0.0,1,1.0,160.000000,2560.000000,1020,Москва ул. Истринская д.10 к.1,1020М_Истринская10
4,11290,270,0.0,5.0,0.0,0.0,0.0,0.0,0.0,5.0,"Молоко детское 3,2%",Молочная Продукция,30.000000,0.0,1,1.0,31.818182,159.090909,1020,Москва ул. Истринская д.10 к.1,1020М_Истринская10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2638,15986,66704,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,"Фарш из свинины и говядины ""по стандарту Вкусв...",Мясо. Птица. П/ф охл. Яйца,5.666667,0.0,1,1.0,NaN,NaN,5673,"Москва ул. Кастанаевская, д. 42 к. 2",5673М_Кастанаевская42
2639,15986,67159,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,Груша Сербия,Овощи. Фрукты. Грибы. Зелень,41.250000,0.0,1,1.0,NaN,NaN,5673,"Москва ул. Кастанаевская, д. 42 к. 2",5673М_Кастанаевская42
2640,15986,67189,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,"Кинза, 30 г",Овощи. Фрукты. Грибы. Зелень,5.444444,0.0,1,1.0,NaN,NaN,5673,"Москва ул. Кастанаевская, д. 42 к. 2",5673М_Кастанаевская42
2641,15986,67285,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,Цыпленок табака вес.,Мясная Витрина ВВ,2.000000,0.0,1,1.0,NaN,NaN,5673,"Москва ул. Кастанаевская, д. 42 к. 2",5673М_Кастанаевская42
2642,15986,67653,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,"Торт ""Алфавит"" медовый","Торты, пирожные, десерты",5.000000,2.0,1,1.0,NaN,NaN,5673,"Москва ул. Кастанаевская, д. 42 к. 2",5673М_Кастанаевская42

In [49]:
oos_by_shop_5 = oos_by_shop_4.merge(id_tt_n_tt[['id_tt','n','adress','name_TT']], how = 'left', on = 'id_tt')

In [50]:
oos_by_shop_5['id_tt'].unique()

array([11290, 11357, 11783, 11956, 12414, 12533, 12860, 14112, 15753,
       15986], dtype=int64)

In [51]:
oos_by_shop_5

,id_tt,id_tov,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,All_Weekdopost,name_tov,name_gr,сроксуток,квант,tier,popularity,Price_retail,overal_sum,n,adress,name_TT
0,11290,52,0.0,0.0,0.0,4.0,0.0,0.0,0.0,4.0,Сметана 25%,Молочная Продукция,6.900000,0.0,1,1.0,131.818182,527.272727,1020,Москва ул. Истринская д.10 к.1,1020М_Истринская10
1,11290,143,0.0,8.0,2.0,0.0,0.0,0.0,8.0,18.0,Сметана 20%,Молочная Продукция,6.684211,0.0,1,1.0,126.363636,2274.545455,1020,Москва ул. Истринская д.10 к.1,1020М_Истринская10
2,11290,185,0.0,10.0,0.0,0.0,0.0,0.0,0.0,10.0,Творог 5%,Молочная Продукция,4.620690,0.0,1,1.0,150.000000,1500.000000,1020,Москва ул. Истринская д.10 к.1,1020М_Истринская10
3,11290,188,0.0,0.0,6.0,0.0,10.0,0.0,0.0,16.0,Творог 9%,Молочная Продукция,4.727273,0.0,1,1.0,160.000000,2560.000000,1020,Москва ул. Истринская д.10 к.1,1020М_Истринская10
4,11290,270,0.0,5.0,0.0,0.0,0.0,0.0,0.0,5.0,"Молоко детское 3,2%",Молочная Продукция,30.000000,0.0,1,1.0,31.818182,159.090909,1020,Москва ул. Истринская д.10 к.1,1020М_Истринская10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2638,15986,66704,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,"Фарш из свинины и говядины ""по стандарту Вкусв...",Мясо. Птица. П/ф охл. Яйца,5.666667,0.0,1,1.0,NaN,NaN,5673,"Москва ул. Кастанаевская, д. 42 к. 2",5673М_Кастанаевская42
2639,15986,67159,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,Груша Сербия,Овощи. Фрукты. Грибы. Зелень,41.250000,0.0,1,1.0,NaN,NaN,5673,"Москва ул. Кастанаевская, д. 42 к. 2",5673М_Кастанаевская42
2640,15986,67189,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,"Кинза, 30 г",Овощи. Фрукты. Грибы. Зелень,5.444444,0.0,1,1.0,NaN,NaN,5673,"Москва ул. Кастанаевская, д. 42 к. 2",5673М_Кастанаевская42
2641,15986,67285,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,Цыпленок табака вес.,Мясная Витрина ВВ,2.000000,0.0,1,1.0,NaN,NaN,5673,"Москва ул. Кастанаевская, д. 42 к. 2",5673М_Кастанаевская42
2642,15986,67653,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,"Торт ""Алфавит"" медовый","Торты, пирожные, десерты",5.000000,2.0,1,1.0,NaN,NaN,5673,"Москва ул. Кастанаевская, д. 42 к. 2",5673М_Кастанаевская42

,name_TT,id_tov,name_tov,name_gr,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,All_Weekdopost,квант
0,1020М_Истринская10,52,Сметана 25%,Молочная Продукция,0.0,0.0,0.0,0.0,0.0,0.0,4.0,4.0,0.0
1,1020М_Истринская10,143,Сметана 20%,Молочная Продукция,8.0,0.0,8.0,0.0,0.0,2.0,0.0,18.0,0.0
2,1020М_Истринская10,185,Творог 5%,Молочная Продукция,10.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,0.0
3,1020М_Истринская10,188,Творог 9%,Молочная Продукция,0.0,0.0,0.0,10.0,0.0,6.0,0.0,16.0,0.0
4,1020М_Истринская10,270,"Молоко детское 3,2%",Молочная Продукция,5.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2638,5673М_Кастанаевская42,66704,"Фарш из свинины и говядины ""по стандарту Вкусв...",Мясо. Птица. П/ф охл. Яйца,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2639,5673М_Кастанаевская42,67159,Груша Сербия,Овощи. Фрукты. Грибы. Зелень,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2640,5673М_Кастанаевская42,67189,"Кинза, 30 г",Овощи. Фрукты. Грибы. Зелень,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2641,5673М_Кастанаевская42,67285,Цыпленок табака вес.,Мясная Витрина ВВ,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2642,5673М_Кастанаевская42,67653,"Торт ""Алфавит"" медовый","Торты, пирожные, десерты",0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0

In [52]:
#чисто посмотреть что поставляем
oos_by_shop_5[['name_tov','id_tov','All_Weekdopost']].groupby(['name_tov','id_tov'],as_index=False)["All_Weekdopost"].sum().to_excel('Goods 01_09.xlsx')

In [53]:
oos_by_shop_6 = oos_by_shop_5[['name_TT','id_tov','name_tov','name_gr','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday','All_Weekdopost','квант']]

In [55]:
oos_by_shop_6.to_excel('002 Calculate_16_09_2.xlsx')