In [1]:
    import pandas as pd
import numpy as np
from tqdm import tqdm_notebook
pd.set_option('display.max_columns',None)


from pandas.api.types import CategoricalDtype

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly

sns.set(style='whitegrid')
plt.rcParams['figure.figsize']=(15,5)
%config InlineBackend.figure_format = 'png'
%matplotlib inline

Грузим чеки и магазины

In [2]:
#Грузим Магазины
df_dopost = pd.read_excel("./002 Calculate_23_09_2.xlsx")

In [3]:
df_dopost

,Unnamed: 0,name_TT,id_tov,name_gr,name_tov,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,All_Weekdopost,квант
0,2066,5447М_Боровское2к5,23074,Овощи. Фрукты. Грибы. Зелень,Манго Египет,20,0,0,0,0,20,0,107,0.0
1,2007,5447М_Боровское2к5,17525,Молочная Продукция,"Молоко 3,2% в бутылке",0,20,0,0,0,0,20,60,0.0
2,23,1020М_Истринская10,731,Овощи. Фрукты. Грибы. Зелень,Бананы,15,0,20,0,0,0,0,54,0.0
3,866,1501М_Пырьева5,23074,Овощи. Фрукты. Грибы. Зелень,Манго Египет,10,0,0,0,0,0,0,50,0.0
4,417,1020М_Истринская10,65693,Кафе,"Молоко ультрапастеризованное 3,2% сырье, кафе",0,10,0,10,0,0,10,43,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2452,2447,5673М_Кастанаевская42,64110,Мясные деликатесы. Колбасы,"Колбаса ливерная ""Яичная"", 300 г",0,0,0,1,0,0,0,1,0.0
2453,2452,5673М_Кастанаевская42,66714,Кулинария,"Запеканка творожная с наполнителем ""Дыня""",0,0,0,1,0,0,0,1,0.0
2454,2453,5673М_Кастанаевская42,66924,Хлеб,Круассан миндальный с лимонным курдом,0,0,0,0,0,1,0,1,3.0
2455,2454,5673М_Кастанаевская42,67009,Молочная Продукция,"Сметана 10%, 200 г",0,0,1,0,0,0,0,1,0.0
2456,2455,5673М_Кастанаевская42,67139,Кафе,"Кранч-бабка соленая карамель с грецким орехом,...",0,0,0,0,1,0,0,1,4.0

In [4]:
df_price = pd.read_csv("./price.csv")

In [5]:
df_dopost['All_Weekdopost'] = df_dopost[['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']].sum(axis = 1)

In [6]:
df_ost = pd.read_csv('./df_oos (5).csv', sep=',',low_memory=False)

In [7]:
df_ost['id_tt'].unique()

array([10786, 11020, 11128, 11178, 11290, 11357, 11458, 11657, 11783,
       11841, 12015, 12084, 12414, 12533, 12612, 12618, 12860, 14112,
       14125, 14855, 14859, 14899, 14902, 15140, 15753, 15986, 16130],
      dtype=int64)

In [8]:
df_dopost

,Unnamed: 0,name_TT,id_tov,name_gr,name_tov,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,All_Weekdopost,квант
0,2066,5447М_Боровское2к5,23074,Овощи. Фрукты. Грибы. Зелень,Манго Египет,20,0,0,0,0,20,0,40,0.0
1,2007,5447М_Боровское2к5,17525,Молочная Продукция,"Молоко 3,2% в бутылке",0,20,0,0,0,0,20,40,0.0
2,23,1020М_Истринская10,731,Овощи. Фрукты. Грибы. Зелень,Бананы,15,0,20,0,0,0,0,35,0.0
3,866,1501М_Пырьева5,23074,Овощи. Фрукты. Грибы. Зелень,Манго Египет,10,0,0,0,0,0,0,10,0.0
4,417,1020М_Истринская10,65693,Кафе,"Молоко ультрапастеризованное 3,2% сырье, кафе",0,10,0,10,0,0,10,30,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2452,2447,5673М_Кастанаевская42,64110,Мясные деликатесы. Колбасы,"Колбаса ливерная ""Яичная"", 300 г",0,0,0,1,0,0,0,1,0.0
2453,2452,5673М_Кастанаевская42,66714,Кулинария,"Запеканка творожная с наполнителем ""Дыня""",0,0,0,1,0,0,0,1,0.0
2454,2453,5673М_Кастанаевская42,66924,Хлеб,Круассан миндальный с лимонным курдом,0,0,0,0,0,1,0,1,3.0
2455,2454,5673М_Кастанаевская42,67009,Молочная Продукция,"Сметана 10%, 200 г",0,0,1,0,0,0,0,1,0.0
2456,2455,5673М_Кастанаевская42,67139,Кафе,"Кранч-бабка соленая карамель с грецким орехом,...",0,0,0,0,1,0,0,1,4.0

In [9]:
df_price

      Unnamed: 0  id_tov  Price_retail
0              0      52    131.818182
1              1      61     74.545455
2              2      69    490.909091
3              3      75     48.181818
4              4      77     59.090909
...          ...     ...           ...
5578        5578   64274     98.181818
5579        5579   64329    180.000000
5580        5580   64336    114.545455
5581        5581   64341    135.757576
5582        5582   64424     62.727273

[5583 rows x 3 columns]

In [10]:
df_dopost2= df_dopost.merge(df_price[['id_tov','Price_retail']], how='left', on='id_tov',)

In [11]:
df_dopost.head(1)

,Unnamed: 0,name_TT,id_tov,name_gr,name_tov,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,All_Weekdopost,квант
0,2066,5447М_Боровское2к5,23074,Овощи. Фрукты. Грибы. Зелень,Манго Египет,20,0,0,0,0,20,0,40,0.0

In [12]:
df_dopost2['overal'] = df_dopost2['All_Weekdopost']* df_dopost2['Price_retail']

In [13]:
df_dopost2[~df_dopost2['overal'].isnull()].sum()

Unnamed: 0                                                  2433234
name_TT           5447М_Боровское2к55447М_Боровское2к51020М_Истр...
id_tov                                                     61135025
name_gr           Овощи. Фрукты. Грибы. ЗеленьМолочная Продукция...
name_tov          Манго ЕгипетМолоко 3,2% в бутылкеБананыМанго Е...
Monday                                                          765
Tuesday                                                         789
Wednesday                                                      1069
Thursday                                                        911
Friday                                                          637
Saturday                                                        870
Sunday                                                          957
All_Weekdopost                                                 5998
квант                                                      5709.623
Price_retail                                          307403.145836
overal                                                880306.588737
dtype: object

In [14]:
df_dopost[(df_dopost['name_gr'] == 'Овощи. Фрукты. Грибы. Зелень')& (df_dopost['name_TT'] =='1376М_Ельнинская23')]

Empty DataFrame
Columns: [Unnamed: 0, name_TT, id_tov, name_gr, name_tov, Monday, Tuesday, Wednesday, Thursday, Friday, Saturday, Sunday, All_Weekdopost, квант]
Index: []

In [15]:
df_dopost['name_TT'].unique()

array(['5447М_Боровское2к5', '1020М_Истринская10', '1501М_Пырьева5',
       '1087М_Грекова22', '3835Ш_АкадемикаЛандау1', '2554М_Кутузовский45',
       '2218М_Енисейская11', '5673М_Кастанаевская42',
       '2117Ш_Изумрудная24'], dtype=object)

In [19]:
with pd.ExcelWriter("./26_09_02_10_FROV.xlsx") as writer:

    # use to_excel function and specify the sheet_name and index
    # to store the dataframe in specified sheet
    df_dopost[(df_dopost['name_gr'] == 'Овощи. Фрукты. Грибы. Зелень')& (df_dopost['name_TT'] =='5447М_Боровское2к5')].to_excel(writer, sheet_name="5447М", index=False)
    df_dopost[(df_dopost['name_gr'] == 'Овощи. Фрукты. Грибы. Зелень')& (df_dopost['name_TT'] =='1020М_Истринская10')].to_excel(writer, sheet_name="1020М", index=False)
    df_dopost[(df_dopost['name_gr'] == 'Овощи. Фрукты. Грибы. Зелень')& (df_dopost['name_TT'] =='1501М_Пырьева5')].to_excel(writer, sheet_name="1501М", index=False)
    df_dopost[(df_dopost['name_gr'] == 'Овощи. Фрукты. Грибы. Зелень')& (df_dopost['name_TT'] =='1087М_Грекова22')].to_excel(writer, sheet_name="1087М", index=False)
    df_dopost[(df_dopost['name_gr'] == 'Овощи. Фрукты. Грибы. Зелень')& (df_dopost['name_TT'] =='3835Ш_АкадемикаЛандау1')].to_excel(writer, sheet_name="3835Ш", index=False)
    df_dopost[(df_dopost['name_gr'] == 'Овощи. Фрукты. Грибы. Зелень')& (df_dopost['name_TT'] =='2554М_Кутузовский45')].to_excel(writer, sheet_name="2554М", index=False)
    df_dopost[(df_dopost['name_gr'] == 'Овощи. Фрукты. Грибы. Зелень')& (df_dopost['name_TT'] =='2218М_Енисейская11')].to_excel(writer, sheet_name="2218М", index=False)
    df_dopost[(df_dopost['name_gr'] == 'Овощи. Фрукты. Грибы. Зелень')& (df_dopost['name_TT'] =='5673М_Кастанаевская42')].to_excel(writer, sheet_name="5673М", index=False)
    df_dopost[(df_dopost['name_gr'] == 'Овощи. Фрукты. Грибы. Зелень')& (df_dopost['name_TT'] =='2117Ш_Изумрудная24')].to_excel(writer, sheet_name="2117Ш", index=False)

In [20]:
with pd.ExcelWriter("./26_09_02_10_NO_FROV.xlsx") as writer:

    # use to_excel function and specify the sheet_name and index
    # to store the dataframe in specified sheet
    df_dopost[~(df_dopost['name_gr'] == 'Овощи. Фрукты. Грибы. Зелень')& (df_dopost['name_TT'] =='5447М_Боровское2к5')].to_excel(writer, sheet_name="5447М", index=False)
    df_dopost[~(df_dopost['name_gr'] == 'Овощи. Фрукты. Грибы. Зелень')& (df_dopost['name_TT'] =='1020М_Истринская10')].to_excel(writer, sheet_name="1020М", index=False)
    df_dopost[~(df_dopost['name_gr'] == 'Овощи. Фрукты. Грибы. Зелень')& (df_dopost['name_TT'] =='1501М_Пырьева5')].to_excel(writer, sheet_name="1501М", index=False)
    df_dopost[~(df_dopost['name_gr'] == 'Овощи. Фрукты. Грибы. Зелень')& (df_dopost['name_TT'] =='1087М_Грекова22')].to_excel(writer, sheet_name="1087М", index=False)
    df_dopost[~(df_dopost['name_gr'] == 'Овощи. Фрукты. Грибы. Зелень')& (df_dopost['name_TT'] =='3835Ш_АкадемикаЛандау1')].to_excel(writer, sheet_name="3835Ш", index=False)
    df_dopost[~(df_dopost['name_gr'] == 'Овощи. Фрукты. Грибы. Зелень')& (df_dopost['name_TT'] =='2554М_Кутузовский45')].to_excel(writer, sheet_name="2554М", index=False)
    df_dopost[~(df_dopost['name_gr'] == 'Овощи. Фрукты. Грибы. Зелень')& (df_dopost['name_TT'] =='2218М_Енисейская11')].to_excel(writer, sheet_name="2218М", index=False)
    df_dopost[~(df_dopost['name_gr'] == 'Овощи. Фрукты. Грибы. Зелень')& (df_dopost['name_TT'] =='5673М_Кастанаевская42')].to_excel(writer, sheet_name="5673М", index=False)
    df_dopost[~(df_dopost['name_gr'] == 'Овощи. Фрукты. Грибы. Зелень')& (df_dopost['name_TT'] =='2117Ш_Изумрудная24')].to_excel(writer, sheet_name="2117Ш", index=False)