In [1]:
    import pandas as pd
import numpy as np
from tqdm import tqdm_notebook
pd.set_option('display.max_columns',None)


from pandas.api.types import CategoricalDtype

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly

sns.set(style='whitegrid')
plt.rcParams['figure.figsize']=(15,5)
%config InlineBackend.figure_format = 'png'
%matplotlib inline

Грузим чеки и магазины

In [2]:
#Грузим Магазины 
oos_by_shop = pd.read_csv("./005_df_oos_23_09.csv")

In [3]:
quant_goods = pd.read_excel("./tov_kvant_srok_09_09.xlsx")

In [4]:
oos_by_shop['id_tt'].unique()

array([10786, 11020, 11128, 11178, 11290, 11357, 11458, 11657, 11783,
       11841, 12015, 12084, 12414, 12533, 12612, 12618, 12860, 14112,
       14125, 14855, 14859, 14899, 14902, 15140, 15753, 15986, 16130],
      dtype=int64)

In [5]:
oos_by_shop

,id_tt,id_tov,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
0,10786,61,NaN,NaN,NaN,NaN,NaN,3.0,NaN
1,10786,91,NaN,NaN,1.0,NaN,NaN,3.0,NaN
2,10786,143,NaN,NaN,NaN,NaN,NaN,15.0,NaN
3,10786,151,NaN,4.5,NaN,NaN,NaN,NaN,NaN
4,10786,158,NaN,NaN,14.5,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
12281,16130,67762,NaN,NaN,1.2,NaN,NaN,NaN,NaN
12282,16130,67796,NaN,NaN,NaN,0.1325,NaN,NaN,NaN
12283,16130,67957,NaN,NaN,NaN,0.3320,NaN,NaN,NaN
12284,16130,68058,NaN,NaN,NaN,0.5480,NaN,NaN,NaN
12285,16130,68103,NaN,1.5,NaN,NaN,NaN,NaN,NaN

In [6]:
oos_by_shop = oos_by_shop[oos_by_shop['id_tt'].isin([11290, 11357, 11783, 11956, 12414, 12533, 12860, 14112, 15753,15986])]

In [7]:
df_price = pd.read_csv("./price.csv")

In [8]:
id_tt_n_tt = pd.read_excel("./id_tt_n_tt.xlsx")

In [9]:
oos_by_shop.fillna(0, inplace = True)

C:\Temp\ipykernel_15512\211596481.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  oos_by_shop.fillna(0, inplace = True)

In [10]:
oos_by_shop_2 = oos_by_shop.copy()

In [11]:
oos_by_shop_2 = oos_by_shop_2.round({'Monday':0,'Tuesday':0,'Tuesday':0,'Wednesday':0,'Thursday':0,'Friday':0,'Saturday':0,'Sunday':0})

In [12]:
oos_by_shop_2['id_tt'].unique()

array([11290, 11357, 11783, 12414, 12533, 12860, 14112, 15753, 15986],
      dtype=int64)

In [13]:
oos_by_shop_2

,id_tt,id_tov,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
2045,11290,75,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2046,11290,77,0.0,0.0,0.0,3.0,0.0,0.0,0.0
2047,11290,143,0.0,4.0,0.0,0.0,0.0,0.0,8.0
2048,11290,158,0.0,0.0,0.0,8.0,0.0,0.0,0.0
2049,11290,176,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
11825,15986,67139,1.0,0.0,0.0,0.0,0.0,0.0,0.0
11826,15986,67201,0.0,0.0,0.0,0.0,0.0,4.0,0.0
11827,15986,67438,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11828,15986,67752,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11829,15986,67806,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [14]:
oos_by_shop_2['All_Weekdopost'] = oos_by_shop_2[['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']].sum(axis = 1)

Приводим в порядок табдицу тоаров

In [15]:
quant_goods.head(30)

,id_tov,Name_tov,Country,СтатусАктХар,Name_Har,СрокГодностиДни,krat_u,Ed_Izm,group_name,parent_group_name
0,NaN,NaN,РОССИЯ,Активная,"ООО ""Мануфактура Вкус Жизни""",365.0,NaN,NaN,NaN,NaN
1,NaN,NaN,РОССИЯ,Активная,"ООО ""Мануфактура Вкус Жизни""",365.0,NaN,NaN,NaN,NaN
2,NaN,NaN,РОССИЯ,Активная,"ООО ""Мануфактура Вкус Жизни""",304.0,NaN,NaN,NaN,NaN
3,NaN,NaN,РОССИЯ,Активная,"ООО ""Мануфактура Вкус Жизни""",304.0,NaN,NaN,NaN,NaN
4,NaN,NaN,РОССИЯ,Активная,"ООО ""Мануфактура Вкус Жизни""",304.0,NaN,NaN,NaN,NaN
5,NaN,NaN,РОССИЯ,Активная,"ООО ""Мануфактура Вкус Жизни""",304.0,NaN,NaN,NaN,NaN
6,5.0,(уд)товар ВкусВилл не определен,NaN,Не активная,Агрофирма Пречистое ОАО,NaN,0.0,кг,Архив,Архив
7,6.0,(уд)Кефир 1% Восход,NaN,Не активная,Восход ОАО,NaN,0.0,Шт,Архив,Архив
8,7.0,(уд)Кефир 3.2% Восход,NaN,Не активная,Восход ОАО,NaN,0.0,Шт,Архив,Архив
9,10.0,"(уд)Творог 9% Восход, 0.3",NaN,Не активная,Восход ОАО,NaN,0.0,NaN,Архив,Архив
10,14.0,"(уд)Творог 18% Восход, 0.3",NaN,Не активная,Восход ОАО,NaN,0.0,NaN,Архив,Архив
11,16.0,"(уд)Сметана 25% Восход, 0.2",NaN,Не активная,Восход ОАО,NaN,0.0,NaN,Архив,Архив
12,20.0,"(уд)Творожная масса Восход, 0,3",NaN,Не активная,Восход ОАО,NaN,0.0,NaN,Архив,Архив
13,34.0,"POLEX 500 арт 306, 500 мл + крышка",NaN,Новая,Россия,NaN,0.0,шт,Контейнеры,Контейнеры
14,35.0,"(не исп.) POLEX 350 арт 319, 350 мл стакан",NaN,Не активная,"КРЕСТЬЯНСКОЕ -ФЕРМЕРСКОЕ ХОЗЯЙСТВО ""НИЛ""",NaN,0.0,шт,Архив,Архив
15,35.0,"(не исп.) POLEX 350 арт 319, 350 мл стакан",NaN,Не активная,Добрая вода ООО,NaN,0.0,шт,Архив,Архив
16,35.0,"(не исп.) POLEX 350 арт 319, 350 мл стакан",NaN,Не активная,ТОРГОВЫЙ ДОМ ОПТИНА ООО,NaN,0.0,шт,Архив,Архив
17,35.0,"(не исп.) POLEX 350 арт 319, 350 мл стакан",NaN,Не активная,Лебедяньмолоко ООО,NaN,0.0,шт,Архив,Архив
18,35.0,"(не исп.) POLEX 350 арт 319, 350 мл стакан",NaN,Не активная,ПКФ РОСТОК ООО,NaN,0.0,шт,Архив,Архив
19,35.0,"(не исп.) POLEX 350 арт 319, 350 мл стакан",NaN,Не активная,КАРТОФЕЛЬНАЯ НИВА ОРЛОВЩИНЫ ЗАО,NaN,0.0,шт,Архив,Архив
20,35.0,"(не исп.) POLEX 350 арт 319, 350 мл стакан",NaN,Не активная,АМАЛТЕЯ ООО,NaN,0.0,шт,Архив,Архив
21,35.0,"(не исп.) POLEX 350 арт 319, 350 мл стакан",NaN,Не активная,СЫЧЕВСКАЯ МОЛОЧНАЯ КОМПАНИЯ ООО,NaN,0.0,шт,Архив,Архив
22,36.0,"(не исп.) KOMUS ТВ-200, 300 мл",NaN,Не активная,Россия,NaN,0.0,шт,Архив,Архив
23,37.0,"KOMUS КМ8СМ, 750 мл",NaN,Новая,Россия,NaN,0.0,шт,Контейнеры,Контейнеры
24,38.0,Элтека Бутылка 0.5 л,NaN,Новая,Россия,NaN,0.0,шт,Контейнеры,Контейнеры
25,39.0,Элтека Бутылка 0.9 л,NaN,Новая,Россия,NaN,0.0,шт,Контейнеры,Контейнеры
26,44.0,(уд)Молоко 3.2% Сухиничи,NaN,Не активная,САПК-Молок ООО,NaN,0.0,Шт,Архив,Архив
27,45.0,"(уд)Сметана 25% Сухиничи, 200г",NaN,Не активная,САПК-Молок ООО,NaN,0.0,NaN,Архив,Архив
28,46.0,"Масло сливочное 82,5%",РОССИЯ,Не активная,САПК-Молок ООО,NaN,0.0,кг,Масло,Молочная Продукция
29,46.0,"Масло сливочное 82,5%",РОССИЯ,Не активная,Агрофирма Оптина,20.0,0.0,кг,Масло,Молочная Продукция

In [16]:
quant_goods

,id_tov,Name_tov,Country,СтатусАктХар,Name_Har,СрокГодностиДни,krat_u,Ed_Izm,group_name,parent_group_name
0,NaN,NaN,РОССИЯ,Активная,"ООО ""Мануфактура Вкус Жизни""",365.0,NaN,NaN,NaN,NaN
1,NaN,NaN,РОССИЯ,Активная,"ООО ""Мануфактура Вкус Жизни""",365.0,NaN,NaN,NaN,NaN
2,NaN,NaN,РОССИЯ,Активная,"ООО ""Мануфактура Вкус Жизни""",304.0,NaN,NaN,NaN,NaN
3,NaN,NaN,РОССИЯ,Активная,"ООО ""Мануфактура Вкус Жизни""",304.0,NaN,NaN,NaN,NaN
4,NaN,NaN,РОССИЯ,Активная,"ООО ""Мануфактура Вкус Жизни""",304.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
64853,68057.0,Хлопушка пружинная с сюрпризом,Китай,Новая,YONGKANG CHAOSHUAI ARTS&CRAFTS CO,364635.0,0.0,шт,Детские товары,Нон-Фуд
64854,68058.0,Яблоко молодое Кабардинка,РОССИЯ,Активная,ФРУТИКО ООО,30.0,0.0,кг,Яблоки,Овощи. Фрукты. Грибы. Зелень
64855,68059.0,"Киви Азербайджан в корзинке, 900 г",Азербайджан,Новая,РУСФРУКТ+ ООО,30.0,0.0,шт,Фрукты,Овощи. Фрукты. Грибы. Зелень
64856,68059.0,"Киви Азербайджан в корзинке, 900 г",Азербайджан,Новая,ВИМФРУТ ООО,30.0,0.0,шт,Фрукты,Овощи. Фрукты. Грибы. Зелень
64857,68059.0,"Киви Азербайджан в корзинке, 900 г",Азербайджан,Активная,ФРУКТОЗА ООО,30.0,0.0,шт,Фрукты,Овощи. Фрукты. Грибы. Зелень

In [17]:
quant_goods[quant_goods['Name_tov'] == 'Кефир 3,2%']

,id_tov,Name_tov,Country,СтатусАктХар,Name_Har,СрокГодностиДни,krat_u,Ed_Izm,group_name,parent_group_name
356,158.0,"Кефир 3,2%",РОССИЯ,Не активная,Агрофирма Оптина,NaN,0.0,шт,Кефир,Молочная Продукция
357,158.0,"Кефир 3,2%",РОССИЯ,Не активная,БОР Щелканово,NaN,0.0,шт,Кефир,Молочная Продукция
358,158.0,"Кефир 3,2%",РОССИЯ,Не активная,Сычевский,5.0,0.0,шт,Кефир,Молочная Продукция
359,158.0,"Кефир 3,2%",РОССИЯ,Активная,ОДОЕВСКИЙ МАСЛОЗАВОД ОАО,5.0,0.0,шт,Кефир,Молочная Продукция
360,158.0,"Кефир 3,2%",РОССИЯ,Не активная,Болоховский хлебозавод ЗАО,NaN,0.0,шт,Кефир,Молочная Продукция
361,158.0,"Кефир 3,2%",РОССИЯ,Не активная,Торговый Дом БАРИНОФФ,NaN,0.0,шт,Кефир,Молочная Продукция
362,158.0,"Кефир 3,2%",РОССИЯ,Не активная,АПК Шатурский ООО,NaN,0.0,шт,Кефир,Молочная Продукция
363,158.0,"Кефир 3,2%",РОССИЯ,Не активная,Жуковомолоко ООО,NaN,0.0,шт,Кефир,Молочная Продукция
364,158.0,"Кефир 3,2%",РОССИЯ,Активная,Лебедяньмолоко ООО,6.0,10.0,шт,Кефир,Молочная Продукция
365,158.0,"Кефир 3,2%",РОССИЯ,Не активная,Великолукский молочный комбинат ЗАО,5.0,0.0,шт,Кефир,Молочная Продукция
366,158.0,"Кефир 3,2%",РОССИЯ,Не активная,Молочко плюс ООО,5.0,0.0,шт,Кефир,Молочная Продукция
367,158.0,"Кефир 3,2%",РОССИЯ,Не активная,ЗМК АО,6.0,0.0,шт,Кефир,Молочная Продукция
368,158.0,"Кефир 3,2%",РОССИЯ,Не активная,ВОСХОД ООО,5.0,0.0,шт,Кефир,Молочная Продукция
369,158.0,"Кефир 3,2%",РОССИЯ,Не активная,УРИЦКИЙ МОЛОКОЗАВОД ООО,5.0,0.0,шт,Кефир,Молочная Продукция
370,158.0,"Кефир 3,2%",РОССИЯ,Активная,КОСМОЛ ООО,5.0,12.0,шт,Кефир,Молочная Продукция
371,158.0,"Кефир 3,2%",РОССИЯ,Активная,РЯЗАНСКИЙ ООО АМК,5.0,6.0,шт,Кефир,Молочная Продукция
372,158.0,"Кефир 3,2%",РОССИЯ,Не активная,Молоко ОАО,7.0,0.0,шт,Кефир,Молочная Продукция
373,158.0,"Кефир 3,2%",РОССИЯ,Активная,"ТД Жуковское молоко, ООО",5.0,10.0,шт,Кефир,Молочная Продукция
374,158.0,"Кефир 3,2%",РОССИЯ,Не активная,ЕЛЕЦКИЙ ГОРМОЛЗАВОД ОАО,5.0,0.0,шт,Кефир,Молочная Продукция
375,158.0,"Кефир 3,2%",РОССИЯ,Активная,ТМК АО,6.0,6.0,шт,Кефир,Молочная Продукция
376,158.0,"Кефир 3,2%",РОССИЯ,Не активная,ЧМК ООО,5.0,0.0,шт,Кефир,Молочная Продукция
377,158.0,"Кефир 3,2%",РОССИЯ,Активная,Молодел ООО,6.0,15.0,шт,Кефир,Молочная Продукция
378,158.0,"Кефир 3,2%",РОССИЯ,Новая,ТД ШАХУНСКОЕ МОЛОКО ООО,5.0,0.0,шт,Кефир,Молочная Продукция

In [18]:
quant_goods2 = quant_goods[['id_tov','Name_tov','parent_group_name','СрокГодностиДни','krat_u']].groupby(['id_tov','Name_tov','parent_group_name'], as_index=False).agg({"СрокГодностиДни": 'mean',"krat_u": 'min'})

In [19]:
quant_goods2[quant_goods2['Name_tov'] == 'Кефир 3,2%']

     id_tov    Name_tov   parent_group_name  СрокГодностиДни  krat_u
108   158.0  Кефир 3,2%  Молочная Продукция         5.352941     0.0

In [20]:
quant_goods2.head(1)

,id_tov,Name_tov,parent_group_name,СрокГодностиДни,krat_u
0,5.0,(уд)товар ВкусВилл не определен,Архив,NaN,0.0

In [21]:
quant_goods2.columns = ['id_tov', 'name_tov', 'name_gr','сроксуток','квант']

 Считаем допоставки без фильтров по сроку годности

In [22]:
oos_by_shop_3 = oos_by_shop_2.merge(quant_goods2, how='left', on='id_tov',)

In [23]:
#Удаляем товары по которым нет срока годности и товары типа "Выдача наличных"
oos_by_shop_3 = oos_by_shop_3[(~oos_by_shop_3['сроксуток'].isnull()) & (oos_by_shop_3['name_gr'] != 'Прочее, служебные товары')& (oos_by_shop_3['name_gr'] != 'Рекламные материалы')& (oos_by_shop_3['name_gr'] != 'Пространство ВкусВилл')]

In [24]:
oos_by_shop_3

,id_tt,id_tov,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,All_Weekdopost,name_tov,name_gr,сроксуток,квант
0,11290,75,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,Простокваша 4%,Молочная Продукция,5.500000,0.0
1,11290,77,0.0,0.0,0.0,3.0,0.0,0.0,0.0,3.0,Ряженка 4%,Молочная Продукция,5.285714,0.0
2,11290,143,0.0,4.0,0.0,0.0,0.0,0.0,8.0,12.0,Сметана 20%,Молочная Продукция,6.684211,0.0
3,11290,158,0.0,0.0,0.0,8.0,0.0,0.0,0.0,8.0,"Кефир 3,2%",Молочная Продукция,5.352941,0.0
4,11290,176,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,Крем творожный 15%,Молочная Продукция,8.500000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3438,15986,67139,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,"Кранч-бабка соленая карамель с грецким орехом,...",Кафе,3.000000,4.0
3439,15986,67201,0.0,0.0,0.0,0.0,0.0,4.0,0.0,4.0,"Укроп, 30 г",Овощи. Фрукты. Грибы. Зелень,5.444444,0.0
3440,15986,67438,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"Нектарин в корзинке, 1 кг",Овощи. Фрукты. Грибы. Зелень,25.000000,4.0
3441,15986,67752,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Яблоко молодое Симиренко,Овощи. Фрукты. Грибы. Зелень,30.000000,0.0
3442,15986,67806,0.0,0.0,1.0,0.0,1.0,1.0,0.0,3.0,Сэндвич ролл с курицей и коктейльным соусом,Кулинария,3.000000,0.0

In [25]:
#Оцениваем объем допоставок без фильтра по сроку годности
oos_by_shop_3[['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']].sum(axis = 1).sum(axis = 0)

9033.0

In [26]:
#Оцениваем объем допоставок по категориям без фильтра по сроку годности
oos_by_shop_3.groupby(["name_gr"], as_index=False)["All_Weekdopost"].sum()

                                           name_gr  All_Weekdopost
0                                         Алкоголь             7.0
1                                            Архив            25.0
2                                          Бакалея            29.0
3                                         ВВА_Вино             1.0
4                                  Детское питание            24.0
5                                 Замороженные п/ф            31.0
6                                             Кафе           308.0
7                                      Консервация            19.0
8                                        Кулинария          2539.0
9                           Кулинария замороженная             4.0
10                              Медицинские товары             2.0
11                              Молочная Продукция          1466.0
12                                       Мороженое            45.0
13                               Мясная Витрина ВВ            34.0
14                      Мясные деликатесы. Колбасы            61.0
15                      Мясо. Птица. П/ф охл. Яйца           356.0
16                                         Напитки           135.0
17                                         Нон-Фуд            15.0
18                    Овощи. Фрукты. Грибы. Зелень          1544.0
19                     Подписки на товары и услуги             0.0
20                              Рыба. Морепродукты            86.0
21                  Сладости, кондитерские изделия           147.0
22  Сухофрукты. Сушеные овощи, грибы, ягоды. Орехи            10.0
23                                            Сыры            53.0
24                        Торты, пирожные, десерты           369.0
25                                            Хлеб          1723.0

Учитываем срок годности и приоритетность товаров

In [27]:
conditions = [
    (oos_by_shop_3['сроксуток'] <= 2),
    (oos_by_shop_3['сроксуток'] > 2) & (oos_by_shop_3['сроксуток'] <= 7),
    (oos_by_shop_3['сроксуток'] > 7) & (oos_by_shop_3['сроксуток'] <= 15),
    (oos_by_shop_3['сроксуток'] > 15)
]

In [28]:
values = [2, 1, 1, 1]

In [29]:
oos_by_shop_3['tier'] = np.select(conditions, values)

In [30]:
oos_by_shop_3

,id_tt,id_tov,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,All_Weekdopost,name_tov,name_gr,сроксуток,квант,tier
0,11290,75,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,Простокваша 4%,Молочная Продукция,5.500000,0.0,1
1,11290,77,0.0,0.0,0.0,3.0,0.0,0.0,0.0,3.0,Ряженка 4%,Молочная Продукция,5.285714,0.0,1
2,11290,143,0.0,4.0,0.0,0.0,0.0,0.0,8.0,12.0,Сметана 20%,Молочная Продукция,6.684211,0.0,1
3,11290,158,0.0,0.0,0.0,8.0,0.0,0.0,0.0,8.0,"Кефир 3,2%",Молочная Продукция,5.352941,0.0,1
4,11290,176,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,Крем творожный 15%,Молочная Продукция,8.500000,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3438,15986,67139,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,"Кранч-бабка соленая карамель с грецким орехом,...",Кафе,3.000000,4.0,1
3439,15986,67201,0.0,0.0,0.0,0.0,0.0,4.0,0.0,4.0,"Укроп, 30 г",Овощи. Фрукты. Грибы. Зелень,5.444444,0.0,1
3440,15986,67438,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"Нектарин в корзинке, 1 кг",Овощи. Фрукты. Грибы. Зелень,25.000000,4.0,1
3441,15986,67752,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Яблоко молодое Симиренко,Овощи. Фрукты. Грибы. Зелень,30.000000,0.0,1
3442,15986,67806,0.0,0.0,1.0,0.0,1.0,1.0,0.0,3.0,Сэндвич ролл с курицей и коктейльным соусом,Кулинария,3.000000,0.0,1

In [31]:
oos_by_shop_3['tier'].replace(to_replace = 0, value = 7, inplace=True)

In [32]:
oos_by_shop_3['popularity'] = 1

In [33]:
oos_by_shop_3.loc[oos_by_shop_3['name_gr'] == 'Мороженое', 'popularity'] = 0

In [34]:
oos_by_shop_3.loc[oos_by_shop_3['name_tov'] == 'Смузи', 'popularity'] = 0

In [35]:
oos_by_shop_3.loc[oos_by_shop_3['name_tov'].str.contains('Ролл'),'popularity'] = 0.5

In [36]:
oos_by_shop_3.loc[oos_by_shop_3['name_tov'].str.contains('ролл'),'popularity'] = 0.5

In [37]:
oos_by_shop_3.loc[oos_by_shop_3['name_gr'] == 'Хлеб', 'popularity'] = 0.5

In [38]:
oos_by_shop_3

,id_tt,id_tov,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,All_Weekdopost,name_tov,name_gr,сроксуток,квант,tier,popularity
0,11290,75,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,Простокваша 4%,Молочная Продукция,5.500000,0.0,1,1.0
1,11290,77,0.0,0.0,0.0,3.0,0.0,0.0,0.0,3.0,Ряженка 4%,Молочная Продукция,5.285714,0.0,1,1.0
2,11290,143,0.0,4.0,0.0,0.0,0.0,0.0,8.0,12.0,Сметана 20%,Молочная Продукция,6.684211,0.0,1,1.0
3,11290,158,0.0,0.0,0.0,8.0,0.0,0.0,0.0,8.0,"Кефир 3,2%",Молочная Продукция,5.352941,0.0,1,1.0
4,11290,176,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,Крем творожный 15%,Молочная Продукция,8.500000,0.0,1,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3438,15986,67139,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,"Кранч-бабка соленая карамель с грецким орехом,...",Кафе,3.000000,4.0,1,1.0
3439,15986,67201,0.0,0.0,0.0,0.0,0.0,4.0,0.0,4.0,"Укроп, 30 г",Овощи. Фрукты. Грибы. Зелень,5.444444,0.0,1,1.0
3440,15986,67438,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"Нектарин в корзинке, 1 кг",Овощи. Фрукты. Грибы. Зелень,25.000000,4.0,1,1.0
3441,15986,67752,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Яблоко молодое Симиренко,Овощи. Фрукты. Грибы. Зелень,30.000000,0.0,1,1.0
3442,15986,67806,0.0,0.0,1.0,0.0,1.0,1.0,0.0,3.0,Сэндвич ролл с курицей и коктейльным соусом,Кулинария,3.000000,0.0,1,0.5

In [39]:
for l in ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']:
    oos_by_shop_3[l] = oos_by_shop_3[l]*oos_by_shop_3['popularity']/oos_by_shop_3['tier']

In [40]:
oos_by_shop_3 = oos_by_shop_3.round({'Monday':0,'Tuesday':0,'Tuesday':0,'Wednesday':0,'Thursday':0,'Friday':0,'Saturday':0,'Sunday':0})

In [41]:
oos_by_shop_3['All_Weekdopost'] = oos_by_shop_3[['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']].sum(axis = 1)

In [42]:
oos_by_shop_3 = oos_by_shop_3[oos_by_shop_3['All_Weekdopost'] > 0]

In [43]:
oos_by_shop_3['All_Weekdopost'].sum()

7606.0

In [44]:
#Оцениваем объем допоставок по категориям c фильтрjv по сроку годности
oos_by_shop_3.groupby(["name_gr"], as_index=False)["All_Weekdopost"].sum()

                                           name_gr  All_Weekdopost
0                                         Алкоголь             7.0
1                                            Архив            25.0
2                                          Бакалея            29.0
3                                         ВВА_Вино             1.0
4                                  Детское питание            24.0
5                                 Замороженные п/ф            31.0
6                                             Кафе           205.0
7                                      Консервация            19.0
8                                        Кулинария          2223.0
9                           Кулинария замороженная             4.0
10                              Медицинские товары             2.0
11                              Молочная Продукция          1466.0
12                               Мясная Витрина ВВ            33.0
13                      Мясные деликатесы. Колбасы            61.0
14                      Мясо. Птица. П/ф охл. Яйца           356.0
15                                         Напитки           135.0
16                                         Нон-Фуд            15.0
17                    Овощи. Фрукты. Грибы. Зелень          1544.0
18                              Рыба. Морепродукты            86.0
19                  Сладости, кондитерские изделия           147.0
20  Сухофрукты. Сушеные овощи, грибы, ягоды. Орехи            10.0
21                                            Сыры            53.0
22                        Торты, пирожные, десерты           369.0
23                                            Хлеб           761.0

Считаем на сколько денег будет эта допоставка

In [45]:
oos_by_shop_4 = oos_by_shop_3.merge(df_price[['id_tov','Price_retail']], how='left', on='id_tov',)

In [46]:
oos_by_shop_4.head(2)

,id_tt,id_tov,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,All_Weekdopost,name_tov,name_gr,сроксуток,квант,tier,popularity,Price_retail
0,11290,75,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,Простокваша 4%,Молочная Продукция,5.500000,0.0,1,1.0,48.181818
1,11290,77,0.0,0.0,0.0,3.0,0.0,0.0,0.0,3.0,Ряженка 4%,Молочная Продукция,5.285714,0.0,1,1.0,59.090909

In [47]:
oos_by_shop_4['overal_sum'] = oos_by_shop_4['Price_retail']* oos_by_shop_4['All_Weekdopost']

In [48]:
oos_by_shop_4.head(2)

,id_tt,id_tov,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,All_Weekdopost,name_tov,name_gr,сроксуток,квант,tier,popularity,Price_retail,overal_sum
0,11290,75,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,Простокваша 4%,Молочная Продукция,5.500000,0.0,1,1.0,48.181818,48.181818
1,11290,77,0.0,0.0,0.0,3.0,0.0,0.0,0.0,3.0,Ряженка 4%,Молочная Продукция,5.285714,0.0,1,1.0,59.090909,177.272727

In [49]:

oos_by_shop_4['overal_sum'].sum()

950164.5249311881

In [50]:
oos_by_shop_4[["name_gr","overal_sum"]].groupby(["name_gr"], as_index=False)["overal_sum"].sum().round()

                                           name_gr  overal_sum
0                                         Алкоголь       545.0
1                                            Архив      3202.0
2                                          Бакалея      3024.0
3                                         ВВА_Вино         0.0
4                                  Детское питание      1365.0
5                                 Замороженные п/ф      9448.0
6                                             Кафе     17448.0
7                                      Консервация      1337.0
8                                        Кулинария    342893.0
9                           Кулинария замороженная       738.0
10                              Медицинские товары       760.0
11                              Молочная Продукция    118408.0
12                               Мясная Витрина ВВ         0.0
13                      Мясные деликатесы. Колбасы      9354.0
14                      Мясо. Птица. П/ф охл. Яйца     71385.0
15                                         Напитки      7332.0
16                                         Нон-Фуд      1996.0
17                    Овощи. Фрукты. Грибы. Зелень    208119.0
18                              Рыба. Морепродукты     12961.0
19                  Сладости, кондитерские изделия     18058.0
20  Сухофрукты. Сушеные овощи, грибы, ягоды. Орехи       344.0
21                                            Сыры      9468.0
22                        Торты, пирожные, десерты     68301.0
23                                            Хлеб     43680.0

In [51]:
oos_by_shop_4.merge(id_tt_n_tt[['id_tt','n','adress','name_TT']], how = 'left', on = 'id_tt')

,id_tt,id_tov,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,All_Weekdopost,name_tov,name_gr,сроксуток,квант,tier,popularity,Price_retail,overal_sum,n,adress,name_TT
0,11290,75,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,Простокваша 4%,Молочная Продукция,5.500000,0.0,1,1.0,48.181818,48.181818,1020,Москва ул. Истринская д.10 к.1,1020М_Истринская10
1,11290,77,0.0,0.0,0.0,3.0,0.0,0.0,0.0,3.0,Ряженка 4%,Молочная Продукция,5.285714,0.0,1,1.0,59.090909,177.272727,1020,Москва ул. Истринская д.10 к.1,1020М_Истринская10
2,11290,143,0.0,4.0,0.0,0.0,0.0,0.0,8.0,12.0,Сметана 20%,Молочная Продукция,6.684211,0.0,1,1.0,126.363636,1516.363636,1020,Москва ул. Истринская д.10 к.1,1020М_Истринская10
3,11290,158,0.0,0.0,0.0,8.0,0.0,0.0,0.0,8.0,"Кефир 3,2%",Молочная Продукция,5.352941,0.0,1,1.0,75.454545,603.636364,1020,Москва ул. Истринская д.10 к.1,1020М_Истринская10
4,11290,176,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,Крем творожный 15%,Молочная Продукция,8.500000,0.0,1,1.0,105.454545,105.454545,1020,Москва ул. Истринская д.10 к.1,1020М_Истринская10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2452,15986,66714,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,"Запеканка творожная с наполнителем ""Дыня""",Кулинария,5.000000,0.0,1,1.0,NaN,NaN,5673,"Москва ул. Кастанаевская, д. 42 к. 2",5673М_Кастанаевская42
2453,15986,66924,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,Круассан миндальный с лимонным курдом,Хлеб,4.000000,3.0,1,0.5,NaN,NaN,5673,"Москва ул. Кастанаевская, д. 42 к. 2",5673М_Кастанаевская42
2454,15986,67009,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,"Сметана 10%, 200 г",Молочная Продукция,7.000000,0.0,1,1.0,NaN,NaN,5673,"Москва ул. Кастанаевская, д. 42 к. 2",5673М_Кастанаевская42
2455,15986,67139,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,"Кранч-бабка соленая карамель с грецким орехом,...",Кафе,3.000000,4.0,1,1.0,NaN,NaN,5673,"Москва ул. Кастанаевская, д. 42 к. 2",5673М_Кастанаевская42
2456,15986,67201,0.0,0.0,0.0,0.0,0.0,4.0,0.0,4.0,"Укроп, 30 г",Овощи. Фрукты. Грибы. Зелень,5.444444,0.0,1,1.0,NaN,NaN,5673,"Москва ул. Кастанаевская, д. 42 к. 2",5673М_Кастанаевская42

In [52]:
oos_by_shop_5 = oos_by_shop_4.merge(id_tt_n_tt[['id_tt','n','adress','name_TT']], how = 'left', on = 'id_tt')

In [53]:
oos_by_shop_5['id_tt'].unique()

array([11290, 11357, 11783, 12414, 12533, 12860, 14112, 15753, 15986],
      dtype=int64)

In [54]:
oos_by_shop_5

,id_tt,id_tov,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,All_Weekdopost,name_tov,name_gr,сроксуток,квант,tier,popularity,Price_retail,overal_sum,n,adress,name_TT
0,11290,75,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,Простокваша 4%,Молочная Продукция,5.500000,0.0,1,1.0,48.181818,48.181818,1020,Москва ул. Истринская д.10 к.1,1020М_Истринская10
1,11290,77,0.0,0.0,0.0,3.0,0.0,0.0,0.0,3.0,Ряженка 4%,Молочная Продукция,5.285714,0.0,1,1.0,59.090909,177.272727,1020,Москва ул. Истринская д.10 к.1,1020М_Истринская10
2,11290,143,0.0,4.0,0.0,0.0,0.0,0.0,8.0,12.0,Сметана 20%,Молочная Продукция,6.684211,0.0,1,1.0,126.363636,1516.363636,1020,Москва ул. Истринская д.10 к.1,1020М_Истринская10
3,11290,158,0.0,0.0,0.0,8.0,0.0,0.0,0.0,8.0,"Кефир 3,2%",Молочная Продукция,5.352941,0.0,1,1.0,75.454545,603.636364,1020,Москва ул. Истринская д.10 к.1,1020М_Истринская10
4,11290,176,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,Крем творожный 15%,Молочная Продукция,8.500000,0.0,1,1.0,105.454545,105.454545,1020,Москва ул. Истринская д.10 к.1,1020М_Истринская10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2452,15986,66714,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,"Запеканка творожная с наполнителем ""Дыня""",Кулинария,5.000000,0.0,1,1.0,NaN,NaN,5673,"Москва ул. Кастанаевская, д. 42 к. 2",5673М_Кастанаевская42
2453,15986,66924,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,Круассан миндальный с лимонным курдом,Хлеб,4.000000,3.0,1,0.5,NaN,NaN,5673,"Москва ул. Кастанаевская, д. 42 к. 2",5673М_Кастанаевская42
2454,15986,67009,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,"Сметана 10%, 200 г",Молочная Продукция,7.000000,0.0,1,1.0,NaN,NaN,5673,"Москва ул. Кастанаевская, д. 42 к. 2",5673М_Кастанаевская42
2455,15986,67139,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,"Кранч-бабка соленая карамель с грецким орехом,...",Кафе,3.000000,4.0,1,1.0,NaN,NaN,5673,"Москва ул. Кастанаевская, д. 42 к. 2",5673М_Кастанаевская42
2456,15986,67201,0.0,0.0,0.0,0.0,0.0,4.0,0.0,4.0,"Укроп, 30 г",Овощи. Фрукты. Грибы. Зелень,5.444444,0.0,1,1.0,NaN,NaN,5673,"Москва ул. Кастанаевская, д. 42 к. 2",5673М_Кастанаевская42

In [55]:
#чисто посмотреть что поставляем
oos_by_shop_5[['name_tov','id_tov','All_Weekdopost','name_gr']].groupby(['name_tov','id_tov'],as_index=False)["All_Weekdopost"].sum().to_excel('Goods 01_09.xlsx')

In [56]:
oos_by_shop_6 = oos_by_shop_5[['name_TT','id_tov','name_gr','name_tov','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday','All_Weekdopost','квант']]

In [57]:
oos_by_shop_6.to_excel('002 Calculate_23_09.xlsx')