In [2]:
import pandas as pd

In [3]:
# Standard
import pandas as pd
import numpy as np
import os
# Pycaret
from pycaret.classification import *
# Plots
from plotly.offline import iplot
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import seaborn as sns
# Sklearn tools
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import *
# Extras
from datetime import date
import warnings
warnings.filterwarnings("ignore")
import seaborn as sns

In [4]:
df_test = pd.read_csv('df_test_new.csv')

In [5]:
df_train = pd.read_csv('df_train_new.csv')

In [6]:
df_train

,state,account_length,area_code,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,...,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,total_mins,total_calls,churn
0,OH,107,area_code_415,False,NaN,26,161,123,27.47,195,...,254,103,11.45,13,3,3.70,1,625,332,no
1,NJ,137,area_code_415,False,NaN,0,243,114,41.38,121,...,162,104,7.32,12,5,3.29,0,539,333,no
2,OH,84,area_code_408,True,NaN,0,299,71,50.90,61,...,196,89,8.86,6,7,1.78,2,564,255,no
3,OK,75,area_code_415,True,NaN,0,166,113,28.34,148,...,186,121,8.41,10,3,2.73,3,512,359,no
4,MA,121,area_code_510,False,NaN,24,218,88,37.09,348,...,212,118,9.57,7,7,2.03,3,786,321,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4245,MT,83,area_code_415,False,NaN,0,188,70,32.01,243,...,213,79,9.62,10,6,2.78,0,656,243,no
4246,WV,73,area_code_408,False,NaN,0,177,89,30.24,131,...,186,89,8.38,11,6,3.11,3,506,266,no
4247,NC,75,area_code_408,False,NaN,0,170,101,29.02,193,...,129,104,5.81,6,7,1.86,1,499,338,no
4248,HI,50,area_code_408,False,NaN,40,235,127,40.07,223,...,297,116,13.39,9,5,2.67,2,766,374,no
4249,VT,86,area_code_415,False,NaN,34,129,102,22.00,267,...,154,100,6.97,9,16,2.51,0,560,322,no

In [7]:
exp01 = setup(data=df_train, target='churn' )

In [8]:
top5 = compare_models(n_select = 5 , exclude =  ["svm", "lr",'ridge','dt','qda'])

Initiated  . . . . . . . . . . . . . . . . . .              02:05:18
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Processing:   0%|          | 0/49 [00:00<?, ?it/s]

In [9]:
pull(top5)

,Model,Accuracy,AUC,Recall,Prec.,F1,Kappa,MCC,TT (Sec)
lightgbm,Light Gradient Boosting Machine,0.9637,0.9225,0.9637,0.9637,0.9620,0.8366,0.8433,0.190
catboost,CatBoost Classifier,0.9637,0.9259,0.9637,0.9643,0.9618,0.8348,0.8435,2.186
gbc,Gradient Boosting Classifier,0.9614,0.9207,0.9614,0.9614,0.9596,0.8263,0.8334,0.292
rf,Random Forest Classifier,0.9550,0.9247,0.9550,0.9563,0.9515,0.7874,0.8033,0.198
et,Extra Trees Classifier,0.9301,0.9201,0.9301,0.9335,0.9200,0.6361,0.6787,0.153
ada,Ada Boost Classifier,0.8965,0.8583,0.8965,0.8866,0.8853,0.4883,0.5090,0.122
knn,K Neighbors Classifier,0.8884,0.7101,0.8884,0.8764,0.8705,0.4072,0.4460,0.642
nb,Naive Bayes,0.8739,0.8530,0.8739,0.8822,0.8773,0.5085,0.5108,0.039
lda,Linear Discriminant Analysis,0.8598,0.8197,0.8598,0.8335,0.8396,0.2711,0.2909,0.040
dummy,Dummy Classifier,0.8592,0.5000,0.8592,0.7382,0.7941,0.0000,0.0000,0.044

In [10]:
tuned_top5 = [tune_model(i) for i in top5]

Initiated  . . . . . . . . . . . . . . . . . .              02:06:04
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Initiated  . . . . . . . . . . . . . . . . . .              02:06:19
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 10 candidates, totalling 100 fits

Initiated  . . . . . . . . . . . . . . . . . .              02:07:52
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Initiated  . . . . . . . . . . . . . . . . . .              02:08:19
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 10 candidates, totalling 100 fits

Initiated  . . . . . . . . . . . . . . . . . .              02:09:10
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [11]:
bagged_top5 = [ensemble_model(i) for i in tuned_top5]

Initiated  . . . . . . . . . . . . . . . . . .              02:09:33
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

Initiated  . . . . . . . . . . . . . . . . . .              02:09:46
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

Initiated  . . . . . . . . . . . . . . . . . .              02:10:11
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

Initiated  . . . . . . . . . . . . . . . . . .              02:10:38
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

Initiated  . . . . . . . . . . . . . . . . . .              02:12:07
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

In [12]:
blender = blend_models(estimator_list = top5)

Initiated  . . . . . . . . . . . . . . . . . .              02:12:37
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

In [13]:
stacker = stack_models(estimator_list = top5)

Initiated  . . . . . . . . . . . . . . . . . .              02:13:08
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

In [14]:
best = automl(optimize = 'Accuracy')

In [15]:
pull(best)

      Accuracy     AUC  Recall   Prec.      F1   Kappa     MCC
Fold
0       0.9564  0.8638  0.9564  0.9553  0.9547  0.8064  0.8108
1       0.9564  0.8646  0.9564  0.9568  0.9535  0.7977  0.8097
2       0.9631  0.9299  0.9631  0.9622  0.9621  0.8396  0.8418
3       0.9732  0.9657  0.9732  0.9731  0.9723  0.8821  0.8856
4       0.9497  0.8951  0.9497  0.9491  0.9464  0.7666  0.7781
5       0.9697  0.9580  0.9697  0.9694  0.9695  0.8713  0.8714
6       0.9731  0.9132  0.9731  0.9727  0.9725  0.8845  0.8860
7       0.9697  0.9431  0.9697  0.9697  0.9685  0.8659  0.8706
8       0.9697  0.9532  0.9697  0.9692  0.9689  0.8687  0.8710
9       0.9697  0.9529  0.9697  0.9692  0.9692  0.8714  0.8722
Mean    0.9651  0.9240  0.9651  0.9647  0.9638  0.8454  0.8497
Std     0.0078  0.0362  0.0078  0.0079  0.0087  0.0390  0.0358

In [16]:
final_model = finalize_model(best)

In [17]:
pull(final_model)

      Accuracy     AUC  Recall   Prec.      F1   Kappa     MCC
Fold
0       0.9597  0.8516  0.9597  0.9592  0.9579  0.8193  0.8253
1       0.9497  0.8924  0.9497  0.9525  0.9449  0.7557  0.7793
2       0.9631  0.9219  0.9631  0.9633  0.9612  0.8326  0.8405
3       0.9732  0.9663  0.9732  0.9740  0.9719  0.8795  0.8860
4       0.9463  0.8983  0.9463  0.9495  0.9408  0.7363  0.7633
5       0.9764  0.9434  0.9764  0.9764  0.9758  0.8956  0.8981
6       0.9731  0.9071  0.9731  0.9730  0.9722  0.8820  0.8855
7       0.9596  0.9337  0.9596  0.9614  0.9567  0.8111  0.8259
8       0.9630  0.9612  0.9630  0.9624  0.9615  0.8361  0.8407
9       0.9663  0.9510  0.9663  0.9665  0.9648  0.8494  0.8556
Mean    0.9630  0.9227  0.9630  0.9638  0.9608  0.8298  0.8400
Std     0.0094  0.0340  0.0094  0.0085  0.0108  0.0497  0.0422

In [25]:
predict_unseen = predict_model(final_model, data=df_test)

In [26]:
df_result = predict_unseen[['id','prediction_label']]

In [27]:
df_result.rename(columns={'prediction_label':'churn'},inplace = True)

In [28]:
df_result.to_csv( 'out.csv',index=False,sep=',')

In [29]:
df_train.describe()

,account_length,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,total_mins,total_calls
count,4250.000000,0.0,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000
mean,100.236235,NaN,7.631765,179.812471,99.907294,30.644682,199.725647,100.176471,17.015012,200.078824,99.839529,9.023892,9.809176,4.426353,2.769654,1.559059,590.766118,304.349647
std,39.698401,NaN,13.439882,54.009948,19.850817,9.182096,50.254818,19.908591,4.271212,50.348409,20.093220,2.265922,2.772636,2.463069,0.745204,1.311434,88.828631,34.519048
min,1.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,284.000000,191.000000
25%,73.000000,NaN,0.000000,143.000000,87.000000,24.365000,165.250000,87.000000,14.102500,167.000000,86.000000,7.522500,8.000000,3.000000,2.300000,1.000000,531.000000,281.000000
50%,100.000000,NaN,0.000000,180.000000,100.000000,30.680000,200.000000,100.000000,17.060000,200.000000,100.000000,9.020000,10.000000,4.000000,2.780000,1.000000,591.000000,305.000000
75%,127.000000,NaN,16.000000,216.000000,113.000000,36.750000,233.000000,114.000000,19.867500,234.000000,113.000000,10.560000,12.000000,6.000000,3.240000,2.000000,650.000000,327.000000
max,243.000000,NaN,52.000000,351.000000,165.000000,59.760000,359.000000,170.000000,30.540000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000,884.000000,416.000000

In [30]:
df_train

,state,account_length,area_code,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,...,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,total_mins,total_calls,churn
0,OH,107,area_code_415,False,NaN,26,161,123,27.47,195,...,254,103,11.45,13,3,3.70,1,625,332,no
1,NJ,137,area_code_415,False,NaN,0,243,114,41.38,121,...,162,104,7.32,12,5,3.29,0,539,333,no
2,OH,84,area_code_408,True,NaN,0,299,71,50.90,61,...,196,89,8.86,6,7,1.78,2,564,255,no
3,OK,75,area_code_415,True,NaN,0,166,113,28.34,148,...,186,121,8.41,10,3,2.73,3,512,359,no
4,MA,121,area_code_510,False,NaN,24,218,88,37.09,348,...,212,118,9.57,7,7,2.03,3,786,321,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4245,MT,83,area_code_415,False,NaN,0,188,70,32.01,243,...,213,79,9.62,10,6,2.78,0,656,243,no
4246,WV,73,area_code_408,False,NaN,0,177,89,30.24,131,...,186,89,8.38,11,6,3.11,3,506,266,no
4247,NC,75,area_code_408,False,NaN,0,170,101,29.02,193,...,129,104,5.81,6,7,1.86,1,499,338,no
4248,HI,50,area_code_408,False,NaN,40,235,127,40.07,223,...,297,116,13.39,9,5,2.67,2,766,374,no
4249,VT,86,area_code_415,False,NaN,34,129,102,22.00,267,...,154,100,6.97,9,16,2.51,0,560,322,no

In [31]:
import pycaret