In [1]:
import pandas as pd

In [18]:
# Standard
import pandas as pd
import numpy as np
import os
# Pycaret
from pycaret.classification import *
# Plots
from plotly.offline import iplot
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import seaborn as sns
# Sklearn tools
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import *
# Extras
from datetime import date
import warnings
warnings.filterwarnings("ignore")
import seaborn as sns
import pycaret

In [3]:
df_test = pd.read_csv('test.csv')

In [4]:
df_train = pd.read_csv('train.csv')

In [5]:
df_sampleSubmission = pd.read_csv('sampleSubmission.csv')

In [6]:
df_train

,state,account_length,area_code,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churn
0,OH,107,area_code_415,no,yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,no
1,NJ,137,area_code_415,no,no,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,no
2,OH,84,area_code_408,yes,no,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,no
3,OK,75,area_code_415,yes,no,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,no
4,MA,121,area_code_510,no,yes,24,218.2,88,37.09,348.5,108,29.62,212.6,118,9.57,7.5,7,2.03,3,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4245,MT,83,area_code_415,no,no,0,188.3,70,32.01,243.8,88,20.72,213.7,79,9.62,10.3,6,2.78,0,no
4246,WV,73,area_code_408,no,no,0,177.9,89,30.24,131.2,82,11.15,186.2,89,8.38,11.5,6,3.11,3,no
4247,NC,75,area_code_408,no,no,0,170.7,101,29.02,193.1,126,16.41,129.1,104,5.81,6.9,7,1.86,1,no
4248,HI,50,area_code_408,no,yes,40,235.7,127,40.07,223.0,126,18.96,297.5,116,13.39,9.9,5,2.67,2,no
4249,VT,86,area_code_415,no,yes,34,129.4,102,22.00,267.1,104,22.70,154.8,100,6.97,9.3,16,2.51,0,no

In [7]:
df_train['total_mins'] = df_train['total_day_minutes'] + df_train['total_eve_minutes'] + df_train['total_night_minutes'] + df_train['total_intl_minutes']
df_train['total_calls'] = df_train['total_day_calls'] + df_train['total_eve_calls'] + df_train['total_night_calls'] + df_train['total_intl_calls']

df_train = df_train.astype({"total_mins": int,"total_day_minutes": int,"total_eve_minutes": int,"total_night_minutes": int,"total_intl_minutes": int})

df_train['international_plan'] = df_train['international_plan'].map({'yes':True ,'no':False})
df_train['voice_mail_plan'] = df_train['voice_mail_plan'].map({'yes':True ,'no':False})
df_train['voice_mail_plan'] = df_train['voice_mail_plan'].map({'yes':True ,'no':False})

df_train_not_churn = df_train[df_train['churn'] == 'no']
df_train_churn = df_train[df_train['churn'] == 'yes']

In [8]:
df_test['total_mins'] = df_test['total_day_minutes'] + df_test['total_eve_minutes'] + df_test['total_night_minutes'] + df_test['total_intl_minutes']
df_test['total_calls'] = df_test['total_day_calls'] + df_test['total_eve_calls'] + df_test['total_night_calls'] + df_test['total_intl_calls']

df_test = df_test.astype({"total_mins": int,"total_day_minutes": int,"total_eve_minutes": int,"total_night_minutes": int,"total_intl_minutes": int})

df_test['international_plan'] = df_test['international_plan'].map({'yes':True ,'no':False})
df_test['voice_mail_plan'] = df_test['voice_mail_plan'].map({'yes':True ,'no':False})
df_test['voice_mail_plan'] = df_test['voice_mail_plan'].map({'yes':True ,'no':False})

In [9]:
column_to_move = df_train.pop("churn")

# insert column with insert(location, column_name, column_value)

In [22]:
df_train = df_train.insert(21, "churn", column_to_move)

ValueError: cannot insert churn, already exists

In [20]:
df_train.to_csv( 'df_train_new.csv', index=False)

In [21]:
df_test.to_csv( 'df_test_new.csv',index=False)