In [1]:
import pandas as pd

In [2]:
# Standard
import pandas as pd
import numpy as np
import os
# Pycaret
from pycaret.classification import *
# Plots
from plotly.offline import iplot
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import seaborn as sns
# Sklearn tools
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import *
# Extras
from datetime import date
import warnings
warnings.filterwarnings("ignore")
import seaborn as sns

In [3]:
df_test = pd.read_csv('df_test_new.csv')

In [4]:
df_train = pd.read_csv('df_train_new.csv')

In [5]:
df_train

,state,account_length,area_code,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,...,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,total_mins,total_calls,churn
0,OH,107,area_code_415,False,NaN,26,161,123,27.47,195,...,254,103,11.45,13,3,3.70,1,625,332,no
1,NJ,137,area_code_415,False,NaN,0,243,114,41.38,121,...,162,104,7.32,12,5,3.29,0,539,333,no
2,OH,84,area_code_408,True,NaN,0,299,71,50.90,61,...,196,89,8.86,6,7,1.78,2,564,255,no
3,OK,75,area_code_415,True,NaN,0,166,113,28.34,148,...,186,121,8.41,10,3,2.73,3,512,359,no
4,MA,121,area_code_510,False,NaN,24,218,88,37.09,348,...,212,118,9.57,7,7,2.03,3,786,321,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4245,MT,83,area_code_415,False,NaN,0,188,70,32.01,243,...,213,79,9.62,10,6,2.78,0,656,243,no
4246,WV,73,area_code_408,False,NaN,0,177,89,30.24,131,...,186,89,8.38,11,6,3.11,3,506,266,no
4247,NC,75,area_code_408,False,NaN,0,170,101,29.02,193,...,129,104,5.81,6,7,1.86,1,499,338,no
4248,HI,50,area_code_408,False,NaN,40,235,127,40.07,223,...,297,116,13.39,9,5,2.67,2,766,374,no
4249,VT,86,area_code_415,False,NaN,34,129,102,22.00,267,...,154,100,6.97,9,16,2.51,0,560,322,no

In [9]:
exp01 = setup(data=df_train, target='churn' )

In [13]:
all_models = exp01.models()

In [14]:
all_models

,Name,Reference,Turbo
ID,,,
lr,Logistic Regression,sklearn.linear_model._logistic.LogisticRegression,True
knn,K Neighbors Classifier,sklearn.neighbors._classification.KNeighborsCl...,True
nb,Naive Bayes,sklearn.naive_bayes.GaussianNB,True
dt,Decision Tree Classifier,sklearn.tree._classes.DecisionTreeClassifier,True
svm,SVM - Linear Kernel,sklearn.linear_model._stochastic_gradient.SGDC...,True
rbfsvm,SVM - Radial Kernel,sklearn.svm._classes.SVC,False
gpc,Gaussian Process Classifier,sklearn.gaussian_process._gpc.GaussianProcessC...,False
mlp,MLP Classifier,sklearn.neural_network._multilayer_perceptron....,False
ridge,Ridge Classifier,sklearn.linear_model._ridge.RidgeClassifier,True
rf,Random Forest Classifier,sklearn.ensemble._forest.RandomForestClassifier,True
qda,Quadratic Discriminant Analysis,sklearn.discriminant_analysis.QuadraticDiscrim...,True
ada,Ada Boost Classifier,sklearn.ensemble._weight_boosting.AdaBoostClas...,True
gbc,Gradient Boosting Classifier,sklearn.ensemble._gb.GradientBoostingClassifier,True
lda,Linear Discriminant Analysis,sklearn.discriminant_analysis.LinearDiscrimina...,True
et,Extra Trees Classifier,sklearn.ensemble._forest.ExtraTreesClassifier,True
lightgbm,Light Gradient Boosting Machine,lightgbm.sklearn.LGBMClassifier,True
catboost,CatBoost Classifier,catboost.core.CatBoostClassifier,True
dummy,Dummy Classifier,sklearn.dummy.DummyClassifier,True

In [24]:
top5 = compare_models( include =  ["gbc", "lightgbm",'catboost'])

Initiated  . . . . . . . . . . . . . . . . . .              12:12:01
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Processing:   0%|          | 0/17 [00:00<?, ?it/s]

In [35]:
predict_model(top5)
pull()

,Model,Accuracy,AUC,Recall,Prec.,F1,Kappa,MCC
0,Light Gradient Boosting Machine,0.9631,0.9181,0.9631,0.9623,0.9621,0.8386,0.8412

In [36]:
tuned_model = tune_model(top5)

Initiated  . . . . . . . . . . . . . . . . . .              12:19:55
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [37]:
predict_model(tuned_model)
pull()

,Model,Accuracy,AUC,Recall,Prec.,F1,Kappa,MCC
0,Light Gradient Boosting Machine,0.9631,0.9181,0.9631,0.9623,0.9621,0.8386,0.8412

In [44]:
bagged_model = ensemble_model(top5,method = 'Bagging')

Initiated  . . . . . . . . . . . . . . . . . .              12:26:16
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

In [45]:
predict_model(bagged_model)
pull()

,Model,Accuracy,AUC,Recall,Prec.,F1,Kappa,MCC
0,Bagging Classifier,0.9631,0.9111,0.9631,0.9623,0.9622,0.8394,0.8416

In [49]:
final_model = finalize_model(top5)

In [50]:
predict_model(top5)
pull()

,Model,Accuracy,AUC,Recall,Prec.,F1,Kappa,MCC
0,Light Gradient Boosting Machine,0.9631,0.9181,0.9631,0.9623,0.9621,0.8386,0.8412

In [51]:
predict_unseen = predict_model(final_model, data=df_test)

In [52]:
df_result = predict_unseen[['id','prediction_label']]

In [53]:
df_result.rename(columns={'prediction_label':'churn'},inplace = True)

In [54]:
df_result.to_csv( 'out.csv',index=False,sep=',')

In [55]:
df_train.describe()

,account_length,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,total_mins,total_calls
count,4250.000000,0.0,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000
mean,100.236235,NaN,7.631765,179.812471,99.907294,30.644682,199.725647,100.176471,17.015012,200.078824,99.839529,9.023892,9.809176,4.426353,2.769654,1.559059,590.766118,304.349647
std,39.698401,NaN,13.439882,54.009948,19.850817,9.182096,50.254818,19.908591,4.271212,50.348409,20.093220,2.265922,2.772636,2.463069,0.745204,1.311434,88.828631,34.519048
min,1.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,284.000000,191.000000
25%,73.000000,NaN,0.000000,143.000000,87.000000,24.365000,165.250000,87.000000,14.102500,167.000000,86.000000,7.522500,8.000000,3.000000,2.300000,1.000000,531.000000,281.000000
50%,100.000000,NaN,0.000000,180.000000,100.000000,30.680000,200.000000,100.000000,17.060000,200.000000,100.000000,9.020000,10.000000,4.000000,2.780000,1.000000,591.000000,305.000000
75%,127.000000,NaN,16.000000,216.000000,113.000000,36.750000,233.000000,114.000000,19.867500,234.000000,113.000000,10.560000,12.000000,6.000000,3.240000,2.000000,650.000000,327.000000
max,243.000000,NaN,52.000000,351.000000,165.000000,59.760000,359.000000,170.000000,30.540000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000,884.000000,416.000000

In [56]:
df_train

,state,account_length,area_code,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,...,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,total_mins,total_calls,churn
0,OH,107,area_code_415,False,NaN,26,161,123,27.47,195,...,254,103,11.45,13,3,3.70,1,625,332,no
1,NJ,137,area_code_415,False,NaN,0,243,114,41.38,121,...,162,104,7.32,12,5,3.29,0,539,333,no
2,OH,84,area_code_408,True,NaN,0,299,71,50.90,61,...,196,89,8.86,6,7,1.78,2,564,255,no
3,OK,75,area_code_415,True,NaN,0,166,113,28.34,148,...,186,121,8.41,10,3,2.73,3,512,359,no
4,MA,121,area_code_510,False,NaN,24,218,88,37.09,348,...,212,118,9.57,7,7,2.03,3,786,321,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4245,MT,83,area_code_415,False,NaN,0,188,70,32.01,243,...,213,79,9.62,10,6,2.78,0,656,243,no
4246,WV,73,area_code_408,False,NaN,0,177,89,30.24,131,...,186,89,8.38,11,6,3.11,3,506,266,no
4247,NC,75,area_code_408,False,NaN,0,170,101,29.02,193,...,129,104,5.81,6,7,1.86,1,499,338,no
4248,HI,50,area_code_408,False,NaN,40,235,127,40.07,223,...,297,116,13.39,9,5,2.67,2,766,374,no
4249,VT,86,area_code_415,False,NaN,34,129,102,22.00,267,...,154,100,6.97,9,16,2.51,0,560,322,no

In [57]:
import pycaret