In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm_notebook
pd.set_option('display.max_columns',None)



from pandas.api.types import CategoricalDtype

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly

sns.set(style='whitegrid')
plt.rcParams['figure.figsize']=(15,5)
%config InlineBackend.figure_format = 'png'
%matplotlib inline

Грузим чеки

In [2]:

df_checks = pd.read_pickle("./df_checks1.pkl")

In [3]:
date = pd.to_datetime(df_checks['date_ch'])
df_checks['day'] = date.dt.day
df_checks['month'] = date.dt.month
df_checks['week'] = date.dt.week
df_checks['day_of_week'] = date.dt.day_name()

df_checks['hour'] = df_checks['time_ch'].apply(lambda x: x.split(':')[0]).astype(int)

C:\Temp\ipykernel_1820\1837085039.py:4: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df_checks['week'] = date.dt.week

In [4]:
df_checks['BaseSum'] = df_checks['BaseSum'].round(decimals = 2)
df_checks['BasePrice'] = df_checks['BasePrice'].round(decimals = 2)
df_checks['Price_retail'] = df_checks['Price_retail'].round(decimals = 2)

In [6]:

df_checks.columns

Index(['CheckLineUID', 'CheckUID', 'CashCheckLineNo', 'BasePrice', 'Quantity',
       'BaseSum', 'id_tt_cl', 'id_tov_cl', 'date_ch', 'time_ch',
       'OperationType_cl', 'znak', 'Price_retail', 'BonusCard_cl',
       'id_lovepr_card_tov', 'id_discount_chl', 'NameForClient', 'green_price',
       'type_order', 'day', 'month', 'week', 'day_of_week', 'hour'],
      dtype='object')

In [7]:
del df_checks['CheckLineUID']
del df_checks['CashCheckLineNo']
del df_checks['date_ch']
del df_checks['time_ch']
del df_checks['OperationType_cl']
del df_checks['znak']

In [8]:

df_checks.columns

Index(['CheckUID', 'BasePrice', 'Quantity', 'BaseSum', 'id_tt_cl', 'id_tov_cl',
       'Price_retail', 'BonusCard_cl', 'id_lovepr_card_tov', 'id_discount_chl',
       'NameForClient', 'green_price', 'type_order', 'day', 'month', 'week',
       'day_of_week', 'hour'],
      dtype='object')

In [9]:
del df_checks['id_lovepr_card_tov']
del df_checks['id_discount_chl']
del df_checks['green_price']

In [11]:
df_checks.head()

,CheckUID,BasePrice,Quantity,BaseSum,id_tt_cl,id_tov_cl,Price_retail,BonusCard_cl,NameForClient,type_order,day,month,week,day_of_week,hour
0,32C04617-1DA6-EC11-9064-005056A7A8DF,422.73,1.0,422.73,16061,25528,422.73,8228904,NaN,ofline,17,3,11,Thursday,20
1,7CC04B95-79AA-EC11-9064-005056A7A8DF,33.81,2.0,67.62,11846,1609,56.36,5657889,Зеленый Ценник,ofline,23,3,12,Wednesday,10
2,7BC04CF0-8AA6-EC11-9064-005056A7A8DF,124.17,1.0,124.17,11160,49220,124.17,7580039,NaN,online,18,3,11,Friday,10
3,75C04F15-4C9A-EC11-9064-005056A7A8DF,69.09,1.0,69.09,14258,55220,69.09,8381841,NaN,ofline,2,3,9,Wednesday,19
4,54C0631E-D2AD-EC11-9064-005056A7A8DF,49.09,1.0,49.09,12853,32931,49.09,9086837,NaN,ofline,27,3,12,Sunday,16

In [13]:
df_checks.to_pickle("./df_checks2.pkl")