In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm_notebook
pd.set_option('display.max_columns',None)



from pandas.api.types import CategoricalDtype

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly
from tqdm import tqdm

sns.set(style='whitegrid')
plt.rcParams['figure.figsize']=(15,5)
%config InlineBackend.figure_format = 'png'
%matplotlib inline

Загружаем данные в датафреймы

In [4]:
df_shops = pd.read_pickle("./df_shops.pkl")

In [10]:
df_shops.head(3)

,adress,Hours,Shirota,Dolgota,ploshad,Район,shtat,qty_kassa,qty_kassa_so,format,Region,Start_date,size,quality
id_tt,,,,,,,,,,,,,,
10780,"Москва Осенний бульвар, д. 12, корп. 6",с 7-00 до 23-30,55.758341,37.413949,111.0,Крылатское,9.0,9.0,3.0,ВкусВилл,ZAO,2014-11-27,S,1
10786,"Москва проспект Вернадского, д. 39",с 8-00 до 22-00,55.675544,37.505894,210.0,Проспект Вернадского,5.0,8.0,1.0,ВкусВилл,ZAO,2014-12-26,L,30
10864,"Москва проспект Мира, д. 116",будни с 8-00 до 22-00; вых. с 9-00 до 22-00,55.808868,37.638011,113.4,Алексеевский,4.0,6.0,2.0,ВкусВилл,SVAO,2015-03-24,S,-1

In [5]:
dog_friendly_shops =pd.read_excel('dog_friendly_shops.xlsx')

In [8]:
df_worst_milk_sales_bad_shops = pd.read_pickle("./df_worst_milk_sales_bad_shops.pkl")
df_best_milk_sales_good_shops = pd.read_pickle("./df_best_milk_sales_good_shops.pkl")
lis_good_shops = df_best_milk_sales_good_shops.index.values.tolist()
lis_bad_shops = df_worst_milk_sales_bad_shops.index.values.tolist()

In [11]:
dog_friendly_shops2 = dog_friendly_shops.merge(df_shops, how='inner', on='id_tt')

In [13]:
dog_friendly_shops3 = dog_friendly_shops2[['id_tt','dogs','quality_y']]

In [17]:
dog_friendly_shops3

       id_tt  dogs  quality_y
0    10780.0   0.0          1
1    10786.0   0.0         30
2    10864.0   0.0         -1
3    10904.0   0.0         -1
4    11103.0   1.0         20
..       ...   ...        ...
154  16061.0   0.0         30
155  14855.0   1.0         30
156  16130.0   0.0          3
157  12611.0   1.0          1
158  11160.0   1.0         20

[159 rows x 3 columns]

In [18]:
dog_friendly_shops_bad = dog_friendly_shops3[dog_friendly_shops3['quality_y'] < 0]
dog_friendly_shops_avg = dog_friendly_shops3[(dog_friendly_shops3['quality_y'] > 9) & (dog_friendly_shops3['quality_y'] < 100)]
dog_friendly_shops_good = dog_friendly_shops3[(dog_friendly_shops3['quality_y'] > 0) & (dog_friendly_shops3['quality_y'] < 4)]

In [23]:
print('bad',dog_friendly_shops_bad[dog_friendly_shops_bad['dogs'] == 1].shape[0] ,dog_friendly_shops_bad.shape[0] )
print('avg',dog_friendly_shops_avg[dog_friendly_shops_avg['dogs'] == 1].shape[0] ,dog_friendly_shops_avg.shape[0] )
print('good',dog_friendly_shops_good[dog_friendly_shops_good['dogs'] == 1].shape[0] ,dog_friendly_shops_good.shape[0] )

bad 23 60
avg 10 39
good 25 60

In [ ]:
print('Bad shops : ',df_worst_milk_sales[df_worst_milk_sales['quality'] < 0].shape[0])
print('Average shops : ',.shape[0])
print('Good shops : ',df_worst_milk_sales[(df_worst_milk_sales['quality'] > 0) & (df_worst_milk_sales['quality'] < 4)].shape[0])

In [5]:
lis_good_shops = df_best_milk_sales_good_shops.index.values.tolist()
lis_bad_shops = df_worst_milk_sales_bad_shops.index.values.tolist()

In [10]:
df_checks3 = df_checks2[['BaseSum','id_tt_cl','day_of_week']]

In [11]:
overal_sales_in_good_shops =   df_checks3[df_checks3['id_tt_cl'].isin(lis_good_shops)]['BaseSum'].sum()
overal_sales_in_bad_shops =   df_checks3[df_checks3['id_tt_cl'].isin(lis_bad_shops)]['BaseSum'].sum()

In [13]:
df_checks3['day_of_week'].unique()

array(['Thursday', 'Wednesday', 'Friday', 'Sunday', 'Saturday', 'Tuesday',
       'Monday'], dtype=object)

In [16]:
overal_weekend_sales_in_good_shops =   df_checks3[(df_checks3['id_tt_cl'].isin(lis_good_shops)) & (df_checks3['day_of_week'].isin(['Sunday', 'Saturday'])) ]['BaseSum'].sum()

In [19]:
overal_weekend_sales_in_bad_shops =   df_checks3[(df_checks3['id_tt_cl'].isin(lis_bad_shops)) & (df_checks3['day_of_week'].isin(['Sunday', 'Saturday'])) ]['BaseSum'].sum()

In [17]:
overal_weekend_sales_in_good_shops / overal_sales_in_good_shops

0.2686219476252244

In [20]:
overal_weekend_sales_in_bad_shops/overal_sales_in_bad_shops

0.25480863365326056