In [4]:
import pandas as pd
from tabulate import tabulate

In [10]:

df_april = pd.read_csv(r'2_april.csv',sep=';')

In [16]:
df_may = pd.read_csv(r'2_may.csv',sep=';')

In [17]:
df_march = pd.read_csv(r'2_march.csv',sep=';')

In [19]:
df_ost = pd.read_csv(r'2_ost.csv',sep=';')

In [21]:
df_tt = pd.read_csv(r'svao_info.csv',sep=';')

In [23]:
df_projects = pd.read_csv(r'projects for TT.csv',sep=';')

In [32]:
#print without scientific notation 
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [36]:
df_ost.head()

,id_tt,id_tov,name_tov,id_group,name_gr,id_group2,name_gr2,date_tt,morning,evening,post
0,13779,1655,Лукум с клюквой,10129,"Сладости, кондитерские изделия",10291,"Зефир, безе, пастила",2022-03-29,10.000,9.000,0
1,13779,1698,"Творог мягкий 4,5%",33,Молочная Продукция,3,Творога мягкие,2022-03-29,10.000,NaN,0
2,13779,1225,"Сливки 10%, 450 мл",33,Молочная Продукция,26,Сливки,2022-03-29,3.000,1.000,0
3,13779,16230,"Батончик мягкий ""Годжи-гуарана""",10123,Бакалея,10569,Бакалея даркстор,2022-03-29,19.000,18.000,0
4,13779,52,Сметана 25%,33,Молочная Продукция,5,Сметана,2022-03-29,2.000,3.000,6

In [37]:
df_ost_2= df_ost[df_ost['id_tov'] == 1655]
df_ost_2.head()

,id_tt,id_tov,name_tov,id_group,name_gr,id_group2,name_gr2,date_tt,morning,evening,post
0,13779,1655,Лукум с клюквой,10129,"Сладости, кондитерские изделия",10291,"Зефир, безе, пастила",2022-03-29,10.000,9.000,0
1307,14332,1655,Лукум с клюквой,10129,"Сладости, кондитерские изделия",10291,"Зефир, безе, пастила",2022-03-29,19.000,16.000,0
4223,14184,1655,Лукум с клюквой,10129,"Сладости, кондитерские изделия",10291,"Зефир, безе, пастила",2022-03-29,20.000,18.000,0
6046,14815,1655,Лукум с клюквой,10129,"Сладости, кондитерские изделия",10291,"Зефир, безе, пастила",2022-03-29,16.000,13.000,0
12403,14882,1655,Лукум с клюквой,10129,"Сладости, кондитерские изделия",10291,"Зефир, безе, пастила",2022-03-29,14.000,12.000,0

In [29]:
print(df_projects.groupby(['project_name']).count())

                    id_TT
project_name
Кафе-Пекарня           50
Кофе с собой           97
Мясная витрина          9
Отдел без упаковки     36
Рыбная витрина         13
Сокомат                36

In [39]:
df_tt.head()
print(df_tt.groupby(['Hours']).count())

                                             id_tt  adress  Shirota  Dolgota  \
Hours
Откл. с 8:00 до 23:00                            1       1        1        1
будни с 8-00 до 22-00; вых. с 9-00 до 22-00      1       1        1        1
с 7-00 до 23-45                                  3       3        3        3
с 7:00 до 23:45                                  2       2        2        2
с 8-00 до 22-00                                 30      30       30       30
с 8-00 до 23-00                                  4       4        4        4
с 9-00 до 22-00                                 33      33       33       33
с 9:00 до 23:00                                  1       1        1        1

                                             ploshad  city_tt  Район  shtat  \
Hours
Откл. с 8:00 до 23:00                              1        1      1      1
будни с 8-00 до 22-00; вых. с 9-00 до 22-00        1        1      1      1
с 7-00 до 23-45                                    3        3      3      3
с 7:00 до 23:45                                    2        2      2      2
с 8-00 до 22-00                                   30       30     30     30
с 8-00 до 23-00                                    4        4      4      4
с 9-00 до 22-00                                   33       33     33     33
с 9:00 до 23:00                                    1        1      1      1

                                             qty_kassa  qty_kassa_so  format
Hours
Откл. с 8:00 до 23:00                                1             1       1
будни с 8-00 до 22-00; вых. с 9-00 до 22-00          1             1       1
с 7-00 до 23-45                                      3             3       3
с 7:00 до 23:45                                      2             2       2
с 8-00 до 22-00                                     30            30      30
с 8-00 до 23-00                                      4             4       4
с 9-00 до 22-00                                     33            33      33
с 9:00 до 23:00                                      1             1       1